<section class="as__section as__g_documentos_tabs">
  <div class="as__section_wrapper full">
    <div class="as__section_content_full as__g_documentos_tabs_int">
      <h2>¿Qué tipo de solicitud puedes realizar?</h2>

      <ul class="as__doc_tabs_info">
        <li>
          <div class="tabs_link tab_info">
            <i class="fa-solid fa-clipboard"></i>
            <b>Petición </b>
            <p>
              Es una solicitud mediante la cual se requiere información
              adicional y complementaria sobre nuestra oferta de servicios.
            </p>
          </div>
        </li>
        <li>
          <div class="tabs_link tab_info">
            <i class="fa-solid fa-face-disappointed"></i>
            <b>Queja </b>
            <p>
              Manifestación de inconformidad sobre la atención en cualquier
              canal.
            </p>
          </div>
        </li>
        <li>
          <div class="tabs_link tab_info">
            <i class="fa-solid fa-circle-info"></i>
            <b>Reclamo </b>
            <p>
              Es la manifestación de inconformidad respecto a un producto o
              servicio adquirido, ofrecido o prestado por una entidad vigilada.
            </p>
          </div>
        </li>
        <li>
          <div class="tabs_link tab_info">
            <i class="fa-solid fa-notes"></i>
            <b>Servicio </b>
            <p>
              Es la entrega de la oferta de valor a través de los canales de
              atención, la cual puede ser: transaccional, asesoría o
              informativa.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
