<div id="recomendaciones" class="ctab ctab1">
    <section id="as__ciber_t1" class="as__section as__ciber_t2 {{bg}}" style="padding-top: 2rem !important;">
        <section class="as__section bg-alpha-20 pb-20">
            <div class="as__section_wrapper">
              <!--<h3 class="as__title_section pt-10 pb-10">Videos destacados</h3>--->
              <div class="as__section_content_full">
                <div class="grid grid-cols-1 md:grid-cols-4 grid-auto-rows gap-8">
                  <div class="flex flex-col gap-4">
                    <a
                      href="https://www.youtube.com/watch?v=OV5ld2yIdC0&list=PLOQZWsm0dD6hVq1YnzOxe6v3azYAZ8crj&index=1"
                      target="_blank"
                    >
                      <img
                        src="/assets/images/portal_1.jpg"
                        alt="Asulado te guia"
                        class="w-full rounded-3xl block"
                      />
                    </a>
                    <p class="text-base text-azul-bold text-center text-xl">
                        ¡Bienvenidos a nuestro <b>Portal Transaccional</b>!
                    </p>
                  </div>
                  <div class="flex flex-col gap-4">
                    <a
                      href="https://www.youtube.com/watch?v=mUvvF_PxG70&list=PLOQZWsm0dD6hVq1YnzOxe6v3azYAZ8crj&index=2"
                      target="_blank"
                    >
                      <img
                        src="/assets/images/portal_2.jpg"
                        alt="Asulado te guia"
                        class="w-full rounded-3xl block"
                      />
                    </a>
                    <p class="text-base text-azul-bold text-center text-xl">
                        ¡Ingresa por primera vez a nuestro <b>Portal Transaccional</b>!
                    </p>
                  </div>
                  <div class="flex flex-col gap-4">
                    <a
                      href="https://www.youtube.com/watch?v=MubXvbJgcSc&list=PLOQZWsm0dD6hVq1YnzOxe6v3azYAZ8crj&index=3"
                      target="_blank"
                    >
                      <img
                        src="/assets/images/portal_3.jpg"
                        alt="Asulado te guia"
                        class="w-full rounded-3xl block"
                      />
                    </a>
                    <p class="text-base text-azul-bold text-center text-xl">
                        ¿Necesitas cambiar tu contraseña del <b>Portal Transaccional</b>?
                    </p>
                  </div>
                  <div class="flex flex-col gap-4">
                    <a
                      href="https://www.youtube.com/watch?v=TiwYul9HwVs&list=PLOQZWsm0dD6hVq1YnzOxe6v3azYAZ8crj&index=4"
                      target="_blank"
                    >
                      <img
                        src="/assets/images/portal_4.jpg"
                        alt="Asulado te guia"
                        class="w-full rounded-3xl block"
                      />
                    </a>
                    <p class="text-base text-azul-bold text-center text-xl">
                        ¡Obtén tu <b>Certificado de Pensión</b>! 
                    </p>
                  </div>
                  <div class="flex flex-col gap-4">
                    <a
                      href="https://www.youtube.com/watch?v=c1M55Hleopg&list=PLOQZWsm0dD6hVq1YnzOxe6v3azYAZ8crj&index=5"
                      target="_blank"
                    >
                      <img
                        src="/assets/images/portal_5.jpg"
                        alt="Asulado te guia"
                        class="w-full rounded-3xl block"
                      />
                    </a>
                    <p class="text-base text-azul-bold text-center text-xl">
                        ¡Obtén tu <b>Certificado de Supervivencia</b>!
                    </p>
                  </div>
                  <div class="flex flex-col gap-4">
                    <a
                      href="https://www.youtube.com/watch?v=MMtwu9BCrXA&list=PLOQZWsm0dD6hVq1YnzOxe6v3azYAZ8crj&index=6"
                      target="_blank"
                    >
                      <img
                        src="/assets/images/portal_6.jpg"
                        alt="Asulado te guia"
                        class="w-full rounded-3xl block"
                      />
                    </a>
                    <p class="text-base text-azul-bold text-center text-xl">
                        ¡Obtén tu <b>certificado de Ingresos y Retenciones</b>!
      
                    </p>
                  </div>

                  <div class="flex flex-col gap-4">
                    <a
                      href="https://www.youtube.com/watch?v=LpfAugmzhFg&list=PLOQZWsm0dD6hVq1YnzOxe6v3azYAZ8crj&index=7"
                      target="_blank"
                    >
                      <img
                        src="/assets/images/video_portal_7.jpg"
                        alt="Asulado te guia"
                        class="w-full rounded-3xl block"
                      />
                    </a>
                    <p class="text-base text-azul-bold text-center text-xl">
                        ¿Cómo obtener una <b>Copia de mi Póliza</b>?
      
                    </p>
                  </div>

                  <div class="flex flex-col gap-4">
                    <a
                      href="https://www.youtube.com/watch?v=FRHCLAyqCEo&list=PLOQZWsm0dD6hVq1YnzOxe6v3azYAZ8crj&index=8"
                      target="_blank"
                    >
                      <img
                        src="/assets/images/video_portal_8.jpg"
                        alt="Asulado te guia"
                        class="w-full rounded-3xl block"
                      />
                    </a>
                    <p class="text-base text-azul-bold text-center text-xl">
                        ¡Redistribución <b>Mesada Pensional Sobrevivencia</b>!
      
                    </p>
                  </div>

                  <div class="flex flex-col gap-4">
                    <a
                      href="https://www.youtube.com/watch?v=HWx7I8PEkL8&list=PLOQZWsm0dD6hVq1YnzOxe6v3azYAZ8crj&index=9"
                      target="_blank"
                    >
                      <img
                        src="/assets/images/video_portal_9.jpg"
                        alt="Asulado te guia"
                        class="w-full rounded-3xl block"
                      />
                    </a>
                    <p class="text-base text-azul-bold text-center text-xl">
                        ¿Cómo actualizar la información de tu <b>Caja de Compensación</b>? 
      
                    </p>
                  </div>

                  <div class="flex flex-col gap-4">
                    <a
                      href="https://www.youtube.com/watch?v=LZ8OhGEZuNA&list=PLOQZWsm0dD6hVq1YnzOxe6v3azYAZ8crj&index=10"
                      target="_blank"
                    >
                      <img
                        src="/assets/images/video_portal_10.jpg"
                        alt="Asulado te guia"
                        class="w-full rounded-3xl block"
                      />
                    </a>
                    <p class="text-base text-azul-bold text-center text-xl">
                        ¡Conoce cómo actualizar tu <b>Certificado de Estudio</b>!
      
                    </p>
                  </div>

                  <div class="flex flex-col gap-4">
                    <a
                      href="https://www.youtube.com/watch?v=d9BOMRsqAFQ&list=PLOQZWsm0dD6hVq1YnzOxe6v3azYAZ8crj&index=11"
                      target="_blank"
                    >
                      <img
                        src="/assets/images/video_portal_11.jpg"
                        alt="Asulado te guia"
                        class="w-full rounded-3xl block"
                      />
                    </a>
                    <p class="text-base text-azul-bold text-center text-xl">
                        ¡Conoce cómo <b>Actualizar tus Datos</b>!
      
                    </p>
                  </div>

                  <div class="flex flex-col gap-4">
                    <a
                      href="https://www.youtube.com/watch?v=uAjaxGGwAV4&list=PLOQZWsm0dD6hVq1YnzOxe6v3azYAZ8crj&index=12"
                      target="_blank"
                    >
                      <img
                        src="/assets/images/video_portal_12.jpg"
                        alt="Asulado te guia"
                        class="w-full rounded-3xl block"
                      />
                    </a>
                    <p class="text-base text-azul-bold text-center text-xl">
                        ¿Cómo consultar el estado de mis <b>Novedades</b>? 
      
                    </p>
                  </div>



                </div>
              </div>
            </div>
          </section>
    </section>
</div>