<section class="as__section as__educa">
  <div class="as__section_wrapper full">
    <div class="as__section_content_full">
      <div class="as__educacion_info mb-4">
        <p>
          Para nosotros es importante dar a conocer los conceptos básicos de
          finanzas personales, seguros y el manejo del dinero, para ello tenemos
          a tu disposición los cursos de educación financiera de Fasecolda, los
          cuales podrás consultar haciendo  <a href="https://www.vivasegurofasecolda.com/" target="_blank" style="text-decoration: underline; color:#273e82;"><b class="font-bold">Haz clic aquí</b></a>
        </p>
      </div>
      <img class="img_seguro" src="/assets/images/img_viva_seguro.webp" alt="Viva seguro" />
    </div>
  </div>
</section>
