<section class="as__section as__g_educacion_tabs {{cls}}">
  <div id="faqs">
    <div class="as__section_wrapper full">
      <div class="as__section_content_full as__g_educacion_tabs_int">
        <p class="mb-4 text-azul-dark">
          Selecciona el producto sobre el cual te quieres informar:
        </p>
        <div class="as__doc_tabs_small">
          <label for="tabs">Selecciona el tema</label>
          <select id="docs_tabs">
            <option value="0">Renta Vitalicia</option>
            <option value="1">Seguro Previsional</option>
          </select>
        </div>
        <ul class="as__doc_tabs">
          <li class="w-full">
            <a
              href="#documentos"
              data-tab="0"
              aria-current="page"
              class="tabs_link active"
            >
              <div class="as__servicios_item as_servicios_rent serv_renta">
                <div class="as__servicios_image img_renta">
                  <img
                    src="/assets/images/img_renta.png"
                    alt="Renta Vitalicia"
                  />
                </div>
                <div class="as__servicios_content">
                  <p><span>Renta</span> <b>Vitalicia</b></p>
                </div>
              </div>
            </a>
          </li>
          <li class="w-full">
            <a
              href="#documentos"
              data-tab="1"
              aria-current="page"
              class="tabs_link"
            >
              <div class="as__servicios_item as_servicios_rent img_seguro">
                <div class="as__servicios_image img_seguro">
                  <img
                    src="/assets/images/img_seguro.png"
                    alt="Seguro Previsional"
                  />
                </div>
                <div class="as__servicios_content">
                  <p><span>Seguro</span> <b>Previsional</b></p>
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
