<!-- MODAL  -->
<!-- <label for="modal_sus" class="btn">open modal</label> -->
<input type="checkbox" id="modal_data" class="modal-toggle" />
<div class="modal modal_ss" role="dialog">
  <div class="modal-box">
    <!-- <form method="dialog">
      <label for="modal_data" class="close_modal close_small"> ✕ </label>
    </form> -->
    <div class="modal_info">
      <img
        src="/assets/images/PORTAL/modal_su.png"
        alt="Tratamiento de datos"
      />
      <h3>
        Recuerda aceptar nuestra política de tratamiento de datos antes de
        ingresar al portal
      </h3>
      <p>
        Esto nos permite crear un entorno seguro, confiable y transparente para
        ti
      </p>
      <!-- <a href="/suscribete" class="as__button">
        <span>Quiero registrarme</span>
        <i role="presentation" class="fa-light fa-arrow-right"></i>
      </a> -->
      <label class="modal_check" for="showcheck">
        <span> Acepto el tratamiento de datos </span>
        <input
          id="showcheck"
          name="showcheck"
          type="checkbox"
          class="checkbox checkbox-sm checkbox-info"
        />
      </label>
      <p class="read">
        Si quieres leer nuevamente nuestra política de tratamiento de datos,
        <a
          href="/assets/documentos/Politica_de_tratamiento_de_datos_personales.pdf"
          target="_blank"
        >
          haz clic aquí</a
        >
      </p>
    </div>
  </div>
  <!-- <label class="modal-backdrop" for="modal_data">Cerrar</label> -->
</div>
<!-- MODAL -->