<header id="as__header" class="as__header {{top}}">
  <nav>
    <div class="as__nav_wrap h_menu">
      <a class="as__logo" title="ASULADO" href="/PORTAL"
        ><img
          alt="asulado"
          loading="lazy"
          width="141"
          height="29"
          decoding="async"
          data-nimg="1"
          style="color: transparent"
          src="/assets/images/header_logo_w.svg"
        /><span aria-hidden="true">Asulado</span><b>Seguros de vida</b></a
      >
      <button
        id="open_menu"
        data-collapse-toggle="navbar-default"
        type="button"
        class="as__nav_button"
        aria-controls="navbar-default"
        aria-expanded="false"
      >
        <span class="sr-only">Menú</span
        ><i class="i-open fa-solid fa-bars text-xl"></i>
        <i class="i-close fa-solid fa-times text-xl"></i>
      </button>
      <ul id="as__nav_links" class="as__nav_links">
        <li class="as__nav_links_ppal_li">
          <a
            class="as__nav_links_ppal_link"
            aria-current="page"
            title="INICIO"
            href="certificados.html"
            >Certificados</a
          >
        </li>
        <li class="as__nav_links_ppal_li">
          <a
            class="as__nav_links_ppal_link"
            aria-current="page"
            title="INICIO"
            href="certificados.html"
            >Actualización de datos</a
          >
        </li>
        <li class="as__nav_links_ppal_li">
          <a
            class="as__nav_links_ppal_link"
            aria-current="page"
            title="INICIO"
            href="certificados.html"
            >Novedades</a
          >
        </li>
        <li class="as__nav_links_ppal_li">
          <a
            class="as__nav_links_ppal_link"
            aria-current="page"
            title="INICIO"
            href="/PORTAL/pqrs_1_crear.html"
            >Solicitudes y PQR</a
          >
        </li>
        <li class="as__nav_links_ppal_li">
          <a
            class="as__nav_links_ppal_link"
            aria-current="page"
            title="INICIO"
            href="certificados.html"
            >Preguntas frecuentes</a
          >
        </li>
      </ul>
    </div>
    <div class="as__nav_wrap h_tools">
      <div id="nav_search" class="as__nav_search">
        <i class="as__nav_search_ico fa-solid fa-magnifying-glass"></i>
        <form action="">
          <input type="text" placeholder="Buscar" />
          <button><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
      </div>
      <div class="as__nav_items">
        <div class="as__nav_item">
          <a class="as__nav_item_link" title="INICIO" href="certificados.html"
            ><i class="fa-solid fa-bell"></i
          ></a>
        </div>
        <div class="as__nav_item">
          <a class="as__nav_item_link" title="INICIO" href="certificados.html"
            ><i class="fa-regular fa-circle-question"></i
          ></a>
        </div>

        <!-- <div class="as__nav_item">
          <a class="as__nav_item_link" title="INICIO" href="certificados.html"
            ><i class="fa-solid fa-gear-complex"></i
          ></a>
        </div> -->
        <div class="as__nav_item dropdown dropdown-end">
          <img
            class="avat"
            src="http://i.pravatar.cc/300"
            alt="Usuario"
            tabindex="0"
            role="button"
          />
          <ul class="dropdown-content" tabindex="0">
            <li>
              <a href="#">Configuración <i class="fa-solid fa-gear"></i></a>
            </li>
            <li>
              <a href="#"
                >Cerrar sesión <i class="fa-solid fa-right-from-bracket"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
