<aside>
  <div class="as__section_content_full pa__inner_articulos">
    <div class="pa__inner_title">
      <i class="i_ayuda fa-regular fa-circle-info"></i>
      <div>
        <h2>Otros artículos de interés</h2>
      </div>
    </div>
    <ul class="servicios_articulos_item">
      <include
        src="PORTAL/p_home_articulo.html"
        locals='{ "title":" ¿Cómo ahorrar al mercar? Tips para aprovechar tu mesada pensional ",
          "image":"blog/p_1_1.webp",
          "num": 1,
          "content":" Cuando encuentras estrategias para ahorrar al mercar consigues disminuir tus gastos, mejorar tu calidad de vida y tener un dinero extra para otros objetivos, como un gustico o un ahorro para emergencias. "
        }'
      ></include>
      <include
        src="PORTAL/p_home_articulo.html"
        locals='{ "title":"¡Evita caer en estafas financieras! Sigue estos consejos y cuida tu dinero.",
        "image":"blog/p_2_1.webp",
          "num": 2,
          "content":"Hoy en día, las estafas financieras se han vuelto muy comunes y difíciles de identificar."
        }'
      ></include>
    </ul>
  </div>
</aside>
