<div class="videos_list">
  <ul>
    <li>
      <a href="/PORTAL/video_1.html">
        <h5>¿Cómo actualizar tus datos en el Portal Transaccional?</h5>
        <img src="/assets/videos/ActualizarDatos instructions.jpg" alt="" />
      </a>
    </li>
    <li>
      <a href="/PORTAL/video_1.html">
        <h5>¿Cómo actualizar tus datos?</h5>
        <img src="/assets/videos/obten_certificado_pension.jpg" alt="" />
      </a>
    </li>
    <li>
      <a href="/PORTAL/video_1.html">
        <h5>¿Cómo actualizar tus datos en el Portal Transaccional?</h5>
        <img src="/assets/videos/ActualizarDatos instructions.jpg" alt="" />
      </a>
    </li>
    <li>
      <a href="/PORTAL/video_1.html">
        <h5>¿Cómo actualizar tus datos en el Portal Transaccional?</h5>
        <img src="/assets/videos/obten_certificado_pension.jpg" alt="" />
      </a>
    </li>
    <li>
      <a href="/PORTAL/video_1.html">
        <h5>¿Cómo actualizar tus datos en el Portal Transaccional?</h5>
        <img src="/assets/videos/obten_certificado_pension.jpg" alt="" />
      </a>
    </li>
  </ul>
</div>
