<li data-tab="{{data}}" class="as__g_documentos_tcon_list_int {{cls}}">
  <div class="tcon_title tcon">
    <h3>{{ title}} <small>{{subtitle}}</small></h3>
  </div>
  <div class="tcon_que tcon">
    <i class="tcon_icon fa-solid fa-question"></i>
    <h4>¿Qué es?</h4>
    <p>{{que}}</p>
  </div>
  <div class="tcon_docs tcon">
    <i class="tcon_icon fa-solid fa-memo-circle-info"></i>
    <h4>¿Qué documentación necesitas?</h4>
    <p><b>{{documento}}</b> {{documento_sig}}</p>
  </div>
  <div class="tcon_gest tcon">
    <i class="tcon_icon fa-solid fa-list-check"></i>
    <h4>¿Cómo se gestiona?</h4>
    <p>
      Para registrar la novedad, comunícate con nuestra línea de atención
      nacional <b>01 8000 412 854</b>, en Medellín <b>(604) 402 68 76</b> o por
      nuestra página web en la sección "Solicitudes", siguiendo estos pasos:
    </p>
    <ul>
      <li>
        Ingresa a la sección de
        <a class="bt v_azul" target="_blank" href="/solicitudes">SOLICITUDES</a>
        donde podrás radicar una PQRS con tu solicitud.
      </li>
      <li>
        En el campo
        <b class="bt v_amarillo">TEMA</b>
        selecciona <b class="bt v_azulb">Novedades de Nómina</b> y luego en el
        campo <b class="bt v_azulb">DETALLE</b> escoge
        <b class="bt v_trans">{{gestion}}</b>
      </li>
      <li>
        Termina de diligenciar el <b>formulario</b> con tus datos personales.
      </li>
      <li>
        Para finalizar la radicación de la solicitud,
        <b
          >debes seleccionar el campo de aceptación del tratamiento de tus datos
          personales.</b
        >
        <b class="bt v_icon">
          <i class="fa-light fa-square-check"></i> Acepto</b
        >
      </li>
      <li>
        <b class="font-bold">¡Y ya estás listo!</b> solo debes hacer clic en el
        botón <b class="bt v_azulb">Enviar</b><br />
        <b class="font-bold text-azul-bold"
          >Gestionaremos tu caso con la mayor brevedad posible.</b
        >
      </li>
    </ul>
  </div>
</li>
