<li data-tab="{{data}}" class="as__g_faqs_tcon_list_int as__g_faqs_ls {{cls}}">
  <h3>Pensión por Invalidez o Supervivencia</h3>
  <ol class="fqs">
    <li class="fqs_list">
      <div class="fqs_list_int">
        <h4>
          ¿El capital de la Renta Vitalicia con la aseguradora es heredable?
        </h4>
        <div class="fqs_info">
          <p>
            En ASULADO Seguros de Vida tu Renta Vitalicia es una póliza y no una
            cuenta de ahorro individual, cuando el pensionado o el último de sus
            beneficiarios fallece o se dejan de cumplir con los requisitos
            establecidos por la ley, y además no existen otros beneficiarios
            para sustituir el derecho a la pensión, la póliza se finaliza y el
            capital no será heredable.
          </p>
        </div>
      </div>
    </li>
  </ol>
</li>
