<li data-tab="{{data}}" class="as__g_faqs_tcon_list_int as__g_faqs_ls {{cls}}">
  <h3>Servicios Portal Transaccional</h3>
  <ol class="fqs">
    <li class="fqs_list">
      <div class="fqs_list_int">
        <h4>
          ¿Qué servicios o solicitudes puedo realizar a través del Portal
          Transaccional?
        </h4>
        <div class="fqs_info">
          <p>
            Nuestro Portal Transaccional es un espacio creado especialmente para
            ti como parte de la familia ASULADO. Aquí podrás:
          </p>
          <ul>
            <li>
              Mantener tus datos básicos actualizados e informarnos cuando
              alguno de estos cambie.
            </li>
            <li>
              Consultar tus certificados, colillas de pago e información sobre
              tu póliza.
            </li>
            <li>
              Registrar novedades como EPS, Caja de Compensación, Cuenta
              Financiera, Aportes Voluntarios, redistribución de mesada y
              conocer la fecha límite del registro.
            </li>
            <li>
              Enviar documentos como: certificado de estudio, certificado de
              supervivencia, poderes especiales, entre otros.
            </li>
            <li>
              Crear y/o consultar tus solicitudes (PQRS) con el número del
              radicado.
            </li>
            <li>
              Conocer la fecha de tu próximo pago de la mesada pensional a
              través del calendario de pagos.
            </li>
            <li>
              Acceder a artículos de intereses sobre los servicios que
              ofrecemos.
            </li>
            <li>
              Conectarte con todos nuestros canales de atención y redes
              sociales.
            </li>
          </ul>
        </div>
      </div>
    </li>
    <li class="fqs_list">
      <div class="fqs_list_int">
        <h4>
          ¿Cómo puedo obtener documentos a través del Portal Transaccional?
        </h4>
        <div class="fqs_info">
          <p>Para saber cómo obtener certificados como:</p>
          <ul>
            <li>Colillas de pago</li>
            <li>Certificado de pensión</li>
            <li>Copias de póliza</li>
            <li>Certificado de Ingresos y Retenciones</li>
          </ul>
          <p>
            Dirígete a la sección “Gestión de documentos” (BOTÓN) en la parte
            superior de la página. Para ir directamente a la sección de
            Certificados en el Portal Transaccional, haz clic
            <a href="#">aquí.</a> (Botón que dirige a “certificados” en el
            Portal Transaccional).
          </p>
        </div>
      </div>
    </li>
    <li class="fqs_list">
      <div class="fqs_list_int">
        <h4>
          No encuentro una información en el Portal Transaccional, ¿cómo puedo
          buscarla?
        </h4>
        <div class="fqs_info">
          <p>
            En la parte superior derecha de tu pantalla encuentras el ícono de
            la lupa, allí podrás realizar tus búsquedas por palabras clave, por
            ejemplo “Certificado”, de esta forma encontrarás los links directos
            a las distintas opciones según tu necesidad.
          </p>
        </div>
      </div>
    </li>
  </ol>
</li>
