<li data-tab="{{data}}" class="as__g_faqs_tcon_list_int as__g_faqs_ls {{cls}}">
  <h3>Novedades</h3>
  <ol class="fqs">
    <li class="fqs_list">
      <div class="fqs_list_int">
        <h4>Aportes pensión voluntaria</h4>
        <div class="fqs_info fqs_step">
          <div class="tcon_que tcon">
            <div class="flex gap-4 items-center">
              <i class="tcon_icon fa-solid fa-question"></i>
              <h5>¿Qué es?</h5>
            </div>
            <p>
              Es el ahorro que realizas en Pensión Voluntaria en la AFP, el cual
              se descuenta de tu mesada pensional mensualmente.
            </p>
          </div>
          <div class="tcon_gest tcon">
            <div class="flex gap-4 items-center">
              <i class="tcon_icon fa-solid fa-list-check"></i>
              <h5>¿Cómo se gestiona?</h5>
            </div>
            <p>
              Para registrar tus novedades en el Portal Transaccional, solo
              debes seguir los siguientes pasos:
            </p>
            <ul>
              <li>
                En la página principal del Portal Transaccional, baja hasta la
                sección
                <a class="bt v_azul" target="_blank" href="#">
                  "Servicios a un clic"</a
                >
              </li>
              <li>
                Haz clic en la opción
                <b class="bt v_amarillo">Novedades de nómina</b>
                ubicada en la parte izquierda de la pantalla.
              </li>
              <li>
                En la opción
                <b class="bt v_azul">“Novedades de pensión voluntaria”</b>,
                selecciona <b class="bt v_trans">“Ver más”</b>.
              </li>
              <!-- <li>
                Una vez estés en la página de Novedades, selecciona la pestaña
                <b class="bt v_trans">“Deducción nómina”</b> en la parte
                superior.
              </li>
              <li>
                En el recuadro de
                <b class="bt v_amarillo">“Novedades Pensión Voluntaria”</b>, haz
                clic en <b class="bt v_trans">“Ir”</b>.
              </li> -->
              <li>Sigue las instrucciones y guarda tus novedades.</li>
            </ul>
          </div>
        </div>
      </div>
    </li>
    <li class="fqs_list">
      <div class="fqs_list_int">
        <h4>Novedades Caja de Compensación</h4>
        <div class="fqs_info fqs_step">
          <div class="tcon_que tcon">
            <div class="flex gap-4 items-center">
              <i class="tcon_icon fa-solid fa-question"></i>
              <h5>¿Qué es?</h5>
            </div>
            <p>
              Es la afiliación que se realiza en las diferentes cajas de
              compensación con el fin de acceder a subsidios, obtener
              microcréditos, disfrutar de tarifas preferenciales y muchos más
              beneficios.
            </p>
          </div>
          <div class="tcon_gest tcon">
            <div class="flex gap-4 items-center">
              <i class="tcon_icon fa-solid fa-list-check"></i>
              <h5>¿Cómo se gestiona?</h5>
            </div>
            <p>
              Para registrar tus novedades en el Portal Transaccional, solo
              debes seguir los siguientes pasos:
            </p>
            <ul>
              <li>
                En la página principal del Portal Transaccional, baja hasta la
                sección
                <a class="bt v_azul" target="_blank" href="#">
                  "Servicios a un clic"</a
                >
              </li>
              <li>
                Haz clic en la opción
                <b class="bt v_amarillo">Novedades de nómina</b>
                ubicada en la parte izquierda de la pantalla.
              </li>
              <li>
                En la opción
                <b class="bt v_azul">“Novedades de Caja de Compensación”</b>,
                selecciona <b class="bt v_trans">“Ver más”</b>.
              </li>
              <!-- <li>
                Una vez estés en la página de Novedades, selecciona la pestaña
                <b class="bt v_trans">“Deducción nómina”</b> en la parte
                superior.
              </li>
              <li>
                En el recuadro de
                <b class="bt v_amarillo">“Novedades de Caja de Compensación”</b
                >, haz clic en <b class="bt v_trans">“Ir”</b>.
              </li> -->
              <li>Sigue las instrucciones y guarda tus novedades.</li>
            </ul>
          </div>
        </div>
      </div>
    </li>
    <li class="fqs_list">
      <div class="fqs_list_int">
        <h4>Novedades de EPS</h4>
        <div class="fqs_info fqs_step">
          <div class="tcon_que tcon">
            <div class="flex gap-4 items-center">
              <i class="tcon_icon fa-solid fa-question"></i>
              <h5>¿Qué es?</h5>
            </div>
            <p>
              Las EPS son las instituciones responsables de la afiliación, el
              registro de los afiliados y del recaudo de sus cotizaciones al
              sistema de salud.
            </p>
          </div>
          <div class="tcon_gest tcon">
            <div class="flex gap-4 items-center">
              <i class="tcon_icon fa-solid fa-list-check"></i>
              <h5>¿Cómo se gestiona?</h5>
            </div>
            <p>
              Para registrar tus novedades en el Portal Transaccional, solo
              debes seguir los siguientes pasos:
            </p>
            <ul>
              <li>
                En la página principal del Portal Transaccional, baja hasta la
                sección
                <a class="bt v_azul" target="_blank" href="#">
                  "Servicios a un clic"</a
                >
              </li>
              <li>
                Haz clic en la opción
                <b class="bt v_amarillo">Novedades de nómina</b>
                ubicada en la parte izquierda de la pantalla.
              </li>
              <li>
                En la opción <b class="bt v_azul">“Novedades de EPS”</b>,
                selecciona <b class="bt v_trans">“Ver más”</b>.
              </li>
              <!-- <li>
                Una vez estés en la página de Novedades, selecciona la pestaña
                <b class="bt v_trans">“Deducción nómina”</b> en la parte
                superior.
              </li>
              <li>
                En el recuadro de
                <b class="bt v_amarillo">“Novedades de EPS”</b>, haz clic en
                <b class="bt v_trans">“Ir”</b>.
              </li> -->
              <li>Sigue las instrucciones y guarda tus novedades.</li>
            </ul>
          </div>
        </div>
      </div>
    </li>
    <li class="fqs_list">
      <div class="fqs_list_int">
        <h4>Redistribuciones de mesada</h4>
        <div class="fqs_info fqs_step">
          <div class="tcon_que tcon">
            <div class="flex gap-4 items-center">
              <i class="tcon_icon fa-solid fa-question"></i>
              <h5>¿Qué es?</h5>
            </div>
            <p>
              La redistribución pensional es la asignación de los derechos
              pensionales a favor de otro beneficiario con derecho a recibir la
              mesada pensional.
            </p>
          </div>
          <div class="tcon_gest tcon">
            <div class="flex gap-4 items-center">
              <i class="tcon_icon fa-solid fa-list-check"></i>
              <h5>¿Cómo se gestiona?</h5>
            </div>
            <p>
              Para registrar tus novedades en el Portal Transaccional, solo
              debes seguir los siguientes pasos:
            </p>
            <ul>
              <li>
                En la página principal del Portal Transaccional, baja hasta la
                sección
                <a class="bt v_azul" target="_blank" href="#">
                  "Servicios a un clic"</a
                >
              </li>
              <li>
                Haz clic en la opción
                <b class="bt v_amarillo">Novedades de nómina</b>
                ubicada en la parte izquierda de la pantalla.
              </li>
              <li>
                En la opción
                <b class="bt v_azul">“Redistribuciones de mesada”</b>,
                selecciona <b class="bt v_trans">“Ver más”</b>.
              </li>
              <!-- <li>
                Una vez estés en la página de Novedades, selecciona la pestaña
                <b class="bt v_trans">“Deducción nómina”</b> en la parte
                superior.
              </li>
              <li>
                En el recuadro de
                <b class="bt v_amarillo">“Redistribuciones de mesada”</b>, haz
                clic en <b class="bt v_trans">“Ir”</b>.
              </li> -->
              <li>Sigue las instrucciones y guarda tus novedades.</li>
            </ul>
          </div>
        </div>
      </div>
    </li>
    <li class="fqs_list">
      <div class="fqs_list_int">
        <h4>Certificado de estudio</h4>
        <div class="fqs_info fqs_step">
          <div class="tcon_que tcon">
            <div class="flex gap-4 items-center">
              <i class="tcon_icon fa-solid fa-question"></i>
              <h5>¿Qué es?</h5>
            </div>
            <p>
              Es la certificación acreditada por la institución del programa
              académico que están cursando los beneficiarios entre los 18 y los
              25 años, esta se solicita con el fin de sustentar el cumplimiento
              a la norma y así garantizar la condición de derecho para recibir
              las mesadas de tu póliza de sobrevivencia.
            </p>
          </div>
          <div class="tcon_gest tcon">
            <div class="flex gap-4 items-center">
              <i class="tcon_icon fa-solid fa-list-check"></i>
              <h5>¿Cómo se gestiona?</h5>
            </div>
            <p>
              Para registrar tus novedades en el Portal Transaccional, solo
              debes seguir los siguientes pasos:
            </p>
            <ul>
              <li>
                En la página principal del Portal Transaccional, baja hasta la
                sección
                <a class="bt v_azul" target="_blank" href="#">
                  "Servicios a un clic"</a
                >
              </li>
              <li>
                Haz clic en la opción
                <b class="bt v_amarillo">Novedades de nómina</b>
                ubicada en la parte izquierda de la pantalla.
              </li>
              <li>
                En la opción <b class="bt v_azul">“Certificado de estudio”</b>,
                selecciona <b class="bt v_trans">“Ver más”</b>.
              </li>
              <!-- <li>
                Una vez estés en la página de Novedades, selecciona la pestaña
                <b class="bt v_trans">“Certificación nómina”</b> en la parte
                superior.
              </li>
              <li>
                En el recuadro de
                <b class="bt v_amarillo">“Certificado de estudio”</b>, haz clic
                en <b class="bt v_trans">“Ir”</b>.
              </li> -->
              <li>Sigue las instrucciones y guarda tus novedades.</li>
            </ul>
          </div>
        </div>
      </div>
    </li>
    <li class="fqs_list">
      <div class="fqs_list_int">
        <h4>Certificado de supervivencia</h4>
        <div class="fqs_info fqs_step">
          <div class="tcon_que tcon">
            <div class="flex gap-4 items-center">
              <i class="tcon_icon fa-solid fa-question"></i>
              <h5>¿Qué es?</h5>
            </div>
            <p>
              Documento que certifica que te encuentras disponible para seguir
              recibiendo tu mesada pensional. Lo deben presentar los colombianos
              que se encuentran pensionados y viven en otro país.
            </p>
          </div>
          <div class="tcon_gest tcon">
            <div class="flex gap-4 items-center">
              <i class="tcon_icon fa-solid fa-list-check"></i>
              <h5>¿Cómo se gestiona?</h5>
            </div>
            <p>
              Para registrar tus novedades en el Portal Transaccional, solo
              debes seguir los siguientes pasos:
            </p>
            <ul>
              <li>
                En la página principal del Portal Transaccional, baja hasta la
                sección
                <a class="bt v_azul" target="_blank" href="#">
                  "Servicios a un clic"</a
                >
              </li>
              <li>
                Haz clic en la opción
                <b class="bt v_amarillo">Novedades de nómina</b>
                ubicada en la parte izquierda de la pantalla.
              </li>
              <li>
                En la opción
                <b class="bt v_azul">“Certificado de supervivencia”</b>,
                selecciona <b class="bt v_trans">“Ver más”</b>.
              </li>
              <!-- <li>
                Una vez estés en la página de Novedades, selecciona la pestaña
                <b class="bt v_trans">“Certificación nómina”</b> en la parte
                superior.
              </li>
              <li>
                En el recuadro de
                <b class="bt v_amarillo">“Certificado de supervivencia”</b>, haz
                clic en <b class="bt v_trans">“Ir”</b>.
              </li> -->
              <li>Sigue las instrucciones y guarda tus novedades.</li>
            </ul>
          </div>
        </div>
      </div>
    </li>
    <li class="fqs_list">
      <div class="fqs_list_int">
        <h4>Novedades de cuenta financiera</h4>
        <div class="fqs_info fqs_step">
          <div class="tcon_que tcon">
            <div class="flex gap-4 items-center">
              <i class="tcon_icon fa-solid fa-question"></i>
              <h5>¿Qué es?</h5>
            </div>
            <p>
              Cuéntanos si recientemente hubo cambios en tu cuenta financiera,
              como el banco o número de cuenta. Esto nos permite garantizar que
              tus mesadas se procesen sin contratiempos.
            </p>
          </div>
          <div class="tcon_gest tcon">
            <div class="flex gap-4 items-center">
              <i class="tcon_icon fa-solid fa-list-check"></i>
              <h5>¿Cómo se gestiona?</h5>
            </div>
            <p>
              Para registrar tus novedades en el Portal Transaccional, solo
              debes seguir los siguientes pasos:
            </p>
            <ul>
              <li>
                En la página principal del Portal Transaccional, baja hasta la
                sección
                <a class="bt v_azul" target="_blank" href="#">
                  "Servicios a un clic"</a
                >
              </li>
              <li>
                Haz clic en la opción
                <b class="bt v_amarillo">Novedades de nómina</b>
                ubicada en la parte izquierda de la pantalla.
              </li>
              <li>
                En la opción
                <b class="bt v_azul">“Novedades de cuenta financiera”</b>,
                selecciona <b class="bt v_trans">“Ver más”</b>.
              </li>
              <!-- <li>
                Una vez estés en la página de Novedades, selecciona la pestaña
                <b class="bt v_trans">“Certificación nómina”</b> en la parte
                superior.
              </li>
              <li>
                En el recuadro de
                <b class="bt v_amarillo">“Novedades de cuenta financiera”</b>,
                haz clic en <b class="bt v_trans">“Ir”</b>.
              </li> -->
              <li>Sigue las instrucciones y guarda tus novedades.</li>
            </ul>
          </div>
        </div>
      </div>
    </li>
    <li class="fqs_list">
      <div class="fqs_list_int">
        <h4>¿Cómo puedo consultar el estado de mis novedades?</h4>
        <div class="fqs_info fqs_step">
          <div class="tcon_gest tcon">
            <div class="flex gap-4 items-center">
              <i class="tcon_icon fa-solid fa-list-check"></i>
              <h5>¿Cómo se gestiona?</h5>
            </div>
            <p>
              Para consultar el estado de tus novedades en el Portal
              Transaccional, solo debes seguir los siguientes pasos:
            </p>
            <ul>
              <li>
                En la página principal del Portal Transaccional, baja hasta la
                sección
                <a class="bt v_azul" target="_blank" href="#">
                  "Servicios a un clic"</a
                >
              </li>
              <li>
                Haz clic en la opción
                <b class="bt v_amarillo">Novedades de nómina</b>
                ubicada en la parte izquierda de la pantalla.
              </li>
              <li>
                En la opción <b class="bt v_azul">“Consultar una novedad”</b>,
                selecciona <b class="bt v_trans">“Ver más”</b>.
              </li>
              <li>
                Una vez estés en la página de Novedades, selecciona la pestaña
                <b class="bt v_trans">“Consultar novedades”</b> en la parte
                superior.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </li>
  </ol>
</li>
