<li data-tab="{{data}}" class="as__g_faqs_tcon_list_int as__g_faqs_ls {{cls}}">
  <h3>Beneficiarios</h3>
  <ol class="fqs">
    <li class="fqs_list">
      <div class="fqs_list_int">
        <h4>¿Cómo puedo saber quiénes son mis posibles beneficiarios?</h4>
        <div class="fqs_info">
          <p>
            Para conocer esta información, selecciona la opción de
            “Certificados” que se encuentra en el menú principal y haz clic en
            “Copia de Póliza, al generar el documento podrás visualizar tus
            posibles beneficiarios.
          </p>
        </div>
      </div>
    </li>
    <li class="fqs_list">
      <div class="fqs_list_int">
        <h4>¿Cómo puedo agregar o eliminar un beneficiario?</h4>
        <div class="fqs_info">
          <p>
            En la parte superior de la pantalla, en el menú principal,
            selecciona “Solicitudes” y luego haz clic en “Crear una solicitud” y
            diligencia los campos solicitados. Puedes adjuntar documentos en
            caso de ser necesario y no olvides autorizar el tratamiento de datos
            personales.
          </p>
        </div>
      </div>
    </li>
  </ol>
</li>
