<section id="documentos" class="as__section as__g_documentos_tabs {{cls}}">
  <div id="faqs">
    <div class="as__section_wrapper">
      <div class="as__section_content_full as__g_documentos_tabs_int">
        <div class="as__doc_tabs_small">
          <label for="tabs">Selecciona el tema</label>
          <select id="docs_tabs">
            <option value="0">Contraseña y datos personales</option>
            <option value="1">Servicios Portal Transaccional</option>
            <option value="2">Solicitar y gestionar PQRS</option>
            <option value="3">Beneficiarios</option>
            <option value="4">Novedades</option>
            <option value="5">Canales de atención</option>
          </select>
        </div>
        <ul id="por__tabs" class="as__doc_tabs">
          <include
            src="PORTAL/faqs/item.html"
            locals='{ 
              "link": "#documentos",
              "tab": "0",
              "icon":"lock",
              "title":"Contraseña y datos personales",
              "hash": "contrasena",
              "anchor":"documentos"
          }'
          ></include>
          <include
            src="PORTAL/faqs/item.html"
            locals='{ 
              "link": "#documentos",
              "tab": "1",
              "icon":"stars",
              "title":"Servicios Portal Transaccional",
              "hash": "servicios",
              "anchor":"documentos"
          }'
          ></include>
          <include
            src="PORTAL/faqs/item.html"
            locals='{ 
              "link": "#documentos",
              "tab": "2",
              "icon":"question",
              "title":"Solicitar y gestionar PQRS",
              "hash": "pqrs",
              "anchor":"documentos"
          }'
          ></include>
          <include
            src="PORTAL/faqs/item.html"
            locals='{ 
              "link": "#documentos",
              "tab": "3",
              "icon":"handshake-angle",
              "title":"Beneficiarios",
              "hash": "beneficiarios",
              "anchor":"documentos"
          }'
          ></include>
          <include
            src="PORTAL/faqs/item.html"
            locals='{ 
            "link": "#documentos",
            "tab": "4",
            "icon":"circle-exclamation",
            "title":"Novedades",
            "hash": "novedades",
            "anchor":"documentos"
        }'
          ></include>
          <include
            src="PORTAL/faqs/item.html"
            locals='{ 
            "link": "#documentos",
            "tab": "5",
            "icon":"phone",
            "title":"Canales de atención",
            "hash": "canaless",
            "anchor":"documentos"
        }'
          ></include>
        </ul>
      </div>
    </div>
  </div>
</section>
