<li data-tab="{{data}}" class="as__g_faqs_tcon_list_int as__g_faqs_ls {{cls}}">
  <h3>Trámites entidades financieras</h3>
  <ol class="fqs">
    <li class="fqs_list">
      <div class="fqs_list_int">
        <h4>
          Si cambio de medio de pago o cuenta bancaria ¿cómo lo notifico a
          ASULADO Seguros de Vida?
        </h4>
        <div class="fqs_info">
          <p>
            Para informarnos sobre la actualización de tus medios de pago o
            cuenta bancaria, comunícate con nuestras líneas de atención a nivel
            nacional 018000 412 854 y en Medellín al (604) 4026876, donde se
            validará la identidad del solicitante, se pedirá el certificado
            bancario y se procederá con la actualización de la información.
          </p>
        </div>
      </div>
    </li>
    <li class="fqs_list">
      <div class="fqs_list_int">
        <h4>¿Puedo solicitar un crédito con ASULADO Seguros de Vida?</h4>
        <div class="fqs_info">
          <p>
            Desde ASULADO Seguros de Vida no ofrecemos servicios de crédito o
            libranza. Para realizar esta solicitud puedes contactarte con la
            entidad financiera de tu elección, realizar el proceso e informar
            cómo quieres incorporar las deducciones de tu crédito desde tu
            mesada pensional.
          </p>
          <p>
            Debes tener presente que para aplicar el descuento en la mesada
            pensional, la entidad debe estar registrada como operadora de
            libranza en el Registro Único Nacional de Entidades Operadoras de
            Libranza (RUNEOL), el cual puedes consultar aquí.
          </p>
          <p>
            La entidad se encarga de enviar la información a ASULADO Seguros de
            Vida y son quienes te dan respuesta sobre la aplicación o no de la
            novedad en tu nómina.
          </p>
        </div>
      </div>
    </li>
    <li class="fqs_list">
      <div class="fqs_list_int">
        <h4>
          Si fallezco, ¿ASULADO Seguros de Vida cubriría los gastos fúnebres?
        </h4>
        <div class="fqs_info">
          <p>
            Si eres pensionado por invalidez o sobrevivencia cuentas con un
            auxilio funerario y en caso de fallecimiento del asegurado, quien
            haya incurrido con los gastos funerarios podría recibir el valor
            equivalente a la normativa colombiana.
          </p>
        </div>
      </div>
    </li>
  </ol>
</li>
