<li data-tab="{{data}}" class="as__g_faqs_tcon_list_int as__g_faqs_ls {{cls}}">
  <h3>Deducciones de nómina</h3>
  <ol class="fqs">
    <li class="fqs_list">
      <div class="fqs_list_int">
        <h4>¿Cómo puedo registrar una redistribución de mesada?</h4>
        <div class="fqs_info">
          <p>
            Después de iniciar sesión, en la sección principal llamada
            “Servicios a un clic”, seleccionada la opción “Novedades de nómina”
            ubicada en el menú izquierda de tu pantalla, haz clic en
            “Redistribuciones de mesada”, después en ver más y adjunta el
            formato de retribución.
          </p>
        </div>
      </div>
    </li>
    <li class="fqs_list">
      <div class="fqs_list_int">
        <h4>¿Cómo puedo registrar una novedad de EPS?</h4>
        <div class="fqs_info">
          <p>
            o Para actualizar esta información, debes iniciar sesión y en la
            sección principal llamada “Servicios a un clic”, haz clic en la
            opción “Novedades de nómina” ubicada en el menú izquierda de tu
            pantalla, haz clic en la opción “Novedades de EPS”, después en “Ver
            más” y sigue las instrucciones según la necesidad
            Afiliación/Traslado/Retiro de EPS. Recuerda tener el documento de la
            novedad a la mano.
          </p>
        </div>
      </div>
    </li>
    <li class="fqs_list">
      <div class="fqs_list_int">
        <h4>¿Cómo puedo registrar una novedad de Caja de Compensación?</h4>
        <div class="fqs_info">
          <p>
            Para hacer este registro, deberás iniciar sesión y en la sección
            principal llamada “Servicios a un clic”, seleccionada la opción
            “Novedades de nómina” ubicada en el menú izquierda de tu pantalla,
            haz clic en la opción “Novedades de Caja de Compensación”, después
            en “Ver más” y sigue las instrucciones según tu necesidad
            Actualización/Traslado/Retiro. Recuerda tener el documento de la
            novedad a la mano.
          </p>
        </div>
      </div>
    </li>
    <li class="fqs_list">
      <div class="fqs_list_int">
        <h4>¿Cómo puedo enviar mi certificado de estudio?</h4>
        <div class="fqs_info">
          <p>
            Para realizar este envío de certificado, deberás iniciar sesión y en
            la sección principal llamada “Servicios a un clic”, haz clic en la
            opción “Novedades de nómina” ubicada en el menú izquierda de tu
            pantalla, selecciona “Certificado de estudio”, después en “Ver más”
            y sigue las instrucciones. Recuerda tener el documento de la novedad
            a la mano.
          </p>
        </div>
      </div>
    </li>
    <li class="fqs_list">
      <div class="fqs_list_int">
        <h4>¿Cómo puedo enviar mi certificado de supervivencia?</h4>
        <div class="fqs_info">
          <p>
            Después de iniciar sesión, en la sección principal llamada
            “Servicios a un clic”, seleccionada la opción “Novedades de nómina”
            ubicada en el menú izquierda de tu pantalla, haz clic en la opción
            “Certificado de supervivencia”, después en “Ver más” y sigue las
            instrucciones. Recuerda tener el documento de la novedad a la mano.
          </p>
        </div>
      </div>
    </li>
    <li class="fqs_list">
      <div class="fqs_list_int">
        <h4>
          Si tengo cambios en mi cuenta financiera ¿Cómo puedo informar este
          cambio?
        </h4>
        <div class="fqs_info">
          <p>
            Para nosotros es fundamental tener tu información actualizada. Para
            realizar este cambio de cuenta, después de iniciar sesión, en la
            sección principal llamada “Servicios a un clic”, seleccionada la
            opción “Novedades de nómina” ubicada en el menú izquierda de tu
            pantalla, haz clic en la opción “Novedades de cuenta financiera”,
            después en “Ver más” y sigue las instrucciones. Recuerda tener el
            certificado de la cuenta financiera a la mano.
          </p>
        </div>
      </div>
    </li>
    <li class="fqs_list">
      <div class="fqs_list_int">
        <h4>¿Cómo puedo informar una novedad en mi Pensión Voluntaria?</h4>
        <div class="fqs_info">
          <p>
            o Si tienes una novedad por informarnos, en la sección principal
            llamada “Servicios a un clic”, haz clic en la opción “Novedades de
            nómina” ubicada en el menú izquierda de tu pantalla, haz clic en la
            opción “Novedades pensión voluntaria”, después en “Ver más” y sigue
            las instrucciones…
          </p>
        </div>
      </div>
    </li>
    <li class="fqs_list">
      <div class="fqs_list_int">
        <h4>¿Dónde puedo hacer seguimiento a la novedad que registré?</h4>
        <div class="fqs_info">
          <p>
            Para hacer seguimiento a tus novedades, debes iniciar sesión y en la
            sección principal llamada “Servicios a un clic”, seleccionada la
            opción “Novedades de nómina” ubicada en el menú izquierda de tu
            pantalla, haz clic en la opción “Consultar una novedad”, después en
            “Ver más” podrás visualizar el tipo de novedad y el estado de esta.
          </p>
        </div>
      </div>
    </li>
    <li class="fqs_list">
      <div class="fqs_list_int">
        <h4>
          ¿Qué debo tener presente antes de registrar cualquier información en
          el Portal Transaccional?
        </h4>
        <div class="fqs_info">
          <p>
            Te recomendamos tener a la mano el teléfono móvil, el documento de
            identidad y garantizar el acceso a internet y correo electrónico. Si
            deseas registrar una novedad, no olvides enviarnos una copia del
            documento.
          </p>
        </div>
      </div>
    </li>
  </ol>
</li>
