<li data-tab="{{data}}" class="as__g_faqs_tcon_list_int as__g_faqs_ls {{cls}}">
  <h3>Cambio de contraseña</h3>
  <ol class="fqs">
    <li class="fqs_list">
      <div class="fqs_list_int">
        <h4>¿Cómo puedo cambiar mi contraseña?</h4>
        <div class="fqs_info">
          <p>
            Al iniciar la sesión, haz clic en el ícono de tu perfil que aparece
            en la parte superior derecha de tu pantalla, selecciona la opción
            “Cambiar Contraseña” y sigue las instrucciones.
          </p>
        </div>
      </div>
    </li>
    <li class="fqs_list">
      <div class="fqs_list_int">
        <h4>Olvidé mi contraseña ¿qué debo hacer?</h4>
        <div class="fqs_info">
          <p>
            Si olvidaste tu contraseña, no te preocupes. En la página de inicio
            del Portal Transaccional encontrarás un enlace para recuperarla.
            Solo tienes que ingresar tu número de documento, el correo
          </p>
        </div>
      </div>
    </li>
  </ol>
</li>
