<section class="as__section as__g_documentos_tabs {{cls}}">
  <div id="faqs">
    <div class="as__section_wrapper full">
      <div class="as__section_content_full as__g_documentos_tabs_int">
        <div class="as__doc_tabs_small">
          <label for="tabs">Selecciona el tema</label>
          <select id="docs_tabs">
            <option value="0">Cambio de contraseña</option>
            <option value="1">Actualización datos personales</option>
            <option value="2">Servicios portal transaccional</option>
            <option value="3">Solicitar y gestionar PQRS</option>
            <option value="4">Beneficiarios</option>
            <option value="5">Deducciones de nómina</option>
            <option value="6">Canales de atención</option>
          </select>
        </div>
        <ul class="as__doc_tabs">
          <li class="w-full">
            <a
              href="#documentos"
              data-tab="0"
              aria-current="page"
              class="tabs_link active"
            >
              <i class="fa-solid fa-key"></i>
              <b>Cambio de contraseña</b>
            </a>
          </li>
          <li class="w-full">
            <a
              href="#documentos"
              data-tab="1"
              aria-current="page"
              class="tabs_link"
            >
              <i class="fa-solid fa-person"></i>
              <b>Actualización datos personales</b>
            </a>
          </li>
          <li class="w-full">
            <a href="#faqs" data-tab="2" aria-current="page" class="tabs_link">
              <i class="fa-sharp fa-light fa-pen-field"></i>
              <b>Servicios portal transaccional</b>
            </a>
          </li>
          <li class="w-full">
            <a href="#faqs" data-tab="3" aria-current="page" class="tabs_link">
              <i class="fa-solid fa-circle-info"></i>
              <b>Solicitar y gestionar PQRS</b>
            </a>
          </li>
          <li class="w-full">
            <a href="#faqs" data-tab="4" aria-current="page" class="tabs_link">
              <i class="fa-solid fa-hand-holding-medical"></i>
              <b>Beneficiarios</b>
            </a>
          </li>
          <li class="w-full">
            <a href="#faqs" data-tab="5" aria-current="page" class="tabs_link">
              <i class="fa-solid fa-dollar-sign"></i>
              <b>Deducciones de nómina</b>
            </a>
          </li>
          <li class="w-full">
            <a href="#faqs" data-tab="6" aria-current="page" class="tabs_link">
              <i class="fa-solid fa-phone-flip"></i>
              <b>Canales de atención</b>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
