<section class="as__section as__g_documentos_tabs {{cls}}">
  <div id="faqs">
    <div class="as__section_wrapper full">
      <div class="as__section_content_full as__g_documentos_tabs_int">
        <div class="as__doc_tabs_small">
          <label for="tabs">Selecciona el tema</label>
          <select id="docs_tabs">
            <option value="0">Sobre ASULADO</option>
            <option value="1">Pensión por invalidez o sobrevivencia</option>
            <option value="2">Certificados y documentos</option>
            <option value="3">Mesada pensional</option>
            <option value="4">EPS y cajas de compensación</option>
            <option value="5">Sobre temas financieros</option>
          </select>
        </div>
        <ul class="as__doc_tabs">
          <li class="w-full">
            <a
              href="#documentos"
              data-tab="0"
              aria-current="page"
              class="tabs_link active"
            >
              <i class="fa-solid fa-info"></i>
              <b>Sobre ASULADO</b>
            </a>
          </li>
          <li class="w-full">
            <a
              href="#documentos"
              data-tab="1"
              aria-current="page"
              class="tabs_link"
            >
              <i class="fa-solid fa-wheelchair"></i>
              <b>Pensión por invalidez o sobrevivencia </b>
            </a>
          </li>
          <li class="w-full">
            <a href="#faqs" data-tab="2" aria-current="page" class="tabs_link">
              <i class="fa-sharp fa-light fa-file-invoice"></i>
              <b>Certificados y documentos</b>
            </a>
          </li>
          <li class="w-full">
            <a href="#faqs" data-tab="3" aria-current="page" class="tabs_link">
              <i class="fa-solid fa-money-check"></i>
              <b>Mesada pensional</b>
            </a>
          </li>
          <li class="w-full">
            <a href="#faqs" data-tab="4" aria-current="page" class="tabs_link">
              <i class="fa-solid fa-house-medical"></i>
              <b>EPS y cajas de compensación</b>
            </a>
          </li>
          <li class="w-full">
            <a href="#faqs" data-tab="5" aria-current="page" class="tabs_link">
              <i class="fa-solid fa-dollar-sign"></i>
              <b>Sobre temas financieros</b>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
