<header id="as__header" class="as__header {{top}}">
  <nav>
    <a class="as__logo" title="ASULADO" href="/"
      ><img
        alt="asulado"
        loading="lazy"
        width="141"
        height="29"
        decoding="async"
        data-nimg="1"
        style="color: transparent"
        src="/assets/images/header_logo.svg"
      /><span aria-hidden="true">Asulado</span><b>Seguros de vida</b></a
    >
    <button
      id="open_menu"
      data-collapse-toggle="navbar-default"
      type="button"
      class="as__nav_button"
      aria-controls="navbar-default"
      aria-expanded="false"
    >
      <span class="sr-only">Menú</span
      ><i class="i-open fa-solid fa-bars text-xl"></i>
      <i class="i-close fa-solid fa-times text-xl"></i>
    </button>
    <ul id="as__nav_links" class="as__nav_links">
      <li class="as__nav_links_ppal_li">
        <a
          class="as__nav_links_ppal_link"
          aria-current="page"
          title="INICIO"
          href="/"
          >INICIO</a
        >
      </li>
      <li class="hoverable as__nav_links_ppal_li">
        <a
          class="as__nav_links_ppal_link relative block"
          aria-current="page"
          title="NOSOTROS"
          href="/nuestra_empresa"
          >NOSOTROS</a
        >
        <div class="mega-menu">
          <ul class="mega-menu-wrap">
            <li>
              <a href="/nuestra_empresa" title="Sobre nosotros">
                <div class="mega-menu-content">
                  <div class="mm_title">Sobre nosotros</div>
                  <p>
                    Somos una compañía que busca dinamizar el mercado de
                    desacumulación patrimonial y completar la oferta de
                    aseguramiento
                  </p>
                </div>
                <i class="fa-duotone fa-circle-arrow-right"></i>
              </a>
            </li>
            <li>
              <a href="/renta_vitalicia" title="Renta Vitalicia">
                <div class="mega-menu-content">
                  <div class="mm_title">Gobierno corporativo</div>
                  <p>
                    Queremos acompañar a los colombianos para que puedan
                    construir bienestar para el futuro, el retiro y la vejez,
                    así como solventar situaciones de invalidez o sobrevivencia
                  </p>
                </div>
                <i class="fa-duotone fa-circle-arrow-right"></i>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="hoverable as__nav_links_ppal_li">
        <a
          class="as__nav_links_ppal_link relative block"
          aria-current="page"
          title="PRODUCTOS"
          href="/renta_vitalicia"
          >PRODUCTOS</a
        >
        <div class="mega-menu">
          <ul class="mega-menu-wrap">
            <li>
              <a href="/renta_vitalicia" title="Renta Vitalicia">
                <div class="mega-menu-content">
                  <div class="mm_title">Renta Vitalicia</div>
                  <p>
                    Es la mesada que el pensionado recibirá mientras cumpla con
                    los requisitos necesarios, lo que se traduce en tranquilidad
                    económica
                  </p>
                </div>
                <i class="fa-duotone fa-circle-arrow-right"></i>
              </a>
            </li>
            <li>
              <a href="/seguro_previsional" title="Seguro Previsional">
                <div class="mega-menu-content">
                  <div class="mm_title">Seguro Previsional</div>
                  <p>
                    Es la garantía que tienen todos los cotizantes pensionados
                    anticipadamente por invalidez o fallecimiento, para hacer su
                    ahorro efectivo.
                  </p>
                </div>
                <i class="fa-duotone fa-circle-arrow-right"></i>
              </a>
            </li>
            <li>
              <a
                href="/pension_sobreviviencia"
                title="Pensión por Sobrevivencia"
              >
                <div class="mega-menu-content">
                  <div class="mm_title">Pensión por Sobrevivencia</div>
                  <p>
                    Beneficio economico mensual para la familia del beneficiario
                    en caso de su fallecimiento
                  </p>
                </div>
                <i class="fa-duotone fa-circle-arrow-right"></i>
              </a>
            </li>
            <li>
              <a href="/pension_invalidez" title="Pensión por Invalidez">
                <div class="mega-menu-content">
                  <div class="mm_title">Pensión por Invalidez</div>
                  <p>
                    Beneficio económico que se entrega a las personas que han
                    presentado una diacapacidad permanente
                  </p>
                </div>
                <i class="fa-duotone fa-circle-arrow-right"></i>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="as__nav_links_ppal_li">
        <a
          class="as__nav_links_ppal_link"
          aria-current="page"
          title="SOLICITUDES"
          href="/"
          >SOLICITUDES O PETICIONES</a
        >
      </li>
      <li class="as__nav_links_ppal_li">
        <a
          class="as__nav_links_ppal_link"
          aria-current="page"
          title="PREGUNTAS"
          href="/preguntas_frecuentes"
          >PREGUNTAS</a
        >
      </li>
      <li class="as__nav_links_ppal_li">
        <button
          class="as__nav_links_ppal_link dest"
          aria-current="page"
          title="Blog | DE INTERÉS"
        >
          DE INTERÉS
        </button>
      </li>
      <li class="usability as__nav_links_ppal_li">
        <a
          class="as__nav_links_ppal_link"
          role="button"
          onclick="window.interdeal.a11y.openMenu()"
          href="#"
          aria-current="page"
          title="Usabilidad"
          ><i role="presentation" class="fa-solid fa-universal-access"></i
        ></a>
      </li>
    </ul>
  </nav>
</header>
