<header class="as__header {{top}}">
  <nav>
    <a class="as__logo" title="ASULADO" href="/"
      ><img
        alt="asulado"
        loading="lazy"
        width="141"
        height="29"
        decoding="async"
        data-nimg="1"
        style="color: transparent"
        src="/assets/images/header_logo.svg"
      /><span aria-hidden="true">Asulado</span><b>Seguros de vida</b></a
    >
    <button
      id="open_menu"
      data-collapse-toggle="navbar-default"
      type="button"
      class="as__nav_button"
      aria-controls="navbar-default"
      aria-expanded="false"
    >
      <span class="sr-only">Abrir menú</span
      ><i class="fa-solid fa-bars text-xl"></i>
    </button>
    <div class="as__nav_links nav_close" id="navbar-default">
      <ul>
        <li><a aria-current="page" title="INICIO" href="/">INICIO</a></li>
        <li>
          <a aria-current="page" title="NOSOTROS" href="/nuestra_empresa"
            >NOSOTROS</a
          >
        </li>
        <li>
          <a aria-current="page" title="PRODUCTOS" href="/test">PRODUCTOS</a>
        </li>
        <li>
          <a aria-current="page" title="SOBREVIVENCIA" href="/"
            >SOBREVIVENCIA</a
          >
        </li>
        <li><a aria-current="page" title="INVALIDEZ" href="/">INVALIDEZ</a></li>
        <li>
          <a aria-current="page" title="SOLICITUDES" href="/">SOLICITUDES</a>
        </li>
        <li><a aria-current="page" title="PREGUNTAS" href="/">PREGUNTAS</a></li>
        <li>
          <button class="dest" aria-current="page" title="Blog | DE INTERÉS">
            DE INTERÉS
          </button>
        </li>
        <li>
          <a href="#" aria-current="page" title="Usabilidad"
            ><i role="presentation" class="fa-solid fa-universal-access"></i
          ></a>
        </li>
      </ul>
    </div>
  </nav>
</header>
