@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "__avenir_d0bd6f";
  src: url(https://melborp.s3.us-east-2.amazonaws.com/assets/fonts/ee0063ed4c3236ca-s.p.woff)
    format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "__avenir_d0bd6f";
  src: url(https://melborp.s3.us-east-2.amazonaws.com/assets/fonts/ce9abbd2222b7882-s.p.woff)
    format("woff");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "__avenir_d0bd6f";
  src: url(https://melborp.s3.us-east-2.amazonaws.com/assets/fonts/60964256366d74f2-s.p.woff)
    format("woff");
  font-display: swap;
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "__avenir_d0bd6f";
  src: url(https://melborp.s3.us-east-2.amazonaws.com/assets/fonts/7d16627dbfbbee5d-s.p.woff)
    format("woff");
  font-display: swap;
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "__avenir_d0bd6f";
  src: url(https://melborp.s3.us-east-2.amazonaws.com/assets/fonts/33112a1a3babe854-s.p.woff)
    format("woff");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "__avenir_Fallback_d0bd6f";
  src: local("Arial");
  ascent-override: 98.43%;
  descent-override: 36.03%;
  line-gap-override: 0%;
  size-adjust: 101.59%;
}
.__className_d0bd6f {
  font-family: "__avenir_d0bd6f", "__avenir_Fallback_d0bd6f";
}

@font-face {
  font-family: "__jeko_bd9979";
  src: url(https://melborp.s3.us-east-2.amazonaws.com/assets/fonts/e86cc954d8c82a89-s.p.woff)
    format("woff");
  font-display: swap;
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "__jeko_bd9979";
  src: url(https://melborp.s3.us-east-2.amazonaws.com/assets/fonts/0a5eb17cd5d9a87b-s.p.woff)
    format("woff");
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "__jeko_bd9979";
  src: url(https://melborp.s3.us-east-2.amazonaws.com/assets/fonts/87cbde00c95e8478-s.p.woff)
    format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "__jeko_Fallback_bd9979";
  src: local("Arial");
  ascent-override: 86.44%;
  descent-override: 22.51%;
  line-gap-override: 20.26%;
  size-adjust: 111.06%;
}
.__className_bd9979 {
  font-family: "__jeko_bd9979", "__jeko_Fallback_bd9979";
}

:root {
  --font-avenir: "__avenir_d0bd6f", "__avenir_Fallback_d0bd6f";
  --font-je: "__jeko_bd9979", "__jeko_Fallback_bd9979";
}

body {
  @apply font-sans;
}
.as__wrapper {
}
.as__header {
  @apply flex items-center justify-between bg-transparent py-2 transition-colors duration-300 ease-in-out lg:px-4;
  &.as__header_scroll,
  &.open {
    @apply border-b border-gray-100 bg-white bg-opacity-50 backdrop-blur-3xl lg:bg-opacity-90 lg:backdrop-blur-sm;
  }
}
.as__header {
  @apply fixed left-0 right-0 top-0 z-50 w-full font-sans delay-300 duration-700;
  &.open {
    .as__nav_button {
      @apply bg-azul-bold text-white focus:ring-blue-200;
    }
  }
  nav {
    @apply mx-auto flex w-full flex-wrap items-center justify-between 2xl:container 2xl:mx-auto 2xl:px-8;
    .as__logo {
      @apply flex flex-col items-center pl-2 lg:pl-0;
      svg {
        @apply h-6 md:h-7;
      }
      span {
        @apply hidden;
      }
      b {
        @apply text-xs font-bold uppercase tracking-wide text-[#2EB2CF] md:text-sm;
      }
    }
    .as__nav_button {
      @apply mr-2 inline-flex h-8 w-8 items-center justify-center rounded-lg p-2 text-sm text-primary focus:outline-none focus:ring-2 focus:ring-blue-200 lg:hidden;
    }

    .as__nav_links {
      @apply hidden h-auto min-h-screen w-full items-center justify-center  lg:block lg:min-h-max lg:w-auto lg:bg-transparent lg:backdrop-blur-none;

      &.nav_open {
        @apply block duration-700 animate-in fade-in;
      }
      ul {
        @apply flex h-full min-h-screen w-full flex-col items-center py-20 lg:h-auto lg:min-h-max lg:flex-row lg:gap-x-1  lg:border-0 lg:p-0 xl:gap-x-5;
        li {
          @apply my-auto w-full px-4 text-center md:w-auto md:px-0;
          a,
          button {
            @apply block rounded-2xl px-2 pb-1 pt-1.5 text-xl leading-none text-primary transition-colors ease-in-out hover:bg-blue-100 hover:text-azul-bold md:px-2 md:text-sm;
            i {
              @apply text-xl;
            }
            &.dest {
              @apply mx-auto block rounded-full border border-primary bg-white px-3 pb-1.5 pt-2 text-primary;
              &:hover {
                @apply bg-amarillo-light text-azul-dark duration-700 animate-in fade-in;
              }
            }
          }
        }
      }
    }
  }
}
.as__header_vigilado {
  @apply fixed bottom-11 left-2 z-10;
}
.as__page_home {
}
.as__section {
  @apply w-full;
  .as__section_wrapper {
    @apply w-full px-6 2xl:container 2xl:mx-auto 2xl:px-0;
    .as__section_content {
      @apply xl:mx-auto xl:w-10/12;
    }
    .as__section_content_full {
      @apply mx-auto w-full;
    }
  }
}

.as__title_section {
  @apply font-je flex gap-x-4 align-bottom text-xl font-bold text-primary leading-none;
  &:after {
    @apply mb-0.5 inline-block h-0.5 w-4 self-end;
    content: "";
  }
}

.as__marquee {
  @apply flex w-full flex-col overflow-hidden whitespace-nowrap;
  div {
    @apply font-je whitespace-nowrap text-[12em] font-bold  leading-none md:text-[20em];
    &.as__marquee_to_left {
      @apply self-start;
    }
    &.as__marquee_to_right {
      @apply self-end;
    }
  }
}

.as__button {
  @apply flex items-center justify-center text-sm uppercase leading-none;
  span {
    @apply flex h-9 items-center justify-center rounded-full bg-amarillo-light px-8 pt-0.5 text-center text-azul-dark transition-all duration-300 ease-in-out;
  }
  i {
    @apply flex h-9 w-9 items-center justify-center rounded-full bg-amarillo-light text-center text-azul-dark transition-all duration-300 ease-in-out;
  }
  &:hover {
    span {
      @apply rounded-br-none rounded-tr-none bg-azul-dark text-white;
    }
    i {
      @apply rounded-bl-none rounded-tl-none bg-azul-dark text-white;
    }
  }
  &.small {
    @apply text-xs;
    span {
      @apply h-8 px-6;
    }
    i {
      @apply h-8 w-8;
    }
  }
}

.as__footer {
  @apply bg-gradient-to-b  from-[#E9F3FA] via-white via-30%  to-white pt-24;
  .as__footer_contact {
    @apply flex-col gap-y-8 border-b border-azul-norm pb-12 text-azul-norm;
    h5 {
    }
    .as__footer_contact_info {
      @apply flex flex-col justify-between gap-y-4 md:flex-row md:gap-y-0;
      .as_footer_ct {
        @apply flex flex-col gap-y-4;
        .as_footer_ct_item {
          @apply flex gap-x-2;
          .ttle {
            @apply mb-2 text-lg text-azul-dark font-bold;
          }
          i {
            @apply flex h-6 w-6 items-center justify-center rounded-full bg-[#E9F5F8] text-sm text-[#2EB2CF];
          }
          p {
            @apply mb-0;
            &.space {
              @apply mb-1;
            }
          }
        }
      }
    }
  }
  .as__footer_menu {
    @apply pt-8;
    nav {
      ul {
        @apply flex flex-col flex-wrap justify-start gap-3 md:flex-row md:gap-x-4;
        li {
          @apply text-azul-norm;
          a {
            @apply hover:text-azul-dark;
          }
        }
      }
    }
  }
  .as__footer_menu_sec {
    @apply flex flex-col items-stretch justify-between pt-8 md:flex-row md:gap-x-8;
    ul {
      @apply flex flex-col flex-wrap justify-start gap-2 md:flex-row;
      li {
        @apply text-gray-700 md:text-azul-norm;
        a {
          @apply mr-3 hover:text-azul-dark md:border-l md:border-gray-400 md:pl-2;
        }
      }
    }
    .as__footer_social {
      @apply ml-0 mt-8 flex h-full flex-row justify-between p-0 md:mt-0 md:flex-col md:gap-y-4;
      a {
        i {
          @apply text-3xl text-azul-norm;
        }
      }
    }
  }
  .as__footer_brands {
    @apply flex flex-col flex-wrap items-center justify-between gap-y-8 border-b border-azul-dark pb-8 pt-12 md:flex-row md:gap-y-0 md:pt-32;
    .as__footer_brands_int {
      @apply flex flex-col flex-wrap items-start justify-start gap-y-2 text-azul-norm md:flex-row md:items-center md:gap-x-2 md:gap-y-0;
      span {
        @apply mt-2 block;
      }
      svg {
        @apply h-7;
      }
    }
    .logo_footer {
      @apply w-full md:h-7 md:w-auto;
    }
  }
  .as__footer_legals {
    @apply flex flex-col justify-between gap-x-8  gap-y-8 py-8 text-azul-norm md:flex-row md:items-center;
  }
}

/** HOME */
/**BANNERS */

.as__banner {
  background-image: radial-gradient(
    110.77% 55.84% at 51.35% 73.87%,
    #f7fcff 0%,
    #fff 100%
  );
  @apply relative grid min-h-[60vh] grid-cols-6  grid-rows-5 overflow-hidden 2xl:container md:min-h-[90vh] 2xl:mx-auto;
  @media screen and (min-height: 901px) {
    @apply min-h-max;
  }
  &:before {
    background: linear-gradient(
      89.55deg,
      #ffffff -1.89%,
      rgba(255, 255, 255, 0) 13.97%,
      rgba(255, 255, 255, 0) 84.81%,
      #ffffff 99.61%,
      #ffffff 99.61%
    );
    content: "";
    @apply z-10 col-span-6 col-start-1 row-span-5 row-start-1 hidden  2xl:block;
  }
  .as__banner_content {
    @apply z-10 col-span-4 col-start-2 row-span-3  row-start-1 mx-auto flex w-full flex-col items-center justify-center text-center sm:col-span-4 sm:col-start-2 sm:row-span-2 sm:row-start-2 md:col-span-2 md:col-start-3 md:row-span-4 md:row-start-1;

    h1 {
      @apply my-auto flex w-full flex-col gap-y-4 px-4 text-center font-je font-bold opacity-0 sm:mb-20 sm:mt-auto md:px-0;
      span {
        @apply flex w-full flex-grow items-center justify-between gap-x-4 text-[6vw] font-bold leading-[1em] text-primary sm:text-[3.5vw] md:text-[3vw] 2xl:text-6xl;
        &:after {
          @apply block h-0.5 w-auto flex-auto bg-azul-dark;
          content: "";
        }
        &:before {
          @apply block  h-0.5 w-auto flex-auto bg-azul-dark;
          content: "";
        }
      }
      b {
        @apply text-center text-[12vw] font-bold leading-[0.6em] text-primary sm:text-[10vw] md:text-[6vw] 2xl:text-8xl 2xl:leading-[0.6em];
      }
      strong {
        @apply text-center text-[7.4vw] font-bold leading-none text-azul-bold sm:text-[7vw] md:text-[4vw] md:leading-[0.8em] 2xl:text-6xl;
      }
    }
  }
  .as__banner_elements {
    @apply relative z-0 col-span-6 col-start-1  row-span-5 row-start-1 flex h-auto items-center justify-center overflow-hidden md:row-span-5 md:row-start-1;
    svg {
      @apply absolute z-0 h-[336px] w-[800px] md:relative md:h-full md:w-full;
    }
  }
  .as__banner_piso {
    background: radial-gradient(
      53.31% 117.65% at 54.89% 12.61%,
      #d5e8f6 0%,
      rgba(255, 255, 255, 0.39) 100%
    );
    @apply z-0 col-span-6 col-start-1 row-span-1 row-start-5;
  }
  .as__banner_left {
    @apply z-10 col-span-8 col-start-1 row-span-5 row-start-3 grid items-start overflow-hidden  sm:col-span-2 sm:col-start-1 md:col-span-2 md:col-start-1 md:row-span-6 md:row-start-1 md:items-end;
    .as__banner_left_int {
      @apply col-span-1 col-start-1 row-span-1 row-start-1 mt-auto flex w-full justify-center overflow-hidden opacity-0;
      img,
      svg {
        @apply -ml-[10%] mb-8 w-3/5 sm:w-[99%] md:ml-0 md:w-[100%] 2xl:w-[100%];
      }
    }
  }
  .as__banner_right {
    @apply z-10 col-span-1 col-start-3 row-span-6 row-start-3 grid items-end overflow-hidden  opacity-0 sm:col-span-3 sm:col-start-4 md:col-span-2 md:col-start-5 md:row-start-1;
    .as__banner_right_int {
      @apply col-span-1 col-start-1 row-span-1 row-start-1 mt-auto w-full overflow-hidden;
      img,
      svg {
        @apply ml-[40%] hidden w-full sm:inline-block sm:w-[55%] md:ml-[15%] md:w-[full] 2xl:w-[60%];
      }
    }
  }
}
/** PHOME PROPOSITO */
.as_proposito {
  @apply z-10 grid grid-cols-1 grid-rows-1 bg-BG-3 py-12 sm:overflow-hidden md:pb-16 md:pt-28;

  .as__section_wrapper {
    @apply z-10 col-start-1 col-end-1 row-start-1 row-end-2;
    .as__title_section {
      @apply text-azul-bold;
    }
    .as_proposito_content {
      @apply mt-40 flex flex-wrap items-center justify-center gap-x-4 gap-y-2 py-12 text-center font-je text-3xl font-bold leading-6 sm:mt-32 sm:pt-28 md:pb-14 md:text-5xl md:leading-none;
      span {
        @apply text-primary;
      }
      strong {
        @apply text-azul-bold;
      }
    }
    .as__proposito_link {
      @apply flex justify-center;
    }
  }
  .as__marquee {
    @apply z-0 col-start-1 col-end-1 row-start-1 row-end-2 mt-28 text-[#fff] text-opacity-5;
  }

  .as__proposito_ilus {
    @apply z-0 col-start-1 col-end-1 row-start-1 row-end-2 flex justify-center;
    svg {
      @apply mt-0 hidden max-h-[360px] w-full md:mt-0;
    }
    img {
      @apply mt-0 max-h-[260px] w-full object-contain md:-mt-16 md:max-h-[360px];
    }
  }
}
/** SERVICIOS */
.as_servicios {
  @apply z-0 overflow-hidden bg-gradient-to-b from-[#F5FAFB] to-white pb-28 pt-16;
  .as__servicios_wrapper {
    @apply relative mt-10 flex w-full flex-col flex-wrap items-stretch justify-between gap-y-16 md:flex-row md:gap-y-0;
    &:before {
      content: "";
      @apply order-2 hidden h-auto w-1 border-l border-white border-opacity-40 md:block;
    }
    .serv_renta {
      @apply order-1 md:order-1;
    }
    .serv_seguro {
      @apply order-2 md:order-3;
    }
    .as__servicios_item {
      @apply flex h-auto w-full flex-col md:w-5/12;
      .as__servicios_image {
        @apply z-0 h-64 w-64 self-center md:-ml-8 overflow-hidden rounded-full;
        &.img_renta {
          @apply bg-amarillo-light;
        }
        &.img_seguro {
          @apply bg-[#35A6C3];
        }
        img {
          @apply h-full w-full object-cover;
        }
      }
      .as__servicios_content {
        @apply z-10 mb-4 mt-[-1em] flex h-auto flex-col space-y-4 md:mt-[-3em];
        h2 {
          @apply relative mx-auto pr-12 font-je text-4xl font-bold leading-[0.8em] md:mx-0 md:pr-0;
          span {
            @apply relative z-10 block text-primary;
          }
          b {
            @apply relative z-0 ml-8 inline-block rounded-full bg-azul-light px-4 pb-1 pt-2 font-bold text-azul-dark;
          }
        }
        p {
          @apply mx-auto max-w-xl text-center font-sans font-light text-azul-dark md:mx-0 md:max-w-none md:text-left;
        }
      }
      .as__button {
        @apply mt-auto self-center md:self-start;
        &:hover ~ .as__servicios_content {
          @apply hidden;
        }
      }
    }
  }
}
/** CIFRAS */
.as__cifras {
  @apply overflow-hidden bg-BG-1 py-12 md:pb-28 md:pt-28;
  .as__title_section {
    @apply text-primary;
  }
  .as__cifras_content {
    @apply flex flex-col items-center justify-between pt-8 md:flex-row md:gap-x-8 md:pt-16 lg:gap-x-32;
    .as__cifras_content_cifra {
      @apply w-full md:w-1/3;
      img {
        @apply mx-auto w-3/5 md:w-full 2xl:w-[80%];
      }
      h4 {
        @apply font-je -mt-4 mb-0 ml-6 text-7xl font-bold leading-[0.8em] text-amarillo-mid md:mr-4 md:text-8xl;
      }
      p {
        @apply mx-12 p-0 text-azul-dark;
      }
    }
  }
}

/** DOCUMENTOS */

.as__documentos {
  @apply overflow-hidden bg-gradient-to-b from-white to-[#F4F9FC] py-12 md:pb-16 md:pt-28;
  .as__section_wrapper {
    .as__title_section {
      @apply text-azul-bold;
    }
    .as__documentos_wrap_info {
      @apply flex grid-cols-1 grid-rows-2 flex-col md:grid md:grid-rows-1;
      .as__documentos_content {
        @apply z-10 order-2 col-start-1 col-end-1 row-start-2 row-end-3 -mt-12 flex w-full flex-col items-center justify-between md:row-start-1 md:row-end-1 md:mt-0 md:flex-row;
        h4 {
          @apply font-je w-full text-5xl font-bold text-primary md:w-2/6 md:text-5xl;
        }
        .as__documentos_content_info {
          @apply flex w-full flex-col items-start space-y-4 pt-5 md:w-2/6;
          p {
            @apply text-azul-bold;
          }
        }
      }
      .as__documentos_img {
        @apply z-0 order-1 col-start-1 col-end-1 row-start-1 row-end-2 -ml-2 grid grid-cols-1 grid-rows-1 overflow-hidden py-2 md:row-start-1 md:row-end-1 md:p-0;
        img {
          @apply col-start-1 row-start-1 mx-auto -ml-[250px] block w-[800px] max-w-none object-cover md:m-0 md:h-full md:w-full;
          &.img_doc_1 {
            @apply z-0;
          }
          &.img_doc_2 {
            @apply z-10;
          }
          &.img_doc_3 {
            @apply z-20;
          }
        }
      }
    }
  }
}

/** HOME BLOG */

.as__blog {
  @apply overflow-hidden bg-gradient-to-b from-[#F4F9FC] to-[#E9F3FA] pb-0 pt-28;
  .as__section_content {
    @apply flex flex-col justify-between gap-y-4 md:flex-row md:items-center;
    .as__title_section {
      @apply text-azul-dark;
    }
    .as__button {
      @apply justify-start;
    }
  }
  .as__blog_posts {
    @apply mt-24 grid grid-cols-1 overflow-hidden 2xl:container md:grid-cols-2 lg:grid-cols-4 md:gap-0 2xl:mx-auto;
  }
}

.as__post_small {
  @apply h-full overflow-hidden border-b border-r border-[#273E82] bg-transparent transition-all duration-500 ease-in-out md:border-b-0;
  a {
    @apply flex h-full flex-col md:min-h-[380px] 2xl:min-h-[400px];
    h4 {
      @apply order-2 mb-8 px-4 pt-4 font-je text-3xl font-bold font-bold leading-none text-azul-norm transition-all duration-500 ease-in-out md:order-1 md:mb-auto;
      &:after {
        @apply mb-7 mt-7 hidden h-1 w-6 bg-azul-dark md:block;
        content: "";
      }
    }
    img {
      @apply order-1 mt-auto w-full md:order-2;
    }
    .as__post_small_content {
      @apply order-3 mt-auto block flex-col space-y-2 px-4 pb-8  text-azul-dark md:hidden;
      i {
        @apply text-3xl transition-all duration-1000 ease-in-out;
      }
      p {
        @apply line-clamp-3 leading-snug;
      }
    }
  }
  &:hover {
    @apply bg-[#E9F3FA];
    a {
      h4 {
        @apply text-azul-dark;
      }
      img {
        @apply hidden;
      }
      .as__post_small_content {
        @apply flex text-azul-norm;
        i {
          @apply text-azul-bold;
        }
      }
    }
  }
}
