<section id="as__destacados" class="as__section as__destacados {{bg}}">
  <div class="as__section_wrapper">
    <div class="as__section_content">
      <h3 class="as__title_section">¿Qué incluye?</h3>
      <div class="as__destacados_wrapper">
        <div class="as__destacados_item as__destacados_rent serv_renta">
          <div class="as__destacados_image bg-amarillo-light">
            <img
              src="/assets/images/img_sp_auxilio.webp"
              alt="Auxilio funerario"
            />
          </div>
          <div class="as__destacados_content">
            <h2><span>Auxilio</span> <b>funerario</b></h2>
            <p>
              Cuando uno de nuestros clientes acredite haber asumido los gastos
              funerarios del pensionado, ASULADO pagará el auxilio funerario*
              siempre y cuando se cumpla con las condiciones.
            </p>
            <p class="text-sm">
              * Sin que el valor de este auxilio sea inferior a cinco (5)
              salarios mínimos legales mensuales vigentes, ni superior a diez
              (10) veces dicho salario, a la fecha del fallecimiento del
              pensionado. Por la muerte del (los) beneficiario (s)
              sobrevivientes de una pensión, no se reconocerá auxilio funerario.
            </p>
          </div>
        </div>

        <div class="as__destacados_item as__destacados_prev serv_seguro">
          <div class="as__destacados_image bg-azul-bright2 md:ml-16">
            <img src="/assets/images/img_sp_incapacidad.webp" alt="Incapacidad temporal" />
          </div>
          <div class="as__destacados_content">
            <h2><span>Incapacidad</span> <b>temporal</b></h2>
            <p>
              Si la entidad de salud define una incapacidad temporal, recibirás
              un subsidio del 100% de tu salario base de cotización. Esto cubre
              desde el día siguiente de la enfermedad o accidente hasta la
              rehabilitación, readaptación, curación y declaración de
              incapacidad permanente parcial, invalidez o muerte. La entidad de
              salud reconoce hasta 180 días.
            </p>
            <p class="list-disc list-item text-sm">
              Nuestra cobertura de incapacidad temporal se activa cuando asumes
              la responsabilidad de la prestación por incapacidad temporal que
              te corresponde, es decir, en el día 181 de la incapacidad
              temporal, según el Artículo 142 del Decreto 019 de 2012 y demás
              normas que le complementen o sustituyan.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
