<section id="gestion" class="as__section as__gestion {{bg}}">
  <div class="as__section_wrapper">
    <div class="as__section_content">
      <div class="as__gestion_wrapper">
        <div class="as__gestion_ilustra">
          <h3>¿ Quién la gestiona ?</h3>
          <div>
            <img
              src="/assets/images/img_gestion.webp"
              alt="¿ Quién lo gestiona ?"
            />
          </div>
        </div>

        <div class="as__gestion_content">
          <p>
            Lo hace directamente las
            <b>Administradoras de Fondos de Pensiones (AFP)</b> para cubrir y
            proteger a sus afiliados, pensionados y beneficiarios (pareja,
            hijos, padres).
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
