<div
  data-tab="{{data}}"
  class="as__gov_int as__g_documentos_tcon_list_int {{cls}}"
>
  <h2>Principios de gobierno</h2>
  <p>
    Somos una empresa SURA, por lo que adoptamos y nos guiamos por sus
    principios corporativos, los cuales representan la base de nuestro trabajo y
    nos ayudan a lograr resultados enfocados en el bienestar de nuestros
    usuarios: 
  </p>
  <ul class="gob-list">
    <li>
      <i class="gobi fa-solid fa-scale-balanced"></i>
      <h3>Equidad</h3>
      <p>
        Entendida como el trato justo y equilibrado en la relación laboral,
        comercial y/o cívica con nuestros empleados, asesores, accionistas,
        clientes, proveedores y con la comunidad en general. Igualdad de trato
        para con todas las personas, independientemente de sus condiciones
        sociales, económicas, raciales, sexuales y de género.
      </p>
    </li>
    <li>
      <i class="gobi fa-solid fa-handshake"></i>
      <h3>Respeto</h3>
      <p>
        Reconoce el valor de todas las personas y tiene presente los diversos
        puntos de vista, necesidades y opiniones. Implica reconocer al otro y
        aceptarlo tal y como es. 
      </p>
    </li>
    <li>
      <i class="gobi fa-solid fa-list-check"></i>
      <h3>Responsabilidad</h3>
      <p>
        La intención inequívoca de cumplir con nuestros compromisos, velando por
        los bienes tanto de la compañía como de nuestros accionistas, clientes,
        proveedores y de la comunidad en general. 
      </p>
    </li>
    <li>
      <i class="gobi fa-solid fa-star"></i>
      <h3>Transparencia</h3>
      <p>
        Entendida como la claridad y rectitud en todas las acciones y relaciones
        con empleados, asesores, corredores, accionistas, clientes, proveedores
        y con la comunidad en general.
      </p>
    </li>
  </ul>
</div>
