<div
  data-tab="{{data}}"
  class="as__gov_int as__g_documentos_tcon_list_int {{cls}}"
>
  <h2>Políticas corporativas</h2>
  <p>
    Nuestras políticas corporativas son el conjunto de decisiones y lineamientos
    que establecen los parámetros que nos orientan a nosotros como ASULADO
    Seguros de Vida y a todas las personas vinculadas en el desarrollo de
    nuestras funciones y responsabilidades.
  </p>

  <div class="as__desc">
    <h3>
      <i class="fa-solid fa-file"></i>
      Descargables
    </h3>
    <ul class="as__desc_items">
      <li class="as__desc_item">
        <a
          href="/assets/documentos/Grupo Sura Buen Gobierno.pdf"
          target="_blank"
          class="dest"
          aria-current="page"
        >
          <div>
            <b>Código de buen gobierno Grupo Sura y Anexo ASULADO</b>
            <span> PDF 354 kb </span>
          </div>
          <i class="itc fa-light fa-cloud-arrow-down"></i>
        </a>
      </li>
      <li class="as__desc_item">
        <a
          href="/assets/documentos/Codigo-de-etica-y-conducta-Asulado.pdf"
          target="_blank"
          class="dest"
          aria-current="page"
        >
          <div>
            <b>Código de conducta Grupo Sura y Anexo ASULADO</b>
            <span> PDF 529 kb </span>
          </div>
          <i class="itc fa-light fa-cloud-arrow-down"></i>
        </a>
      </li>
      <li class="as__desc_item">
        <a
          href="/assets/documentos/SGC-PO10_Estatutos_Asulado_v3.pdf"
          target="_blank"
          class="dest"
          aria-current="page"
        >
          <div>
            <b>Estatutos sociales ASULADO</b>
            <span> PDF 451 kb </span>
          </div>
          <i class="itc fa-light fa-cloud-arrow-down"></i>
        </a>
      </li>
      <li class="as__desc_item">
        <a
          href="/assets/documentos/Politica-de-administracion-y-control-del-riesgo-de-laft-Asulado.pdf"
          target="_blank"
          class="dest"
          aria-current="page"
        >
          <div>
            <b>Política de administración y control del riesgo LAFT</b>
            <span> PDF 184 kb </span>
          </div>
          <i class="itc fa-light fa-cloud-arrow-down"></i>
        </a>
      </li>
      <li class="as__desc_item">
        <a
          href="/assets/documentos/Politica-para-la-gestion-del-riesgo-de-fraude-soborno-y-corrupcion-Asulado.pdf"
          target="_blank"
          class="dest"
          aria-current="page"
        >
          <div>
            <b
              >Política para la gestión del riesgo de fraude, soborno y
              corrupción</b
            >
            <span> PDF 298 kb </span>
          </div>
          <i class="itc fa-light fa-cloud-arrow-down"></i>
        </a>
      </li>
      <li class="as__desc_item">
        <a
          href="/assets/documentos/SGC-PO02_Reglamento_Comite_de_Nombramientos_y_Compensación_v3_junio.pdf"
          target="_blank"
          class="dest"
          aria-current="page"
        >
          <div>
            <b>Reglamento comité de nombramientos y compensación</b>
            <span> PDF 210 kb </span>
          </div>
          <i class="itc fa-light fa-cloud-arrow-down"></i>
        </a>
      </li>
      <li class="as__desc_item">
        <a
          href="/assets/documentos/SGC-PO03_Reglamento_Comite_de_Riesgos_v4.pdf"
          target="_blank"
          class="dest"
          aria-current="page"
        >
          <div>
            <b>Reglamento comité de riesgos</b>
            <span> PDF 234 kb </span>
          </div>
          <i class="itc fa-light fa-cloud-arrow-down"></i>
        </a>
      </li>
      <li class="as__desc_item">
        <a
          href="/assets/documentos/SGC-PO04_Reglamento_Comite_de_Auditoria_v4.pdf"
          target="_blank"
          class="dest"
          aria-current="page"
        >
          <div>
            <b>Reglamento comité de auditoría</b>
            <span> PDF 386 kb </span>
          </div>
          <i class="itc fa-light fa-cloud-arrow-down"></i>
        </a>
      </li>
      <li class="as__desc_item">
        <a
          href="/assets/documentos/SGC-PO07 Board Regulations v1.pdf"
          target="_blank"
          class="dest"
          aria-current="page"
        >
          <div>
            <b>Reglamento junta directiva</b>
            <span> PDF 533 kb </span>
          </div>
          <i class="itc fa-light fa-cloud-arrow-down"></i>
        </a>
      </li>
      <li class="as__desc_item">
        <a
          href="/assets/documentos/SGC-PO08 JD Policy.pdf"
          target="_blank"
          class="dest"
          aria-current="page"
        >
          <div>
            <b
              >Política para el nombramiento remuneración y sucesión de la Junta
              Directiva</b
            >
            <span> PDF 236 kb </span>
          </div>
          <i class="itc fa-light fa-cloud-arrow-down"></i>
        </a>
      </li>
    </ul>
  </div>
</div>
