<div
  data-tab="{{data}}"
  class="as__gov_int as__g_documentos_tcon_list_int {{cls}}"
>
  <h2>Accionistas</h2>

  <div
    class="flex flex-col md:flex-row gap-8 justify-center items-center text-center"
  >
    <img
      class="max-w-[227px]"
      src="/assets/images/chart_2024.png"
      alt="Accionistas"
    />
    <img
      class="max-w-[250px]"
      src="/assets/images/accionistas_2024.png"
      alt="Accionistas"
    />
  </div>

  <ul class="gob-list gaccionistas">
    <li>
      <span class="gper" style="width: 6rem;">78.47 %</span>
      <img src="/assets/images/logo_sura.png" alt="Sura Asset Managament" />
      <p>
        SURA Asset Management es la mayor gestora de activos financieros no
        bancaria de América Latina y líder de la industria de pensiones en la
        región. Una empresa especializada en pensiones, ahorro, gestión de
        activos e Inversión, con presencia en México, El Salvador, Colombia,
        Perú, Chile, Uruguay y Argentina.
      </p>
    </li>
    <li>
      <span class="gper"  style="width: 6rem;">14.46 %</span>
      <img src="/assets/images/logo_col.png" alt="Colsubsidio" />
      <p>
        Colsubsidio es una corporación sin ánimo de lucro, cuya gestión la
        desarrolla a través de la administración de recursos y la prestación de
        servicios sociales. Así mismo, administra, vía convenios y contratos,
        recursos destinados a programas de desarrollo y responsabilidad social.
      </p>
    </li>
    <li>
      <span class="gper">6.64 %</span>
      <img src="/assets/images/logo_corner.png" alt="Cornerstone" />
      <p>
        Cornerstone LP es un vehículo creado por Alberta Investment Management
        Corporation (“AIMCo”) con el propósito de invertir principalmente en
        Colombia. AIMCo es uno de los más grandes administradores de inversiones
        institucionales en Canadá con más de 30 años de experiencia.
      </p>
    </li>
    <li class="frw">
      <span class="gper">0.43 %</span>
      <h4 class="gpert">Otros</h4>
    </li>
  </ul>

  <h2 class="mt-10">Junta Directiva</h2>
  <p>
    La Junta Directiva es el órgano de administración superior y actúa en
    función de los derechos de los accionistas. Este órgano vela por el
    crecimiento sostenible de la compañía y determina, junto con el equipo
    directivo, la estrategia de ASULADO Seguros de Vida.
  </p>
  <p>
    ASULADO Seguros de Vida cuenta con una Junta Directiva de alto perfil,
    acorde a los más altos estándares internacionales y a las directrices
    establecidas en nuestro Código de buen gobierno corporativo.
  </p>
  <p>
    La Junta Directiva se compone de cinco (5) miembros principales con sus
    suplentes personales, elegidos por la Asamblea General de Accionistas para
    un período de dos años, quienes pueden ser reelegidos o removidos libremente
    en cualquier momento por la misma Asamblea.
  </p>
  <h3>Composición Junta Directiva ASULADO Seguros de Vida S.A.</h3>

  <ul class="g-junta">
    <li onclick="jd_modal1.showModal()">
      <img
        src="/assets/images/junta/junta-sebastian.png"
        alt="Sebastián Alberto Rey"
      />
      <h4>
        Sebastián Alberto<br />
        Rey
      </h4>
      <p>Presidente de la Junta Directiva</p>
    </li>
    <li onclick="jd_modal2.showModal()">
      <img
        src="/assets/images/junta/junta-stella.png"
        alt="Stella Villegas de Osorio"
      />
      <h4>
        Stella<br />
        Villegas de Osorio
      </h4>
      <p>Miembro Independiente</p>
    </li>
    <li onclick="jd_modal3.showModal()">
      <img
        src="/assets/images/junta/junta-tatiana.png"
        alt="Tatiana Uribe Aristizábal"
      />
      <h4>
        Tatiana<br />
        Uribe Aristizábal
      </h4>
      <p>Miembro Patrimonial</p>
    </li>
    <li onclick="jd_modal4.showModal()">
      <img
        src="/assets/images/junta/junta-catalina.png"
        alt="Catalina Restrepo Cardona"
      />
      <h4>
        Catalina<br />
        Restrepo Cardona
      </h4>
      <p>Miembro Patrimonial</p>
    </li>
    <li onclick="jd_modal5.showModal()">
      <img
        src="/assets/images/junta/junta-andres.png"
        alt="Andrés Aguirre Martínez"
      />
      <h4>
        Andrés<br />
        Aguirre Martínez
      </h4>
      <p>Miembro Independiente</p>
    </li>
  </ul>

  <!-- MODAL  -->
  <dialog id="jd_modal1" class="modal-jd modal md:modal-middle">
    <div class="modal-box">
      <form method="dialog">
        <button class="btn-close">✕</button>
      </form>
      <div class="modal_info">
        <div class="modal_info_pic">
          <img
            src="/assets/images/junta/junta-sebastian.png"
            alt="Sebastián Alberto Rey"
          />
        </div>

        <div class="modal_info_int">
          <h5>Sebastián Alberto Rey</h5>
          <p>Presidente de la Junta Directiva</p>
          <h6>Actuario</h6>
          <ul>
            <li>
              Actuario con orientación en Economía de la Universidad de Buenos
              Aires y Master en Finanzas Aplicadas del ESE Business School.
              Adicionalmente, ha participado en programas de formación ejecutiva
              en temas de Toma de Decisiones (Harvard Kennedy School),
              Estrategia Corporativa (Chicago Booth School of Business), Gestión
              de Riesgos (Harvard Business School) y Finanzas Ejecutivas (London
              School of Economics).
            </li>
            <li>
              Se ha desempeñado como director en empresas de las industrias de
              pensiones, seguros, inversiones e intermediación financiera en la
              región. Asimismo, desarrolló el rol de Chief Actuary y Chief Risk
              Officer en ING Chile y de Chief Risk Officer Corporativo en SURA
              Asset Management. Además, ha sido consultor de la industria
              bancaria latinoamericana en Management Solutions. 
            </li>
            <li>
              En el ámbito académico, es investigador del Centro de
              Investigación en Métodos Cuantitativos aplicados a la Economía y
              la Gestión de la Universidad de Buenos Aires y ha publicado
              artículos de investigación en revistas internacionales
              especializadas.
            </li>
          </ul>
        </div>
      </div>
    </div>
    <form method="dialog" class="modal-backdrop">
      <button>Cerrar</button>
    </form>
  </dialog>
  <!-- MODAL -->

  <!-- MODAL  -->
  <dialog id="jd_modal2" class="modal-jd modal md:modal-middle">
    <div class="modal-box">
      <form method="dialog">
        <button class="btn-close">✕</button>
      </form>
      <div class="modal_info">
        <div class="modal_info_pic">
          <img
            src="/assets/images/junta/junta-stella.png"
            alt="Stella Villegas de Osorio"
          />
        </div>

        <div class="modal_info_int">
          <h5>Stella Villegas de Osorio</h5>
          <p>Miembro Independiente</p>
          <h6>Abogada</h6>
          <ul>
            <li>
              Abogada, especialista en Derecho Financiero y Bursátil, con
              experiencia en el manejo de riesgos operacionales, legales y de
              mercado, así como en temas de supervisión de los mercados de
              valores y de materias financieras.
            </li>
            <li>
              Con formación empresarial tanto en sociedades del sector real como
              del financiero.
            </li>
            <li>
              Con amplia trayectoria en cargos directivos, como miembro de
              juntas directivas de entidades bancarias, del sector real y de
              asociaciones relacionadas con temas financieros nacionales e
              internacionales.
            </li>
            <li>
              Columnista y redactora de artículos y libros en materias jurídico
              - financieras.
            </li>
          </ul>
        </div>
      </div>
    </div>
    <form method="dialog" class="modal-backdrop">
      <button>Cerrar</button>
    </form>
  </dialog>
  <!-- MODAL -->

  <!-- MODAL  -->
  <dialog id="jd_modal3" class="modal-jd modal md:modal-middle">
    <div class="modal-box">
      <form method="dialog">
        <button class="btn-close">✕</button>
      </form>
      <div class="modal_info">
        <div class="modal_info_pic">
          <img
            src="/assets/images/junta/junta-tatiana.png"
            alt="Tatiana Uribe Aristizábal"
          />
        </div>

        <div class="modal_info_int">
          <h5>Tatiana Uribe Aristizábal</h5>
          <p>Miembro Patrimonial</p>
          <h6>Ingeniera</h6>
          <ul>
            <li>
              Ingeniera Administradora de la Escuela de Ingeniería de Antioquia.
              Cuenta con una especialización en Economía en la Universidad de
              Los Andes y una Maestría en Economía y Finanzas Internacionales de
              Brandeis University en Boston, Estados Unidos.
            </li>
            <li>
              Inició su carrera en 1999 en Suramericana de Seguros en el área de
              Planeación y Procesos. En 2002 pasó a ser parte de Grupo SURA,
              donde se desempeñó como Analista, posteriormente, en 2004, asumió
              el rol de Directora de Inversiones, y finalmente, en 2008,
              desarrolló el cargo de Gerente de Inversiones.
            </li>
            <li>
              En 2012 asumió como Gerente de Finanzas Corporativas y Desarrollo
              Estratégico en SURA Asset Management, labor que ejerció hasta
              octubre de 2017, año en que fue designada Head de Desarrollo
              Corporativo de la misma compañía.
            </li>
            <li>
              Actualmente se desempeña como Head de Arati, un proyecto de Sura
              Asset Management con el que se busca brindar un portafolio de
              servicios para promover el bienestar del adulto mayor.
            </li>
          </ul>
        </div>
      </div>
    </div>
    <form method="dialog" class="modal-backdrop">
      <button>Cerrar</button>
    </form>
  </dialog>
  <!-- MODAL -->

  <!-- MODAL  -->
  <dialog id="jd_modal4" class="modal-jd modal md:modal-middle">
    <div class="modal-box">
      <form method="dialog">
        <button class="btn-close">✕</button>
      </form>
      <div class="modal_info">
        <div class="modal_info_pic">
          <img
            src="/assets/images/junta/junta-catalina.png"
            alt="Catalina Restrepo Cardona"
          />
        </div>

        <div class="modal_info_int">
          <h5>Catalina Restrepo Cardona</h5>
          <p>Miembro Patrimonial</p>
          <h6>Ingeniera</h6>
          <ul>
            <li>
              Ingeniera Administradora de la Escuela de Ingeniería de Antioquia
              en Colombia, cuenta con una especialización en Finanzas de la
              Universidad EAFIT en Colombia y una Maestría en Gestión de la
              Innovación de la Universidad de Manchester, Inglaterra, así mismo
              con un Programa de Dirección General PDG de INALDE en Colombia.
            </li>
            <li>
              Inició su carrera en Suramericana S.A. en 2003, donde se desempeñó
              como Directora de Gestión Humana. En 2012 ingresó a SURA Asset
              Management, compañía donde lidera el equipo de Talento Humano,
              Sostenibilidad y Comunicaciones Externas desde mayo de 2013.
            </li>
          </ul>
        </div>
      </div>
    </div>
    <form method="dialog" class="modal-backdrop">
      <button>Cerrar</button>
    </form>
  </dialog>
  <!-- MODAL -->

  <!-- MODAL  -->
  <dialog id="jd_modal5" class="modal-jd modal md:modal-middle">
    <div class="modal-box">
      <form method="dialog">
        <button class="btn-close">✕</button>
      </form>
      <div class="modal_info">
        <div class="modal_info_pic">
          <img
            src="/assets/images/junta/junta-andres.png"
            alt="Andrés Aguirre Martínez"
          />
        </div>

        <div class="modal_info_int">
          <h5>Andrés Aguirre Martínez</h5>
          <p>Miembro Independiente</p>
          <h6>Médico</h6>
          <ul>
            <li>
              Médico de la Universidad de Antioquia y especialista en Gerencia
              Hospitalaria de la Universidad EAFIT. Adicionalmente, ha realizado
              diplomados en Bioética, Medicina basada en la evidencia y
              Liderazgo.
            </li>
            <li>
              Durante 22 años se desempeñó como Director General del Hospital
              Pablo Tobón Uribe de Medellín. Así mismo, ha sido profesor de
              posgrado en áreas como Gerencia del Servicio y Manejo del
              Conflicto en diferentes universidades de Colombia y se ha
              desempeñado como conferencista en eventos nacionales e
              internacionales.
            </li>
            <li>
              Fue miembro de la Junta Directiva y del Comité de Auditoría de la
              Administradora de Fondos de Pensiones y Cesantías Protección. Es
              miembro de la Sala de Dirección General de la Escuela de
              Ingeniería de Antioquia y del Consejo Superior de la Universidad
              EAFIT.
            </li>
            <li>
              Desde el año 2012 hasta junio de 2023 presidió la Junta Directiva
              de la Asociación Colombiana de Hospitales y Clínica, de la cual es
              hoy Miembro Honorario.
            </li>
          </ul>
        </div>
      </div>
    </div>
    <form method="dialog" class="modal-backdrop">
      <button>Cerrar</button>
    </form>
  </dialog>
  <!-- MODAL -->

  <h3>Miembros suplentes</h3>
  <ul class="g-m-sup">
    <li>Alice Gutiérrez Stanley</li>
    <li>Nicolás Grassi</li>
    <li>Diego Felipe Trujillo Vargas</li>
    <li>Ana María Echeverry Aguirre</li>
    <li>Andrés Nova Escobar</li>
  </ul>

  <h2 class="mt-8">Comités de Junta Directiva</h2>
  <ul class="g-m-mie">
    <li class="g-m-mie-li">
      <h4>Comité de Riesgos</h4>
      <ul>
        <li>Sebastián Alberto Rey</li>
        <li>Nicolás Grassi</li>
        <li>Stella Villegas de Osorio*</li>
      </ul>
    </li>
    <li class="g-m-mie-li">
      <h4>Comité de Auditoría</h4>
      <ul>
        <li>Andrés Aguirre Martínez*</li>
        <li>Stella Villegas de Osorio*</li>
        <li>Tatiana Uribe Aristizábal</li>
      </ul>
    </li>
    <li class="g-m-mie-li">
      <h4>Comité de Nombramientos y Compensación</h4>
      <ul>
        <li>Catalina Restrepo Cardona</li>
        <li>Stella Villegas de Osorio*</li>
        <li>Andrés Aguirre Martínez*</li>
      </ul>
    </li>
  </ul>
  <p class="text-center">*Miembro independiente.</p>
</div>
