<div
  data-tab="{{data}}"
  class="as__gov_int as__g_documentos_tcon_list_int {{cls}}"
>
  <h2>Alta gerencia</h2>

  <!-- MODAL  -->
  <dialog id="mod_1" class="modal-jd modal md:modal-middle">
    <div class="modal-box">
      <form method="dialog">
        <button class="btn-close">✕</button>
      </form>
      <div class="modal_info">
        <div class="modal_info_pic">
          <img
            src="/assets/images/altag/Patricia Restrepo .png"
            alt="Patricia Restrepo"
            class="crp"
          />
        </div>

        <div class="modal_info_int">
          <h4>Patricia Restrepo</h4>
          <h6>Presidente</h6>
          <blockquote>
            <p>
              “Motivo y desafío a los integrantes de ASULADO para que a través de la disciplina y creatividad transformemos la industria aseguradora del país para que tenga un gran impacto social.”
            </p>
          </blockquote>
          <a
            href="https://www.linkedin.com/in/patricia-restrepo-gutierrez-03ba2a18b/"
            target="_blank"
            ><i class="fa-brands fa-linkedin"></i
          ></a>
        </div>
      </div>
    </div>
    <form method="dialog" class="modal-backdrop">
      <button>Cerrar</button>
    </form>
  </dialog>

  <dialog id="mod_2" class="modal-jd modal md:modal-middle">
    <div class="modal-box">
      <form method="dialog">
        <button class="btn-close">✕</button>
      </form>
      <div class="modal_info">
        <div class="modal_info_pic">
          <img
            src="/assets/images/altag/Gustavo Farrera.png"
            alt="Gustavo Farrera"
            class="crp"
          />
        </div>

        <div class="modal_info_int">
          <h4>Gustavo Farrera</h4>
          <h6>Líder de Finanzas y Actuaría</h6>
          <blockquote>
            <p>
              “Gestionamos los negocios de ASULADO de manera eficiente y responsable cuidando los recursos a largo plazo que garantice los beneficios a nuestros clientes. Además, impulsamos la visión estratégica y el crecimiento sostenible, analizando posibles riesgos y oportunidades para garantizar la solvencia y viabilidad de la Compañía.”
            </p>
          </blockquote>
          <a
            href="https://www.linkedin.com/in/gustavo-farrera-06321799/"
            target="_blank"
            ><i class="fa-brands fa-linkedin"></i
          ></a>
        </div>
      </div>
    </div>
    <form method="dialog" class="modal-backdrop">
      <button>Cerrar</button>
    </form>
  </dialog>

  <dialog id="mod_3" class="modal-jd modal md:modal-middle">
    <div class="modal-box">
      <form method="dialog">
        <button class="btn-close">✕</button>
      </form>
      <div class="modal_info">
        <div class="modal_info_pic">
          <img
            src="/assets/images/altag/Liliana Ríos .png"
            alt="Liliana Ríos "
            class="crp"
          />
        </div>

        <div class="modal_info_int">
          <h4>Liliana Ríos </h4>
          <h6>Líder de Transformación</h6>
          <blockquote>
            <p>
              “Llevamos a ASULADO al siguiente nivel, promoviendo la transformación y la operación digital, gestionando los proyectos a partir de la estrategia y potenciando la innovación, automatización y mejora de los procesos. <br>
Somos los embajadores de la marca ASULADO y la llevamos hasta cada uno de nuestros públicos de interés, con el objetivo de dar a conocer su esencia y propósito dentro de la industria.”
            </p>
          </blockquote>
          <a
            href="https://www.linkedin.com/in/liliana-rios-rios-00101647/"
            target="_blank"
            ><i class="fa-brands fa-linkedin"></i
          ></a>
        </div>
      </div>
    </div>
    <form method="dialog" class="modal-backdrop">
      <button>Cerrar</button>
    </form>
  </dialog>

  <dialog id="mod_4" class="modal-jd modal md:modal-middle">
    <div class="modal-box">
      <form method="dialog">
        <button class="btn-close">✕</button>
      </form>
      <div class="modal_info">
        <div class="modal_info_pic">
          <img
            src="/assets/images/altag/Mauricio Hernández.png"
            alt="Mauricio Hernández"
            class="crp"
          />
        </div>

        <div class="modal_info_int">
          <h4>Sergio Hernandez</h4>
          <h6>Líder de Operaciones</h6>
          <blockquote>
            <p>
              “A través de un equipo integral y competente y utilizando nuevas capacidades tecnológicas, materializamos la propuesta de valor al cliente desde la innovación y la eficiencia, garantizando la operación de ASULADO y poniendo a disposición de nuestros usuarios, canales de atención digitales con calidad y oportunidad que promueven la continuidad y sostenibilidad de la Compañía.”
            </p>
          </blockquote>
          <a
            href="https://www.linkedin.com/in/sergio-mauricio-hern%C3%A1ndez-zapata-4728691b6/"
            target="_blank"
            ><i class="fa-brands fa-linkedin"></i
          ></a>
        </div>
      </div>
    </div>
    <form method="dialog" class="modal-backdrop">
      <button>Cerrar</button>
    </form>
  </dialog>

  <dialog id="mod_5" class="modal-jd modal md:modal-middle">
    <div class="modal-box">
      <form method="dialog">
        <button class="btn-close">✕</button>
      </form>
      <div class="modal_info">
        <div class="modal_info_pic">
          <img
            src="/assets/images/altag/Alejandra Osorio.png"
            alt="Alejandra Osorio"
            class="crp"
          />
        </div>

        <div class="modal_info_int">
          <h4>Alejandra Osorio</h4>
          <h6>Líder Talento Humano</h6>
          <blockquote>
            <p>
              “Nuestro propósito es fidelizar y desarrollar el talento humano extraordinario de ASULADO. Cuidando la experiencia y garantizando una oferta de valor al empleado potenciamos el compromiso y favorecemos una cultura sólida y coherente que apalanca el logro de los objetivos, tanto de la Organización, como de sus integrantes.  Aquí, más que hacer parte de una Compañía, es la oportunidad para ser impulsores del cambio, motivados por un propósito misional que impacta a toda una industria y un país.”
            </p>
          </blockquote>
          <a
            href="https://www.linkedin.com/in/luisa-alejandra-osorio-callejas-32a6aa15/"
            target="_blank"
            ><i class="fa-brands fa-linkedin"></i
          ></a>
        </div>
      </div>
    </div>
    <form method="dialog" class="modal-backdrop">
      <button>Cerrar</button>
    </form>
  </dialog>

  <dialog id="mod_6" class="modal-jd modal md:modal-middle">
    <div class="modal-box">
      <form method="dialog">
        <button class="btn-close">✕</button>
      </form>
      <div class="modal_info">
        <div class="modal_info_pic">
          <img
            src="/assets/images/altag/Diana Ramírez.png"
            alt="Diana Ramírez"
            class="crp"
          />
        </div>

        <div class="modal_info_int">
          <h4>Diana Ramírez</h4>
          <h6>Líder de Auditoría</h6>
          <blockquote>
            <p>
              “Impulsamos a que en ASULADO se trabaje bajo los pilares de la confianza y la transparencia desde el acompañamiento, el cumplimiento normativo y la adecuada gestión del Sistema del Control Interno.”
            </p>
          </blockquote>
          <a
            href="https://www.linkedin.com/in/diana-ram%C3%ADrez-rojas-9348491a7/"
            target="_blank"
            ><i class="fa-brands fa-linkedin"></i
          ></a>
        </div>
      </div>
    </div>
    <form method="dialog" class="modal-backdrop">
      <button>Cerrar</button>
    </form>
  </dialog>

  <dialog id="mod_7" class="modal-jd modal md:modal-middle">
    <div class="modal-box">
      <form method="dialog">
        <button class="btn-close">✕</button>
      </form>
      <div class="modal_info">
        <div class="modal_info_pic">
          <img
            src="/assets/images/altag/Julián Jaramillo.png"
            alt="Julián Jaramillo"
            class="crp"
          />
        </div>

        <div class="modal_info_int">
          <h4>Julián Jaramillo</h4>
          <h6>Líder de Riesgos</h6>
          <blockquote>
            <p>
              “Contribuimos al propósito superior de ASULADO implementando estrategias y controles que mitiguen los riesgos que pueda enfrentar la Compañía. Trabajamos con todos los equipos, a quienes acompañamos en la identificación y la prevención de los riesgos a los que se enfrenta la Organización, para estar preparados a posibles desafíos.” 
            </p>
          </blockquote>
          <a
            href="https://www.linkedin.com/in/juli%C3%A1n-jaramillo-jaramillo-0006a658/"
            target="_blank"
            ><i class="fa-brands fa-linkedin"></i
          ></a>
        </div>
      </div>
    </div>
    <form method="dialog" class="modal-backdrop">
      <button>Cerrar</button>
    </form>
  </dialog>

  <dialog id="mod_8" class="modal-jd modal md:modal-middle">
    <div class="modal-box">
      <form method="dialog">
        <button class="btn-close">✕</button>
      </form>
      <div class="modal_info">
        <div class="modal_info_pic">
          <img
            src="/assets/images/altag/Johana Lizarazo.png"
            alt="Johana Lizarazo"
            class="crp"
          />
        </div>

        <div class="modal_info_int">
          <h4>Johana Lizarazo</h4>
          <h6>Líder de Tecnología </h6>
          <blockquote>
            <p>
              "Fomentamos la evolución tecnológica con el fin de optimizar la eficiencia operativa, incrementar el valor y fortalecer la sostenibilidad de ASULADO. Logramos este propósito al incorporar tecnologías avanzadas, soluciones emergentes, analítica de datos y ciberseguridad en los procesos de la Compañía para operar digitalmente, manteniendo siempre la alineación con los objetivos estratégicos."
            </p>
          </blockquote>
          <a
            href="https://www.linkedin.com/in/johana-karina-lizarazo-vera-b986883a/"
            target="_blank"
            ><i class="fa-brands fa-linkedin"></i
          ></a>
        </div>
      </div>
    </div>
    <form method="dialog" class="modal-backdrop">
      <button>Cerrar</button>
    </form>
  </dialog>

  <dialog id="mod_9" class="modal-jd modal md:modal-middle">
    <div class="modal-box">
      <form method="dialog">
        <button class="btn-close">✕</button>
      </form>
      <div class="modal_info">
        <div class="modal_info_pic">
          <img
            src="/assets/images/altag/Sebastián Mejía.png"
            alt="Sebastián Mejía"
            class="crp"
          />
        </div>

        <div class="modal_info_int">
          <h4>Sebastián Mejía</h4>
          <h6>Líder legal </h6>
          <blockquote>
            <p>
              “Más allá de buscar la seguridad jurídica en la Compañía, brindamos confianza, protegemos los intereses de la Organización y sus públicos de interés, siempre asegurando el cumplimiento del marco legal y el código de buen Gobierno Corporativo.
              Somos aliados estratégicos del negocio, buscando nuevas oportunidades e incidiendo en la regulación a favor de las necesidades de la Compañía, de nuestros afiliados y de la industria.”
              
            </p>
          </blockquote>
          <a
            href="https://www.linkedin.com/in/sebastian-mejia-aramburo/"
            target="_blank"
            ><i class="fa-brands fa-linkedin"></i
          ></a>
        </div>
      </div>
    </div>
    <form method="dialog" class="modal-backdrop">
      <button>Cerrar</button>
    </form>
  </dialog>

  <ul class="g-alta">
    <li>
      <img
        src="/assets/images/altag/Patricia Restrepo .png"
        alt="Patricia Restrepo"
      />
      <button onclick="mod_1.showModal()">
        <i class="q fa-solid fa-quotes"></i>
        <i class="a fa-regular fa-arrow-right"></i>
      </button>
      <h4>Patricia Restrepo</h4>
      <p>Presidente</p>
    </li>
    <li>
      <img
        src="/assets/images/altag/Gustavo Farrera.png"
        alt="Gustavo Farrera"
      />
      <button onclick="mod_2.showModal()">
        <i class="q fa-solid fa-quotes"></i>
        <i class="a fa-regular fa-arrow-right"></i>
      </button>
      <h4>Gustavo Farrera</h4>
      <p>Líder de Finanzas y Actuaría</p>
    </li>
    <li>
      <img src="/assets/images/altag/Liliana Ríos .png" alt="Liliana Ríos " />
      <button onclick="mod_3.showModal()">
        <i class="q fa-solid fa-quotes"></i>
        <i class="a fa-regular fa-arrow-right"></i>
      </button>
      <h4>Liliana Ríos </h4>
      <p>Líder de Transformación</p>
    </li>
    <li>
      <img
        src="/assets/images/altag/Mauricio Hernández.png"
        alt="Mauricio Hernández"
      />
      <button onclick="mod_4.showModal()">
        <i class="q fa-solid fa-quotes"></i>
        <i class="a fa-regular fa-arrow-right"></i>
      </button>
      <h4>Sergio Hernandez</h4>
      <p>Líder de Operaciones</p>
    </li>
    <li>
      <img
        src="/assets/images/altag/Alejandra Osorio.png"
        alt="Alejandra Osorio"
      />
      <button onclick="mod_5.showModal()">
        <i class="q fa-solid fa-quotes"></i>
        <i class="a fa-regular fa-arrow-right"></i>
      </button>
      <h4>Alejandra Osorio</h4>
      <p>Líder Talento Humano</p>
    </li>
    <li>
      <img src="/assets/images/altag/Diana Ramírez.png" alt="Diana Ramírez" />
      <button onclick="mod_6.showModal()">
        <i class="q fa-solid fa-quotes"></i>
        <i class="a fa-regular fa-arrow-right"></i>
      </button>
      <h4>Diana Ramírez</h4>
      <p>Líder de Auditoría</p>
    </li>
    <li>
      <img
        src="/assets/images/altag/Julián Jaramillo.png"
        alt="Julián
        Jaramillo"
      />
      <button onclick="mod_7.showModal()">
        <i class="q fa-solid fa-quotes"></i>
        <i class="a fa-regular fa-arrow-right"></i>
      </button>
      <h4>Julián Jaramillo</h4>
      <p>Líder de Riesgos</p>
    </li>
    <li>
      <img
        src="/assets/images/altag/Johana Lizarazo.png"
        alt="Johana Lizarazo"
      />
      <button onclick="mod_8.showModal()">
        <i class="q fa-solid fa-quotes"></i>
        <i class="a fa-regular fa-arrow-right"></i>
      </button>
      <h4>Johana Lizarazo</h4>
      <p>Líder de Tecnología</p>
    </li>
    <li>
      <img
        src="/assets/images/altag/Sebastián Mejía.png"
        alt="Sebastián Mejía"
      />
      <button onclick="mod_9.showModal()">
        <i class="q fa-solid fa-quotes"></i>
        <i class="a fa-regular fa-arrow-right"></i>
      </button>
      <h4>Sebastián Mejía</h4>
      <p>Líder legal </p>
    </li>
  </ul>
</div>


