<div
  data-tab="{{data}}"
  class="as__gov_int as__g_documentos_tcon_list_int {{cls}}"
>
  <h2>Alta gerencia</h2>

  <ul class="g-alta">
    <li>
      <img
        src="/assets/images/altag/Patricia Restrepo .png"
        alt="Patricia Restrepo"
      />
      <h4>Patricia Restrepo</h4>
      <p>CEO</p>
    </li>
    <li>
      <img
        src="/assets/images/altag/Gustavo Farrera.png"
        alt="Gustavo Farrera"
      />
      <h4>Gustavo Farrera</h4>
      <p>Líder de Finanzas y Actuaría</p>
    </li>
    <li>
      <img src="/assets/images/altag/Liliana Ríos .png" alt="Liliana Ríos " />
      <h4>Liliana Ríos </h4>
      <p>Líder de Transformación</p>
    </li>
    <li>
      <img
        src="/assets/images/altag/Mauricio Hernández.png"
        alt="Mauricio Hernández"
      />
      <h4>Mauricio Hernández</h4>
      <p>Líder de Operaciones y Servicios</p>
    </li>
    <li>
      <img
        src="/assets/images/altag/Alejandra Osorio.png"
        alt="Alejandra Osorio"
      />
      <h4>Alejandra Osorio</h4>
      <p>Líder de Talento Humano</p>
    </li>
    <li>
      <img
        src="/assets/images/altag/Diana Ramírez.png"
        alt="Alejandra Osorio"
      />
      <h4>Diana Ramírez</h4>
      <p>Líder de Auditoría</p>
    </li>
    <li>
      <img
        src="/assets/images/altag/Johana Lizarazo.png"
        alt="Johana
        Lizarazo"
      />
      <h4>Johana Lizarazo</h4>
      <p>Líder de Tecnología y Datos</p>
    </li>
    <li>
      <img
        src="/assets/images/altag/Julián Jaramillo.png"
        alt="Julián
        Jaramillo"
      />
      <h4>Julián Jaramillo</h4>
      <p>Líder de Riesgos</p>
    </li>
    <li>
      <img
        src="/assets/images/altag/Sebastián Mejía.png"
        alt="Sebastián
        Mejía"
      />
      <h4>Sebastián Mejía</h4>
      <p>Líder Jurídico</p>
    </li>
  </ul>
</div>
 