<div
  data-tab="{{data}}"
  class="as__gov_int light as__g_documentos_tcon_list_int lg:!py-0 {{cls}}"
>
  <section class="as__section">
    <div class="as__section_wrapper md:!px-0">
      <div class="as__section_content_full">
        <!--  -->

        <include src="gobierno/info_6.html"></include>

        <div class="divider"></div>

        <include src="gobierno/info_1.html"></include>

        <div class="divider"></div>

        <include src="gobierno/info_2.html"></include>

        <div class="divider"></div>

        <include src="gobierno/info_3.html"></include>

        <div class="divider"></div>

        <include src="gobierno/info_4.html"></include>

        <div class="divider"></div>

        <include src="gobierno/info_5.html"></include>

        <div class="divider"></div>

        <!-- Fin New section -->
      </div>
    </div>
  </section>
</div>
