<div class="pl-10 py-6">
  <h3 class="!text-azul-bright !text-2xl text-center">
    Medellín, 2 de julio de 2024
  </h3>
</div>
<div
  class="bg-alpha-15 w-full mx-auto flex flex-col gap-y-0 lg:flex-row md:justify-between md:items-stretch"
>
  <div
    class="w-full lg:w-1/3 flex flex-col justify-center items-start pt-8 bg-[url(/assets/images/GC/bg_1.svg)] bg-center bg-contain bg-no-repeat"
  >
    <div class="w-full lg:ml-36 mr-auto lg:w-2/3 xl:w-2/3">
      <img
        class="lg:max-w-full mx-auto max-w-sm !w-full"
        src="/assets/images/img_articulo_1.webp"
        alt=""
      />
    </div>
  </div>

  <div
    class="w-full lg:w-2/3 lg:px-4 px-4 xl:px-32 lg:text-justify py-16 bg-[url(/assets/images/GC/bg_2.svg)] bg-center bg-contain bg-no-repeat"
  >
    <div class="">
      <h3 class="!text-azul-50 !text-3xl my-10">
        Sr. Accionista Asulado Seguros de Vida S.A.<br />
        Vía correo electrónico
      </h3>
      <p class="!text-azul-50 !text-2xl my-5">
        <b>Referencia:</b> aviso derecho de preferencia
      </p>

      <p class="!text-azul-80 my-5">
        De acuerdo con lo definido por la Asamblea General de Accionistas el día
        14 de junio del presente año, y Asulado Seguros de Vida S.A. (en
        adelante la “Sociedad”), de conformidad con el artículo 12 de sus
        estatutos, sobre negociabilidad y derecho de preferencia, y el
        reglamento de suscripción de acciones expedido por la Junta Directiva de
        Asulado, le informa que, se ha autorizado la capitalización de la
        Compañía, mediante la suscripción de 3.067.362 acciones ordinarias y
        nominativas, por valor de $33.253 pesos cada una, las cuales se ofrecen
        a los accionistas de la Sociedad con sujeción al derecho de preferencia,
        y siguiendo las disposiciones contenidas en el reglamento emitido por la
        junta:
      </p>
    </div>
  </div>
</div>
