<div class="pl-10 py-6">
  <h3 class="!text-azul-bright !text-2xl text-center">
    Medellín, 29 de julio de 2024
  </h3>
</div>

<div
  class="bg-alpha-15 w-full mx-auto flex flex-col gap-y-0 lg:flex-row md:justify-between md:items-stretch"
>
  <div
    class="w-full lg:w-1/3 flex flex-col justify-center items-start pt-8 bg-[url(/assets/images/GC/bg_1.svg)] bg-center bg-contain bg-no-repeat"
  >
    <div class="w-full lg:ml-36 mr-auto lg:w-2/3 xl:w-2/3">
      <img
        class="lg:max-w-full mx-auto max-w-sm !w-full"
        src="/assets/images/img_articulo_2.webp"
        alt=""
      />
    </div>
  </div>
  <div
    class="w-full lg:w-2/3 lg:px-4 px-4 xl:px-32 lg:text-justify py-16 bg-[url(/assets/images/GC/bg_2.svg)] bg-center bg-contain bg-no-repeat"
  >
    <div class="">
      <h3 class="!text-azul-80 my-10">
        Sr. Accionista Asulado Seguros de Vida S.A.
      </h3>
      <h3 class="!text-azul-bright !text-3xl">
        Referencia:
        <span class="font-light"
          >Ejercicio del derecho de preferencia – Emisión de acciones</span
        >
      </h3>

      <p class="!text-azul-80 my-5">
        De acuerdo con lo definido por la Asamblea General de Accionistas el día
        19 de julio del presente año de Asulado Seguros de Vida S.A. (en
        adelante la “Sociedad”), de conformidad con el artículo 12 de sus
        estatutos, sobre negociabilidad y derecho de preferencia, y el
        reglamento de suscripción de acciones expedido por la Junta Directiva de
        Asulado, se le informa que, se ha autorizado una capitalización de la
        Compañía, mediante la suscripción de 3.067.362 acciones ordinarias y
        nominativas, por valor de $33.253 pesos colombianos cada una, las cuales
        se ofrecen a los accionistas de la Sociedad con sujeción al derecho de
        preferencia, y siguiendo las disposiciones contenidas en el reglamento
        emitido por la junta:
      </p>
    </div>
  </div>
</div>

<section class="bg-azul-20 as__section pt-20 pb-20">
  <div class="as__section_wrapper">
    <div class="as__section_content">
      <p class="text-4xl text-center text-azul-dark font-je font-semibold">
        Reglamento
        <span class="text-azul-bold">de suscripción privada de </span>
        <br class="md:block hidden" />
        <span class="text-azul-bold">acciones </span> Asulado Seguros de Vida S.A.
      </p>
    </div>
  </div>
</section>

<div
  class="bg-alpha-15 w-full mx-auto flex flex-col gap-y-0 lg:flex-row md:justify-between md:items-stretch pt-8"
>
  <div class="w-full lg:px-4 px-4 xl:px-16 lg:text-justify py-4">
    <p class="!text-azul-80 my-5 text-xl">
      La Junta Directiva de Asulado, en uso de sus atribuciones legales y
      estatutarias, en reunión ordinaria celebrada el 23 de julio de 2024:
    </p>
  </div>
</div>
<div
  class="bg-alpha-15 w-full mx-auto flex flex-col gap-y-0 lg:flex-row md:justify-between md:items-stretch pb-12"
>
  <div
    class="w-full lg:w-1/2 lg:px-4 px-4 xl:px-16 lg:text-justify pb-8"
    style="border-right: 1px solid #0f3c84"
  >
    <div class="flex flex-col !text-azul-80 gap-4">
      <p>
        <strong>PRIMERO.</strong>
        Ofrecer, para ser colocadas con sujeción al derecho de preferencia,
        3.067.362 acciones ordinarias de Asulado (en adelante, las “<strong
          >Acciones Ofrecidas</strong
        >”) tomadas de las acciones en reserva, en los términos previstos en el
        presente reglamento (en adelante, el “<strong>Reglamento</strong>”).
        Este número de acciones no supera el 10,65% del total de las acciones en
        circulación (28.812.862) de la sociedad.
      </p>
      <p>
        <strong>SEGUNDO.</strong>
        Como quiera que la Oferta ha de respetar el derecho de preferencia
        previsto en el artículo doceavo de los estatutos de Asulado, serán
        destinatarios de ella los accionistas que se encuentren inscritos como
        tales en el libro de accionistas de Asulado en la fecha en que se
        apruebe el presente Reglamento por parte de la Junta Directiva de
        Asulado (en adelante, los “<strong>Accionistas Actuales</strong>”), así
        como los cesionarios de dichos accionistas que adquieran de estos sus
        derechos de suscripción preferencial según se definen en el numeral
        TERCERO de este Reglamento.
      </p>
      <p>
        <strong>TERCERO.</strong>  Los Accionistas Actuales tendrán derecho a
        suscribir preferencialmente las Acciones Ofrecidas en una cantidad
        proporcional a la que poseen en Asulado en la fecha en que se apruebe el
        presente Reglamento por parte de la Junta Directiva. La proporción en la
        que los Accionistas Actuales tienen derecho a suscribir las Acciones
        Ofrecidas es la que resulta de dividir (i) el número de Acciones
        Ofrecidas entre (ii) el número de acciones ordinarias en circulación de
        Asulado en la fecha en que se pruebe el Reglamento (en adelante, la
        “Proporción”). Por lo tanto, cada uno de los Accionistas Actuales tendrá
        derecho a suscribir preferencialmente el número de acciones que resulte
        de multiplicar la Proporción por el número de acciones de las que sea
        titular en la fecha en que se apruebe el Reglamento, aproximado al
        número entero inferior (en adelante, los “<strong
          >Derechos de Suscripción Preferencial</strong
        >”).
      </p>
      <p>
        Así mismo, los accionistas que ejerzan su derecho de preferencia, podrán
        ofrecer adquirir un número mayor de acciones al asignado como producto
        de sus Derechos de Suscripción Preferencial. En dicho caso, las Acciones
        Ofrecidas que no hayan sido suscritas por los Accionistas Actuales, se
        ofrecerán a favor de los accionistas interesados en adquirir acciones
        adicionales de acuerdo con la proporción de acciones que estos posean en
        la sociedad al momento de aprobación del Reglamento por la Junta
        Directiva.
      </p>
      <p>
        Agotado el anterior proceso, las Acciones Ofrecidas que no fueren
        suscritas por los Accionistas Actuales, volverán a la reserva y quedarán
        a disposición de la Junta Directiva de Asulado para su posterior
        colocación. 
      </p>
      <p>
        <strong>CUARTO.</strong>
        El plazo de la Oferta será de 15 días hábiles contados desde la
        publicación de la misma en un diario de amplia circulación en el
        domicilio social de Asulado, plazo en el cual los Accionistas Actuales
        podrán ejercer sus Derechos de Suscripción Preferencial descritos en el
        artículo TERCERO del Reglamento.
      </p>
      <p>
        <strong>QUINTO.</strong>
        El precio de cada una de las Acciones Ofrecidas será de $33.253 COP (en
        adelante, el “Precio”), del cual $700,002818185851 COP corresponden al
        valor nominal de la acción y $ 32.552,99718181415 COP a prima en
        colocación de acciones.
      </p>
      <p>
        En el evento que el precio de las acciones que se adjudiquen a cada
        accionista sea un valor con decimales, el valor a pagar se aproximará al
        número entero siguiente.
      </p>
      <p>
        <strong>SEXTO.</strong>
        La Oferta será comunicada a los Accionistas Actuales dentro de los tres
        (3) días hábiles siguientes a la aprobación del Reglamento.
      </p>
      <p>
        <strong>SÉPTIMO.</strong>
        Los Accionistas Actuales podrán aceptar la oferta de suscripción de
        acciones bien sea de acuerdo con sus Derechos de Suscripción
        Preferencial o por un número mayor como se indicó en el artículo TERCERO
        del Reglamento, mediante correo electrónico dirigido a la Secretaría
        General de la Sociedad, al correo
        <a href="mailto:secretariageneral@asulado.com.co"
          >secretariageneral@asulado.com.co</a
        >.
      </p>
    </div>
  </div>
  <div class="w-full lg:w-1/2 lg:px-4 px-4 xl:px-16 lg:text-justify pb-16">
    <div class="flex flex-col !text-azul-80 gap-4">
      <p>
        <strong>OCTAVO.</strong>
        La adjudicación de las Acciones Ofrecidas solo se efectuará una vez
        surtidas las aprobaciones regulatorias correspondientes a Asulado y a
        cada accionista partícipe que así lo requiera, y será comunicada a los
        Accionistas Actuales que acepten la Oferta mediante correo electrónico
        remitido a la dirección indicada en el formato de aceptación. Sin
        perjuicio de lo dispuesto en los numerales DÉCIMO y DÉCIMO PRIMERO de
        este Reglamento, al día hábil siguiente a la remisión de la adjudicación
        se entenderán suscritas las Acciones Ofrecidas en la cantidad que
        corresponda y deberá procederse al pago de las mismas según lo indicado
        en el artículo DÉCIMO del Reglamento.
      </p>
      <p>
        De acuerdo con el artículo 88 del Estatuto Orgánico del Sistema
        Financiero, toda transacción de inversionistas nacionales o extranjeros
        que tenga por objeto la adquisición del diez por ciento (10%) o más de
        las acciones suscritas de cualquier entidad sometida a la vigilancia de
        la Superintendencia Financiera, ya sea que se realice mediante una o
        varias operaciones de cualquier naturaleza, simultáneas o sucesivas o
        aquellas por medio de las cuales se incremente dicho porcentaje,
        requerirá so pena de ineficacia, la aprobación de esta. 
      </p>
      <p>
        <strong>NOVENO.</strong>
        Sin perjuicio de lo dispuesto en artículo OCTAVO, la fecha máxima de
        pago de las acciones suscritas será el 15 de diciembre del presente año.
        En caso de no haber sido pagadas para esta fecha no serán liberadas a
        favor del accionista moroso y quedarán a disposición de la sociedad para
        futuras capitalizaciones.
      </p>
      <p>
        <strong>DÉCIMO.</strong>
        El pago total del Precio de las acciones deberá hacerse en dinero hasta
        máximo el 15 de diciembre de 2024, mediante transferencia bancaria a la
        cuenta de Asulado, indicando el accionista aceptante. La mora en el pago
        del Precio causará intereses moratorios a la tasa máxima permitida por
        la Ley.
      </p>
      <p>
        <strong>DÉCIMO PRIMERO.</strong>
        Los accionistas que así lo requieran deberán obtener de las autoridades
        competentes las autorizaciones a las que haya lugar antes de suscribir y
        pagar las Acciones Ofrecidas.
      </p>
      <p>
        <strong>DÉCIMO SEGUNDO.</strong>
        El Representante Legal expedirá y registrará en el libro de accionistas
        las acciones suscritas en la presente capitalización, siendo este último
        quien realizará las anotaciones de los suscriptores de las mismas y
        llevará la teneduría del libro de registro de accionistas para emitir
        los títulos accionarios de las Acciones Ofrecidas suscritas y pagadas.
        La expedición de certificados que legitimen el ejercicio de los derechos
        inherentes a la calidad de los accionistas, así como la negociación y/o
        afectación a los derechos que las acciones les reconocen, y demás
        asuntos relacionados con las acciones, se regirán por lo dispuesto en
        las normas vigentes y en los Estatutos Sociales de Asulado. Por medio
        del presente Reglamento se confiere al Representante Legal de la
        Sociedad amplias facultades para suscribir todas las comunicaciones
        relacionadas con la Oferta y las aceptaciones a la misma, así como para
        realizar todos los actos y trámites necesarios para materializar una y
        otras.
      </p>
      <p>
        <strong>DÉCIMO TERCERO.</strong>
        Se deja constancia de que el presente reglamento de suscripción de
        acciones se encuentra sujeto a la necesidad de obtener autorización por
        parte de la Superintendencia Financiera de Colombia, so pena de que la
        suscripción de acciones sea ineficaz.”
      </p>
      <ul class="flex flex-col gap-2 ml-8">
        <li>
          <p><strong>Acciones ofrecidas:</strong> 3.067.362</p>
          <p>
            En caso de que decida aceptar la oferta y los demás accionistas la
            rechacen, podrá adquirir la totalidad de las acciones ofrecidas. Sin
            embargo, en caso de que varios accionistas concurran a la
            aceptación, las acciones se asignarán a prorrata de la participación
            que cada uno posea al momento de esta comunicación.
          </p>
        </li>
        <li>
          <p><strong>Precio por acción:</strong> $33.253 cada una.</p>
          <p>
            Plazo: si está interesado en aceptar la oferta, tendrá quince (15)
            días hábiles contados a partir de la fecha de esta comunicación.
            Para esto, deberá informar al representante legal de la Sociedad su
            decisión de aceptar la oferta, total o parcialmente. La notificación
            se recibirá en el correo secretariageneral@asulado.com.co.
          </p>
        </li>
        <li>
          <p><strong>Forma de pago: </strong></p>
          <p>
            El pago se efectuará mediante transferencia bancaria a la cuenta o
            cuentas indicadas por el oferente de conformidad con lo estipulado
            en el Reglamento de Emisión y Colocación referenciado con
            anterioridad.
          </p>
        </li>
      </ul>
    </div>
    <p class="!text-azul-80 text-xl font-bold mt-8">
      Asulado Seguros de Vida S.A.
    </p>
  </div>
</div>
