<section id="documentos" class="as__section as__g_documentos_tabs {{cls}}">
  <div id="faqs">
    <div class="as__section_wrapper full">
      <div class="as__section_content_full as__g_documentos_tabs_int">
        <div class="as__doc_tabs_small">
          <label for="tabs">Selecciona el tema</label>
          <select id="docs_tabs">
            <option value="0">Principios</option>
            <option value="1">Políticas corporativas</option>
            <option value="2">Órganos de gobierno</option>
            <option value="3">Informes</option>
            <option value="4">Alta gerencia</option>
            <option value="5">Información para accionistas</option>
          </select>
        </div>
        <ul class="as__doc_tabs">
          <li class="w-full">
            <a
              href="#documentos"
              data-tab="0"
              data-hash="principios"
              aria-current="page"
              class="tabs_link active"
            >
              <i class="fa-solid fa-check"></i>
              <b
                >Principios <br />
                de gobierno</b
              >
            </a>
          </li>
          <li class="w-full">
            <a
              href="#documentos"
              data-tab="1"
              data-hash="politicas"
              aria-current="page"
              class="tabs_link"
            >
              <i class="fa-solid fa-star"></i>
              <b
                >Políticas <br />
                corporativas</b
              >
            </a>
          </li>
          <li class="w-full">
            <a
              href="#documentos"
              data-tab="2"
              data-hash="organos"
              aria-current="page"
              class="tabs_link"
            >
              <i class="fa-solid fa-users-between-lines"></i>
              <b
                >Órganos <br />
                de gobierno</b
              >
            </a>
          </li>
         
          <li class="w-full">
            <a
              href="#documentos"
              data-tab="4"
              data-hash="alta_gerencia"
              aria-current="page"
              class="tabs_link"
            >
              <i class="fa-solid fa-people-group"></i>
              <b
                >Alta <br />
                gerencia</b
              >
            </a>
          </li>
          <li class="w-full">
            <a
              href="#documentos"
              data-tab="3"
              data-hash="informes"
              aria-current="page"
              class="tabs_link"
            >
              <i class="fa-solid fa-file-lines"></i>
              <b>Informes</b>
            </a>
          </li>
          <li class="w-full">
            <a
              href="#documentos"
              data-tab="5"
              data-hash="informacion_accionistas"
              aria-current="page"
              class="tabs_link"
            >
              <i class="fa-solid fa-file-user"></i>
             
              <b>Información para accionistas</b>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
