<section id="home_blog" class="as__section as__blog">
  <div class="as__section_wrapper">
    <div class="as__section_content">
      <h3 class="as__title_section">{{title}}</h3>
      <!-- <a href="/" class="as__button small">
        <span>{{ button }}</span
        ><i role="presentation" class="fa-light fa-arrow-right"></i>
      </a> -->
    </div>
  </div>
  <ul class="as__blog_posts">
    <li class="as__post_small">
      <a href="/blog/como-ahorrar-al-mercar"
        ><h4>5 consejos para aprovechar el seguro previsional</h4>
        <div class="as__post_small_content">
          <i role="presentation" class="fa-solid fa-circle-arrow-right"></i>
          <p>
            <strong
              >cómo puedes ahorrar al mercar para poder sacar el máximo provecho
              a tu mesada pensional</strong
            >? En este artículo te compartimos algunos de los mejores tips para
            mercar inteligente.
          </p>
        </div>
        <img alt="Asulado" src="/assets/images/blog/b1_top.jpg"
      /></a>
    </li>
    <li class="as__post_small">
      <a href="/blog/como-ahorrar-al-mercar"
        ><h4>¿Qué beneficios tengo con la renta vitalicia?</h4>
        <div class="as__post_small_content">
          <i role="presentation" class="fa-solid fa-circle-arrow-right"></i>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
            at nisi iaculis, viverra enim venenatis, varius ante. Integer
          </p>
        </div>
        <img alt="Asulado" src="/assets/images/blog/blog_2.jpg"
      /></a>
    </li>
    <li class="as__post_small">
      <a href="/blog/como-ahorrar-al-mercar"
        ><h4>Pensión de invalidez: todo lo que debes saber</h4>
        <div class="as__post_small_content">
          <i role="presentation" class="fa-solid fa-circle-arrow-right"></i>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
            at nisi iaculis, viverra enim venenatis, varius ante. Integer
          </p>
        </div>
        <img alt="Asulado" src="/assets/images/blog/blog_3.jpg"
      /></a>
    </li>
    <!-- <li class="as__post_small">
      <a href="/blog/5-consejos-para-aprovechar-el-seguro-previsional"
        ><h4>Preguntas frecuentes sobre la pensión vitalicia</h4>
        <div class="as__post_small_content">
          <i role="presentation" class="fa-solid fa-circle-arrow-right"></i>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
            at nisi iaculis, viverra enim venenatis, varius ante. Integer
          </p>
        </div>
        <img alt="Asulado" src="/assets/images/blog/blog_4.jpg"
      /></a>
    </li> -->
  </ul>
</section>
