<section id="home_cifras" class="as__section as__cifras">
  <div class="as__section_wrapper">
    <div class="as__section_content">
      <h3 class="as__title_section">ASULADO en cifras</h3>
      <div class="as__cifras_content">
        <div class="as__cifras_content_cifra">
          <img src="/assets/images/ILUS1.png" alt="asulado" />
          <h4><span id="home_cifras_clientes"></span>k</h4>
          <p>clientes de Rentas Vitalicias</p>
        </div>
        <div class="as__cifras_content_cifra">
          <img src="/assets/images/ILUS2.png" alt="asulado" />
          <h4><span id="home_cifras_cobertura"></span>m</h4>
          <p>de cobertura de afiliados a través del Seguro Previsional</p>
        </div>
        <div class="as__cifras_content_cifra">
          <img src="/assets/images/ILUS3.png" alt="asulado" />
          <h4>+<span id="home_cifras_colaboradores"></span></h4>
          <p>colaboradores en nuestra red</p>
        </div>
      </div>
    </div>
  </div>
</section>
