<section id="home_documentos" class="as__section as__documentos">
  <div class="as__section_wrapper">
    <div class="as__section_content">
      <h3 class="as__title_section">Gestión de documentos</h3>
      <div class="as__documentos_wrap_info">
        <div class="as__documentos_content">
          <h4 class="as__documentos_content_title">
            <span>Información</span> <span>que</span> <span>sí</span>
            <span>o</span> <span>sí</span> <span>debes</span>
            <span>conocer</span>
          </h4>
          <div class="as__documentos_content_info">
            <p>
              ¿Sabes cómo gestionar tus colillas, certificados, cajas de
              compensación y otros documentos? Te enseñamos a hacerlo.
            </p>
            <a href="/" class="as__button">
              <span>SABER MÁS</span>
              <i role="presentation" class="fa-light fa-arrow-right"></i>
            </a>
          </div>
        </div>
        <div class="as__documentos_img">
          <img
            class="img_doc_1"
            src="/assets/images/img_novedades_1.webp"
            alt="asulado"
          />
          <img
            class="img_doc_2"
            src="/assets/images/img_novedades_2.webp"
            alt="asulado"
          />
          <img
            class="img_doc_3"
            src="/assets/images/img_novedades_3.webp"
            alt="asulado"
          />
        </div>
      </div>
    </div>
  </div>
</section>
