<section id="home_servicios" class="as__section as_servicios">
  <div class="as__section_wrapper">
    <div class="as__section_content">
      <h3 class="as__title_section">Servicios</h3>
      <div class="as__servicios_wrapper">
        <div class="as__servicios_item as_servicios_rent serv_renta">
          <div class="as__servicios_image img_renta">
            <img src="/assets/images/img_renta.png" alt="Renta Vitalicia" />
          </div>
          <div class="as__servicios_content">
            <h2><span>Renta</span> <b>Vitalicia</b></h2>
            <p>
              Modalidad de pensión que se contrata con una Aseguradora de Vida,
              en la cual los pensionados reciben de forma periódica el pago de
              su renta pensional siempre que cumplan los requisitos establecidos
              en la normatividad vigente. Una renta vitalicia te ofrece
              tranquilidad y libertad.
            </p>
          </div>
          <a href="/" class="as__button">
            <span>MÁS INFORMACIÓN</span>
            <i role="presentation" class="fa-light fa-arrow-right"></i>
          </a>
        </div>

        <div class="as__servicios_item as_servicios_prev serv_seguro">
          <div class="as__servicios_image img_seguro">
            <img src="/assets/images/img_seguro.png" alt="Seguro Previsional" />
          </div>
          <div class="as__servicios_content">
            <h2><span>Seguro</span> <b>Previsional</b></h2>
            <p>
              Es el seguro que cubre a los afiliados a un Fondo de Pensiones
              ante los riesgos de invalidez y fallecimiento.
            </p>
            <p>
              Su propósito es completar el capital de su cuenta de ahorro
              individual para que el afiliado o su grupo familiar accedan a la
              pensión, ya sea por una situación de invalidez o fallecimiento del
              afiliado.
            </p>
          </div>
          <a href="/" class="as__button">
            <span>MÁS INFORMACIÓN</span>
            <i role="presentation" class="fa-light fa-arrow-right"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
