<section id="am__como" class="as__section as__como">
  <div class="as__section_wrapper">
    <div class="as__section_content">
      <h3 class="as__title_section">¿Cómo lo hacemos?</h3>
    </div>
  </div>
  <ul id="am__como_car" class="as__como_posts">
    <li class="as__como_item">
      <div class="as__como_item_icon anim">
        <i class="fa-light fa-circle-info"></i>
      </div>
      <div class="as__como_item_content anim">
        <p>
          Entendiendo las necesidades de nuestros clientes y resolviéndolas con
          productos innovadores.
        </p>
      </div>
    </li>
    <li class="as__como_item">
      <div class="as__como_item_icon anim">
        <i class="fa-light fa-microchip"></i>
      </div>
      <div class="as__como_item_content anim">
        <p>
          Usando la data y la tecnología como pilares para la toma de
          decisiones.
        </p>
      </div>
    </li>
    <li class="as__como_item">
      <div class="as__como_item_icon anim">
        <i class="fa-light fa-hand-holding-heart"></i>
      </div>
      <div class="as__como_item_content anim">
        <p>
          Trabajando con el mejor talento, conectados por un mismo propósito y
          la búsqueda de la excelencia.
        </p>
      </div>
    </li>
    <li class="as__como_item">
      <div class="as__como_item_icon anim">
        <i class="fa-light fa-rotate-right"></i>
      </div>
      <div class="as__como_item_content anim">
        <p>
          Reconociendo que la experimentación es la mejor forma de aprender.
        </p>
      </div>
    </li>
    <li class="as__como_item">
      <div class="as__como_item_icon anim">
        <i class="fa-light fa-stars"></i>
      </div>
      <div class="as__como_item_content anim">
        <p>
          Siendo una compañía flexible y ágil, lo que nos permite operar con
          eficiencia.
        </p>
      </div>
    </li>
  </ul>
</section>
