<article
  c-procolillapagoenglish_procolillapagoenglish=""
  data-content-position="right"
  tabindex="-1"
  class="omniscript-article slds-card slds-grid slds-wrap slds-grid_vertical-stretch slds-flexipage-container_large"
>
  <div c-procolillapagoenglish_procolillapagoenglish=""></div>
  <div
    c-procolillapagoenglish_procolillapagoenglish=""
    class="omniscript-body slds-card__body slds-card__body_inner slds-m-top_medium slds-p-right_medium slds-col slds-grid slds-grid_vertical slds-size_1-of-1"
    data-stepborder="right"
  >
    <vlocity_ins-omniscript-step
      c-procolillapagoenglish_procolillapagoenglish=""
      data-omni-key="TipoConsulta"
      vlocity_ins-omniscriptstep_omniscriptstep-host=""
      ><div vlocity_ins-omniscriptstep_omniscriptstep=""></div>
      <h1
        vlocity_ins-omniscriptstep_omniscriptstep=""
        class="slds-page-header__title slds-p-horizontal_medium slds-text-heading--medium slds-m-top_medium os-step-label"
      >
        Tipo de consulta
      </h1>
      <div
        class="vlc-separator slds-border_top slds-m-top_x-small slds-m-bottom_xx-small slds-m-horizontal_medium"
        vlocity_ins-omniscriptstep_omniscriptstep=""
      ></div>
      <div
        vlocity_ins-omniscriptstep_omniscriptstep=""
        class="slds-grid slds-wrap slds-p-vertical_small omniscript-step__body"
      >
        <slot
          vlocity_ins-omniscriptstep_omniscriptstep=""
          class="slds-grid slds-wrap slds-size_1-of-1 slds-p-left_medium"
          ><vlocity_ins-omniscript-radio
            c-procolillapagoenglish_procolillapagoenglish=""
            data-omni-key="Tiposdeconsulta"
            class="slds-p-right_small slds-m-bottom_xx-small slds-show_inline-block slds-size_12-of-12 slds-medium-size_12-of-12"
            ><slot
              ><c-radio-group
                data-refresh="false"
                data-omni-input=""
                vlocity_ins-radiogroup_radiogroup_slds-host=""
                ><div vlocity_ins-radiogroup_radiogroup_slds="">
                  <fieldset
                    vlocity_ins-radiogroup_radiogroup_slds=""
                    class="slds-form-element"
                  >
                    <span
                      vlocity_ins-radiogroup_radiogroup_slds=""
                      class="slds-clearfix"
                      ><slot
                        vlocity_ins-radiogroup_radiogroup_slds=""
                        name="label"
                      ></slot
                    ></span>
                    <div
                      vlocity_ins-radiogroup_radiogroup_slds=""
                      class="slds-form-element__control"
                    >
                      <div
                        vlocity_ins-radiogroup_radiogroup_slds=""
                        class="slds-radio"
                      >
                        <input
                          vlocity_ins-radiogroup_radiogroup_slds=""
                          type="radio"
                          id="vlocity-radio-0-0-125"
                          data-index="0"
                          name="vlocity-radio-0"
                          value="UltimoPagoMesada"
                        /><label
                          vlocity_ins-radiogroup_radiogroup_slds=""
                          class="slds-radio__label"
                          data-index="0"
                          for="vlocity-radio-0-0-125"
                          ><span
                            class="slds-radio_faux"
                            vlocity_ins-radiogroup_radiogroup_slds=""
                          ></span
                          ><span
                            vlocity_ins-radiogroup_radiogroup_slds=""
                            class="slds-form-element__label slds-p-top_none"
                            >Consultar último pago de mi mesada</span
                          ></label
                        >
                      </div>
                      <div
                        vlocity_ins-radiogroup_radiogroup_slds=""
                        class="slds-radio"
                      >
                        <input
                          vlocity_ins-radiogroup_radiogroup_slds=""
                          type="radio"
                          id="vlocity-radio-0-1-125"
                          data-index="1"
                          name="vlocity-radio-0"
                          value="VariosPeriodosMesada"
                        /><label
                          vlocity_ins-radiogroup_radiogroup_slds=""
                          class="slds-radio__label"
                          data-index="1"
                          for="vlocity-radio-0-1-125"
                          ><span
                            class="slds-radio_faux"
                            vlocity_ins-radiogroup_radiogroup_slds=""
                          ></span
                          ><span
                            vlocity_ins-radiogroup_radiogroup_slds=""
                            class="slds-form-element__label slds-p-top_none"
                            >Consultar varios periodos de mi mesada</span
                          ></label
                        >
                      </div>
                    </div>
                  </fieldset>
                </div></c-radio-group
              ></slot
            ></vlocity_ins-omniscript-radio
          ><vlocity_ins-omniscript-block
            c-procolillapagoenglish_procolillapagoenglish=""
            data-omni-key="Fechasdesdehasta"
            class="slds-p-right_small slds-m-bottom_xx-small slds-show_inline-block slds-size_12-of-12 slds-medium-size_12-of-12 slds-hide"
            vlocity_ins-omniscriptblock_omniscriptblock-host=""
            ><ul
              vlocity_ins-omniscriptblock_omniscriptblock=""
              class="slds-accordion"
            >
              <li
                vlocity_ins-omniscriptblock_omniscriptblock=""
                class="slds-accordion__list-item"
              >
                <section
                  vlocity_ins-omniscriptblock_omniscriptblock=""
                  class="slds-accordion__section slds-p-horizontal_none slds-is-open"
                >
                  <div
                    vlocity_ins-omniscriptblock_omniscriptblock=""
                    class="slds-accordion__summary"
                  >
                    <div
                      vlocity_ins-omniscriptblock_omniscriptblock=""
                      class="slds-accordion__summary-heading"
                    ></div>
                  </div>
                  <fieldset
                    vlocity_ins-omniscriptblock_omniscriptblock=""
                    class="slds-accordion__content omni-block_content"
                    id="content-126"
                  >
                    <legend
                      vlocity_ins-omniscriptblock_omniscriptblock=""
                    ></legend>
                    <slot vlocity_ins-omniscriptblock_omniscriptblock=""
                      ><vlocity_ins-omniscript-text-block
                        c-procolillapagoenglish_procolillapagoenglish=""
                        data-omni-key="TextBlock2"
                        class="slds-p-right_small slds-m-bottom_xx-small slds-show_inline-block slds-size_12-of-12 slds-medium-size_2-of-12"
                        ><slot
                          ><div
                            class="slds-form-element slds-form-container slds-text-block"
                          >
                            <c-omniscript-formatted-rich-text
                              ><lightning-formatted-rich-text
                                class="slds-rich-text-editor__output"
                                ><span
                                  part="formatted-rich-text"
                                ></span></lightning-formatted-rich-text
                            ></c-omniscript-formatted-rich-text></div></slot></vlocity_ins-omniscript-text-block
                      ><vlocity_ins-omniscript-date
                        c-procolillapagoenglish_procolillapagoenglish=""
                        data-omni-key="FechaDesde"
                        class="slds-p-right_small slds-m-bottom_xx-small slds-show_inline-block slds-size_12-of-12 slds-medium-size_4-of-12"
                        ><slot
                          ><c-input
                            class="slds-container_fluid"
                            data-omni-input=""
                            vlocity_ins-input_input_slds-host=""
                            ><c-date-picker
                              vlocity_ins-input_input_slds=""
                              vlocity_ins-datepicker_datepicker_slds-host=""
                              ><div
                                vlocity_ins-datepicker_datepicker_slds=""
                                class="via-slds datePickerHt"
                              >
                                <div
                                  vlocity_ins-datepicker_datepicker_slds=""
                                  class="slds-form"
                                >
                                  <fieldset
                                    vlocity_ins-datepicker_datepicker_slds=""
                                    class="slds-form-element"
                                  >
                                    <div
                                      vlocity_ins-datepicker_datepicker_slds=""
                                      class="slds-form-element__group"
                                    >
                                      <div
                                        vlocity_ins-datepicker_datepicker_slds=""
                                        class="slds-form-element__row"
                                      >
                                        <div
                                          vlocity_ins-datepicker_datepicker_slds=""
                                          class="slds-gutters slds-size_full slds-m-around_none"
                                        >
                                          <div
                                            vlocity_ins-datepicker_datepicker_slds=""
                                            class="slds-col slds-p-around_none"
                                          >
                                            <div
                                              vlocity_ins-datepicker_datepicker_slds=""
                                              class="slds-form-element slds-size_1-of-1 slds-dropdown-trigger slds-dropdown-trigger_click"
                                            >
                                              <div
                                                vlocity_ins-datepicker_datepicker_slds=""
                                                class="slds-grid"
                                                data-label="true"
                                              >
                                                <label
                                                  vlocity_ins-datepicker_datepicker_slds=""
                                                  class="slds-form-element__label slds-show--inline slds-truncate"
                                                  for="date-input-132"
                                                  >Fechas desde</label
                                                ><slot
                                                  vlocity_ins-datepicker_datepicker_slds=""
                                                  name="label"
                                                  ><slot
                                                    vlocity_ins-input_input_slds=""
                                                    slot="label"
                                                    name="label"
                                                  ></slot
                                                ></slot>
                                              </div>
                                              <div
                                                vlocity_ins-datepicker_datepicker_slds=""
                                                class="slds-form-element__control slds-input-has-icon slds-input-has-icon_right"
                                              >
                                                <input
                                                  vlocity_ins-datepicker_datepicker_slds=""
                                                  class="slds-input"
                                                  type="text"
                                                  id="date-input-132"
                                                  aria-label="Fechas desde"
                                                  data-id="date-picker-slds-input"
                                                  autocomplete="off"
                                                  aria-invalid="false"
                                                  aria-describedby="errorMessageBlock-132"
                                                /><button
                                                  vlocity_ins-datepicker_datepicker_slds=""
                                                  class="slds-button slds-button_icon slds-input__icon slds-input__icon_right Date"
                                                  data-id="datePickerBtn"
                                                  title="Select Date"
                                                  type="button"
                                                >
                                                  <c-icon
                                                    vlocity_ins-datepicker_datepicker_slds=""
                                                    class="Date"
                                                    aria-hidden="true"
                                                    ><svg
                                                      class="slds-icon slds-icon-text-default slds-icon_x-small"
                                                      aria-hidden="true"
                                                    >
                                                      <use
                                                        xlink:href="#httpsproteccionstagesandboxmysitecomasuladosldsiconsutilityspritesvgsymbolssvg_event"
                                                      ></use></svg
                                                    ><span
                                                      class="slds-assistive-text"
                                                    ></span></c-icon
                                                  ><span
                                                    vlocity_ins-datepicker_datepicker_slds=""
                                                    class="slds-assistive-text"
                                                    >Select Date</span
                                                  >
                                                </button>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </fieldset>
                                </div>
                              </div></c-date-picker
                            ></c-input
                          ></slot
                        ></vlocity_ins-omniscript-date
                      ><vlocity_ins-omniscript-date
                        c-procolillapagoenglish_procolillapagoenglish=""
                        data-omni-key="FechaHasta"
                        class="slds-p-right_small slds-m-bottom_xx-small slds-show_inline-block slds-size_12-of-12 slds-medium-size_4-of-12"
                        ><slot
                          ><c-input
                            class="slds-container_fluid"
                            data-omni-input=""
                            vlocity_ins-input_input_slds-host=""
                            ><c-date-picker
                              vlocity_ins-input_input_slds=""
                              vlocity_ins-datepicker_datepicker_slds-host=""
                              ><div
                                vlocity_ins-datepicker_datepicker_slds=""
                                class="via-slds datePickerHt"
                              >
                                <div
                                  vlocity_ins-datepicker_datepicker_slds=""
                                  class="slds-form"
                                >
                                  <fieldset
                                    vlocity_ins-datepicker_datepicker_slds=""
                                    class="slds-form-element"
                                  >
                                    <div
                                      vlocity_ins-datepicker_datepicker_slds=""
                                      class="slds-form-element__group"
                                    >
                                      <div
                                        vlocity_ins-datepicker_datepicker_slds=""
                                        class="slds-form-element__row"
                                      >
                                        <div
                                          vlocity_ins-datepicker_datepicker_slds=""
                                          class="slds-gutters slds-size_full slds-m-around_none"
                                        >
                                          <div
                                            vlocity_ins-datepicker_datepicker_slds=""
                                            class="slds-col slds-p-around_none"
                                          >
                                            <div
                                              vlocity_ins-datepicker_datepicker_slds=""
                                              class="slds-form-element slds-size_1-of-1 slds-dropdown-trigger slds-dropdown-trigger_click"
                                            >
                                              <div
                                                vlocity_ins-datepicker_datepicker_slds=""
                                                class="slds-grid"
                                                data-label="true"
                                              >
                                                <label
                                                  vlocity_ins-datepicker_datepicker_slds=""
                                                  class="slds-form-element__label slds-show--inline slds-truncate"
                                                  for="date-input-136"
                                                  >Fechas hasta</label
                                                ><slot
                                                  vlocity_ins-datepicker_datepicker_slds=""
                                                  name="label"
                                                  ><slot
                                                    vlocity_ins-input_input_slds=""
                                                    slot="label"
                                                    name="label"
                                                  ></slot
                                                ></slot>
                                              </div>
                                              <div
                                                vlocity_ins-datepicker_datepicker_slds=""
                                                class="slds-form-element__control slds-input-has-icon slds-input-has-icon_right"
                                              >
                                                <input
                                                  vlocity_ins-datepicker_datepicker_slds=""
                                                  class="slds-input"
                                                  type="text"
                                                  id="date-input-136"
                                                  aria-label="Fechas hasta"
                                                  data-id="date-picker-slds-input"
                                                  autocomplete="off"
                                                  aria-invalid="false"
                                                  aria-describedby="errorMessageBlock-136"
                                                /><button
                                                  vlocity_ins-datepicker_datepicker_slds=""
                                                  class="slds-button slds-button_icon slds-input__icon slds-input__icon_right Date"
                                                  data-id="datePickerBtn"
                                                  title="Select Date"
                                                  type="button"
                                                >
                                                  <c-icon
                                                    vlocity_ins-datepicker_datepicker_slds=""
                                                    class="Date"
                                                    aria-hidden="true"
                                                    ><svg
                                                      class="slds-icon slds-icon-text-default slds-icon_x-small"
                                                      aria-hidden="true"
                                                    >
                                                      <use
                                                        xlink:href="#httpsproteccionstagesandboxmysitecomasuladosldsiconsutilityspritesvgsymbolssvg_event"
                                                      ></use></svg
                                                    ><span
                                                      class="slds-assistive-text"
                                                    ></span></c-icon
                                                  ><span
                                                    vlocity_ins-datepicker_datepicker_slds=""
                                                    class="slds-assistive-text"
                                                    >Select Date</span
                                                  >
                                                </button>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </fieldset>
                                </div>
                              </div></c-date-picker
                            ></c-input
                          ></slot
                        ></vlocity_ins-omniscript-date
                      ><vlocity_ins-omniscript-text-block
                        c-procolillapagoenglish_procolillapagoenglish=""
                        data-omni-key="TextBlock1"
                        class="slds-p-right_small slds-m-bottom_xx-small slds-show_inline-block slds-size_12-of-12 slds-medium-size_12-of-12"
                        ><slot
                          ><div
                            class="slds-form-element slds-form-container slds-text-block"
                          >
                            <c-omniscript-formatted-rich-text
                              ><lightning-formatted-rich-text
                                class="slds-rich-text-editor__output"
                                ><span part="formatted-rich-text"
                                  ><div>
                                    <p style="text-align: center">
                                      Navega a traves del calendario y elige la
                                      fecha que desees para consultar tus
                                      colillas de pago
                                    </p>
                                  </div></span
                                ></lightning-formatted-rich-text
                              ></c-omniscript-formatted-rich-text
                            >
                          </div></slot
                        ></vlocity_ins-omniscript-text-block
                      ></slot
                    >
                  </fieldset>
                </section>
              </li>
            </ul></vlocity_ins-omniscript-block
          ><vlocity_ins-omniscript-formula
            c-procolillapagoenglish_procolillapagoenglish=""
            data-omni-key="PeriodoInicial"
            class="slds-p-right_small slds-m-bottom_xx-small slds-show_inline-block slds-size_12-of-12 slds-medium-size_12-of-12 slds-hide"
            ><slot
              ><c-masked-input
                data-omni-input=""
                vlocity_ins-maskedinput_maskedinput_slds-host=""
                ><div
                  vlocity_ins-maskedinput_maskedinput_slds=""
                  class="slds-form-element slds-form-container"
                >
                  <div
                    vlocity_ins-maskedinput_maskedinput_slds=""
                    class="slds-grid"
                  >
                    <slot
                      vlocity_ins-maskedinput_maskedinput_slds=""
                      name="label"
                    ></slot>
                  </div>
                  <div vlocity_ins-maskedinput_maskedinput_slds="">
                    <div
                      vlocity_ins-maskedinput_maskedinput_slds=""
                      class="slds-grid"
                    >
                      <label
                        vlocity_ins-maskedinput_maskedinput_slds=""
                        class="slds-form-element__label slds-show--inline"
                        for="input5-142"
                        style="width: auto"
                        >Formula1</label
                      >
                    </div>
                    <input
                      vlocity_ins-maskedinput_maskedinput_slds=""
                      class="slds-input"
                      type="text"
                      readonly=""
                      disabled=""
                      id="input5-142"
                    />
                  </div>
                  <div
                    vlocity_ins-maskedinput_maskedinput_slds=""
                    class="slds-form-element__control slds-form-element__control-animated-label"
                  ></div>
                  <div
                    vlocity_ins-maskedinput_maskedinput_slds=""
                    class="slds-grid"
                  ></div></div></c-masked-input></slot></vlocity_ins-omniscript-formula
          ><vlocity_ins-omniscript-formula
            c-procolillapagoenglish_procolillapagoenglish=""
            data-omni-key="PeriodoFinal"
            class="slds-p-right_small slds-m-bottom_xx-small slds-show_inline-block slds-size_12-of-12 slds-medium-size_12-of-12 slds-hide"
            ><slot
              ><c-masked-input
                data-omni-input=""
                vlocity_ins-maskedinput_maskedinput_slds-host=""
                ><div
                  vlocity_ins-maskedinput_maskedinput_slds=""
                  class="slds-form-element slds-form-container"
                >
                  <div
                    vlocity_ins-maskedinput_maskedinput_slds=""
                    class="slds-grid"
                  >
                    <slot
                      vlocity_ins-maskedinput_maskedinput_slds=""
                      name="label"
                    ></slot>
                  </div>
                  <div vlocity_ins-maskedinput_maskedinput_slds="">
                    <div
                      vlocity_ins-maskedinput_maskedinput_slds=""
                      class="slds-grid"
                    >
                      <label
                        vlocity_ins-maskedinput_maskedinput_slds=""
                        class="slds-form-element__label slds-show--inline"
                        for="input7-144"
                        style="width: auto"
                        >Formula1</label
                      >
                    </div>
                    <input
                      vlocity_ins-maskedinput_maskedinput_slds=""
                      class="slds-input"
                      type="text"
                      readonly=""
                      disabled=""
                      id="input7-144"
                    />
                  </div>
                  <div
                    vlocity_ins-maskedinput_maskedinput_slds=""
                    class="slds-form-element__control slds-form-element__control-animated-label"
                  ></div>
                  <div
                    vlocity_ins-maskedinput_maskedinput_slds=""
                    class="slds-grid"
                  ></div></div></c-masked-input></slot></vlocity_ins-omniscript-formula
        ></slot></div></vlocity_ins-omniscript-step
    ><vlocity_ins-omniscript-set-values
      c-procolillapagoenglish_procolillapagoenglish=""
      data-omni-key="Setfechas"
      vlocity_ins-omniscriptbaseaction_omniscriptbaseaction-host=""
      ><slot
        vlocity_ins-omniscriptbaseaction_omniscriptbaseaction=""
      ></slot></vlocity_ins-omniscript-set-values
    ><vlocity_ins-omniscript-ip-action
      c-procolillapagoenglish_procolillapagoenglish=""
      data-omni-key="ExtractUserInfo"
      vlocity_ins-omniscriptbaseaction_omniscriptbaseaction-host=""
      ><slot
        vlocity_ins-omniscriptbaseaction_omniscriptbaseaction=""
      ></slot></vlocity_ins-omniscript-ip-action
    ><vlocity_ins-omniscript-ip-action
      c-procolillapagoenglish_procolillapagoenglish=""
      data-omni-key="IPUsuario"
      vlocity_ins-omniscriptbaseaction_omniscriptbaseaction-host=""
      ><slot
        vlocity_ins-omniscriptbaseaction_omniscriptbaseaction=""
      ></slot></vlocity_ins-omniscript-ip-action
    ><vlocity_ins-omniscript-ip-action
      c-procolillapagoenglish_procolillapagoenglish=""
      data-omni-key="ConsultarInformacionContacto"
      vlocity_ins-omniscriptbaseaction_omniscriptbaseaction-host=""
      ><slot
        vlocity_ins-omniscriptbaseaction_omniscriptbaseaction=""
      ></slot></vlocity_ins-omniscript-ip-action
    ><vlocity_ins-omniscript-ip-action
      c-procolillapagoenglish_procolillapagoenglish=""
      data-omni-key="ConsultaColillasPago"
      vlocity_ins-omniscriptbaseaction_omniscriptbaseaction-host=""
      class="slds-hide"
      ><slot
        vlocity_ins-omniscriptbaseaction_omniscriptbaseaction=""
      ></slot></vlocity_ins-omniscript-ip-action
    ><vlocity_ins-omniscript-ip-action
      c-procolillapagoenglish_procolillapagoenglish=""
      data-omni-key="ConsultaColillasPagoUltima"
      vlocity_ins-omniscriptbaseaction_omniscriptbaseaction-host=""
      class="slds-hide"
      ><slot
        vlocity_ins-omniscriptbaseaction_omniscriptbaseaction=""
      ></slot></vlocity_ins-omniscript-ip-action
    ><vlocity_ins-omniscript-ip-action
      c-procolillapagoenglish_procolillapagoenglish=""
      data-omni-key="HandleColillas"
      vlocity_ins-omniscriptbaseaction_omniscriptbaseaction-host=""
      ><slot
        vlocity_ins-omniscriptbaseaction_omniscriptbaseaction=""
      ></slot></vlocity_ins-omniscript-ip-action
    ><vlocity_ins-omniscript-set-values
      c-procolillapagoenglish_procolillapagoenglish=""
      data-omni-key="SetURL"
      vlocity_ins-omniscriptbaseaction_omniscriptbaseaction-host=""
      class="slds-hide"
      ><slot
        vlocity_ins-omniscriptbaseaction_omniscriptbaseaction=""
      ></slot></vlocity_ins-omniscript-set-values
    ><vlocity_ins-omniscript-step
      c-procolillapagoenglish_procolillapagoenglish=""
      data-omni-key="ConsultaUltimoPago"
      vlocity_ins-omniscriptstep_omniscriptstep-host=""
      class="slds-hide"
    ></vlocity_ins-omniscript-step
    ><vlocity_ins-omniscript-set-values
      c-procolillapagoenglish_procolillapagoenglish=""
      data-omni-key="SetValues1"
      vlocity_ins-omniscriptbaseaction_omniscriptbaseaction-host=""
      ><slot
        vlocity_ins-omniscriptbaseaction_omniscriptbaseaction=""
      ></slot></vlocity_ins-omniscript-set-values
    ><vlocity_ins-omniscript-step
      c-procolillapagoenglish_procolillapagoenglish=""
      data-omni-key="VariosPeriodos"
      vlocity_ins-omniscriptstep_omniscriptstep-host=""
      class="slds-hide"
    ></vlocity_ins-omniscript-step>
    <div
      c-procolillapagoenglish_procolillapagoenglish=""
      class="slds-grid slds-wrap slds-gutters slds-p-horizontal_medium slds-show_medium"
    >
      <div
        c-procolillapagoenglish_procolillapagoenglish=""
        class="slds-col slds-order_2 slds-medium-order_1 slds-size_12-of-12 slds-medium-size_6-of-12"
      >
        <div
          c-procolillapagoenglish_procolillapagoenglish=""
          class="omniscript-sfl-actions"
        >
          <vlocity_ins-navigate-action
            c-procolillapagoenglish_procolillapagoenglish=""
            data-omni-key="DEFAULT-CANCEL"
            ><slot></slot
          ></vlocity_ins-navigate-action>
        </div>
      </div>
      <div
        c-procolillapagoenglish_procolillapagoenglish=""
        class="slds-col slds-order_1 slds-medium-order_2 slds-size_12-of-12 slds-medium-size_6-of-12"
      >
        <div
          c-procolillapagoenglish_procolillapagoenglish=""
          class="slds-grid slds-wrap slds-grid_align-end omniscript-button-position"
        >
          <vlocity_ins-button
            c-procolillapagoenglish_procolillapagoenglish=""
            class="omniscript-btn-next slds-size_12-of-12 slds-m-bottom_x-small slds-medium-size_5-of-12"
            ><button
              class="vlocity-btn slds-button slds-button_brand slds-size_1-of-1 slds-p-horizontal_none slds-text-align_center"
              type="button"
              aria-label="Siguiente"
            >
              <span class="btnLabel">Siguiente</span>
            </button></vlocity_ins-button
          >
        </div>
      </div>
    </div>
    <div
      c-procolillapagoenglish_procolillapagoenglish=""
      class="slds-grid slds-wrap slds-gutters slds-p-horizontal_medium slds-hide_medium"
    >
      <div
        c-procolillapagoenglish_procolillapagoenglish=""
        class="slds-col slds-order_1 slds-medium-order_2 slds-size_12-of-12 slds-medium-size_6-of-12"
      >
        <div
          c-procolillapagoenglish_procolillapagoenglish=""
          class="slds-grid slds-wrap slds-grid_align-end"
        >
          <vlocity_ins-button
            c-procolillapagoenglish_procolillapagoenglish=""
            class="omniscript-btn-next slds-size_12-of-12 slds-m-bottom_x-small slds-medium-size_5-of-12"
            ><button
              class="vlocity-btn slds-button slds-button_brand slds-size_1-of-1 slds-p-horizontal_none slds-text-align_center"
              type="button"
              aria-label="Siguiente"
            >
              <span class="btnLabel">Siguiente</span>
            </button></vlocity_ins-button
          >
        </div>
      </div>
      <div
        c-procolillapagoenglish_procolillapagoenglish=""
        class="slds-col slds-order_2 slds-medium-order_1 slds-size_12-of-12 slds-medium-size_6-of-12"
      >
        <div
          c-procolillapagoenglish_procolillapagoenglish=""
          class="omniscript-sfl-actions"
        >
          <vlocity_ins-navigate-action
            c-procolillapagoenglish_procolillapagoenglish=""
            data-omni-key="DEFAULT-CANCEL"
            ><slot></slot
          ></vlocity_ins-navigate-action>
        </div>
      </div>
    </div>
  </div>
</article>
