<article
  c-procalldocumentcertificatespanish_procalldocumentcertificatespanish=""
  data-content-position="right"
  tabindex="-1"
  class="omniscript-article slds-card slds-grid slds-wrap slds-grid_vertical-stretch slds-flexipage-container_large"
>
  <div
    c-procalldocumentcertificatespanish_procalldocumentcertificatespanish=""
  ></div>
  <div
    c-procalldocumentcertificatespanish_procalldocumentcertificatespanish=""
    class="omniscript-body slds-card__body slds-card__body_inner slds-m-top_medium slds-p-right_medium slds-col slds-grid slds-grid_vertical slds-size_1-of-1"
    data-stepborder="right"
  >
    <vlocity_ins-omniscript-step
      c-procalldocumentcertificatespanish_procalldocumentcertificatespanish=""
      data-omni-key="Step"
      vlocity_ins-omniscriptstep_omniscriptstep-host=""
      ><div vlocity_ins-omniscriptstep_omniscriptstep=""></div>
      <h1
        vlocity_ins-omniscriptstep_omniscriptstep=""
        class="slds-page-header__title slds-p-horizontal_medium slds-text-heading--medium slds-m-top_medium os-step-label"
      >
        Generar certificado de pensión
      </h1>
      <div
        class="vlc-separator slds-border_top slds-m-top_x-small slds-m-bottom_xx-small slds-m-horizontal_medium"
        vlocity_ins-omniscriptstep_omniscriptstep=""
      ></div>
      <div
        vlocity_ins-omniscriptstep_omniscriptstep=""
        class="slds-grid slds-wrap slds-p-vertical_small omniscript-step__body"
      >
        <slot
          vlocity_ins-omniscriptstep_omniscriptstep=""
          class="slds-grid slds-wrap slds-size_1-of-1 slds-p-left_medium"
          ><vlocity_ins-omniscript-radio
            c-procalldocumentcertificatespanish_procalldocumentcertificatespanish=""
            data-omni-key="TipoCertificado"
            class="slds-p-right_small slds-m-bottom_xx-small slds-show_inline-block slds-size_12-of-12 slds-medium-size_12-of-12"
            ><slot
              ><c-radio-group
                data-refresh="false"
                data-omni-input=""
                vlocity_ins-radiogroup_radiogroup_slds-host=""
                ><div vlocity_ins-radiogroup_radiogroup_slds="">
                  <fieldset
                    vlocity_ins-radiogroup_radiogroup_slds=""
                    class="slds-form-element"
                  >
                    <span
                      vlocity_ins-radiogroup_radiogroup_slds=""
                      class="slds-clearfix"
                      ><slot
                        vlocity_ins-radiogroup_radiogroup_slds=""
                        name="label"
                      ></slot
                    ></span>
                    <div
                      vlocity_ins-radiogroup_radiogroup_slds=""
                      class="slds-form-element__control"
                    >
                      <div
                        vlocity_ins-radiogroup_radiogroup_slds=""
                        class="slds-radio"
                      >
                        <input
                          vlocity_ins-radiogroup_radiogroup_slds=""
                          type="radio"
                          required=""
                          id="vlocity-radio-1-0-162"
                          data-index="0"
                          name="vlocity-radio-1"
                          value="Certificado de pensión SIN salario"
                        /><label
                          vlocity_ins-radiogroup_radiogroup_slds=""
                          class="slds-radio__label"
                          data-index="0"
                          for="vlocity-radio-1-0-162"
                          ><span
                            class="slds-radio_faux"
                            vlocity_ins-radiogroup_radiogroup_slds=""
                          ></span
                          ><span
                            vlocity_ins-radiogroup_radiogroup_slds=""
                            class="slds-form-element__label slds-p-top_none"
                            >Certificado de pensión SIN salario</span
                          ></label
                        >
                      </div>
                      <div
                        vlocity_ins-radiogroup_radiogroup_slds=""
                        class="slds-radio"
                      >
                        <input
                          vlocity_ins-radiogroup_radiogroup_slds=""
                          type="radio"
                          required=""
                          id="vlocity-radio-1-1-162"
                          data-index="1"
                          name="vlocity-radio-1"
                          value="Certificado de pensión CON salario"
                        /><label
                          vlocity_ins-radiogroup_radiogroup_slds=""
                          class="slds-radio__label"
                          data-index="1"
                          for="vlocity-radio-1-1-162"
                          ><span
                            class="slds-radio_faux"
                            vlocity_ins-radiogroup_radiogroup_slds=""
                          ></span
                          ><span
                            vlocity_ins-radiogroup_radiogroup_slds=""
                            class="slds-form-element__label slds-p-top_none"
                            >Certificado de pensión CON salario</span
                          ></label
                        >
                      </div>
                    </div>
                  </fieldset>
                </div></c-radio-group
              ></slot
            ></vlocity_ins-omniscript-radio
          ></slot
        >
      </div></vlocity_ins-omniscript-step
    ><vlocity_ins-omniscript-ip-action
      c-procalldocumentcertificatespanish_procalldocumentcertificatespanish=""
      data-omni-key="ExtractUserCaseInfo"
      vlocity_ins-omniscriptbaseaction_omniscriptbaseaction-host=""
      ><slot
        vlocity_ins-omniscriptbaseaction_omniscriptbaseaction=""
      ></slot></vlocity_ins-omniscript-ip-action
    ><vlocity_ins-omniscript-ip-action
      c-procalldocumentcertificatespanish_procalldocumentcertificatespanish=""
      data-omni-key="ExtractUserContactInfo"
      vlocity_ins-omniscriptbaseaction_omniscriptbaseaction-host=""
      ><slot
        vlocity_ins-omniscriptbaseaction_omniscriptbaseaction=""
      ></slot></vlocity_ins-omniscript-ip-action
    ><vlocity_ins-omniscript-ip-action
      c-procalldocumentcertificatespanish_procalldocumentcertificatespanish=""
      data-omni-key="ExtraeInfoPoliza"
      vlocity_ins-omniscriptbaseaction_omniscriptbaseaction-host=""
      ><slot
        vlocity_ins-omniscriptbaseaction_omniscriptbaseaction=""
      ></slot></vlocity_ins-omniscript-ip-action
    ><vlocity_ins-omniscript-set-values
      c-procalldocumentcertificatespanish_procalldocumentcertificatespanish=""
      data-omni-key="svInitData"
      vlocity_ins-omniscriptbaseaction_omniscriptbaseaction-host=""
      class="slds-hide"
      ><slot
        vlocity_ins-omniscriptbaseaction_omniscriptbaseaction=""
      ></slot></vlocity_ins-omniscript-set-values
    ><vlocity_ins-omniscript-set-values
      c-procalldocumentcertificatespanish_procalldocumentcertificatespanish=""
      data-omni-key="SetValues2"
      vlocity_ins-omniscriptbaseaction_omniscriptbaseaction-host=""
      class=""
      ><slot
        vlocity_ins-omniscriptbaseaction_omniscriptbaseaction=""
      ></slot></vlocity_ins-omniscript-set-values
    ><vlocity_ins-omniscript-dr-extract-action
      c-procalldocumentcertificatespanish_procalldocumentcertificatespanish=""
      data-omni-key="DataRaptorExtractAction2"
      vlocity_ins-omniscriptbaseaction_omniscriptbaseaction-host=""
      class="slds-hide"
      ><slot
        vlocity_ins-omniscriptbaseaction_omniscriptbaseaction=""
      ></slot></vlocity_ins-omniscript-dr-extract-action
    ><vlocity_ins-omniscript-dr-extract-action
      c-procalldocumentcertificatespanish_procalldocumentcertificatespanish=""
      data-omni-key="DataRaptorExtractAction1"
      vlocity_ins-omniscriptbaseaction_omniscriptbaseaction-host=""
      class=""
      ><slot
        vlocity_ins-omniscriptbaseaction_omniscriptbaseaction=""
      ></slot></vlocity_ins-omniscript-dr-extract-action
    ><vlocity_ins-omniscript-set-values
      c-procalldocumentcertificatespanish_procalldocumentcertificatespanish=""
      data-omni-key="SetValues3"
      vlocity_ins-omniscriptbaseaction_omniscriptbaseaction-host=""
      ><slot
        vlocity_ins-omniscriptbaseaction_omniscriptbaseaction=""
      ></slot></vlocity_ins-omniscript-set-values
    ><vlocity_ins-omniscript-step
      c-procalldocumentcertificatespanish_procalldocumentcertificatespanish=""
      data-omni-key="Step1"
      vlocity_ins-omniscriptstep_omniscriptstep-host=""
    ></vlocity_ins-omniscript-step
    ><vlocity_ins-omniscript-ip-action
      c-procalldocumentcertificatespanish_procalldocumentcertificatespanish=""
      data-omni-key="sendChannelEmail"
      vlocity_ins-omniscriptbaseaction_omniscriptbaseaction-host=""
      ><slot
        vlocity_ins-omniscriptbaseaction_omniscriptbaseaction=""
      ></slot></vlocity_ins-omniscript-ip-action
    ><vlocity_ins-omniscript-step
      c-procalldocumentcertificatespanish_procalldocumentcertificatespanish=""
      data-omni-key="Step2"
      vlocity_ins-omniscriptstep_omniscriptstep-host=""
    ></vlocity_ins-omniscript-step>
    <div
      c-procalldocumentcertificatespanish_procalldocumentcertificatespanish=""
      class="slds-grid slds-wrap slds-gutters slds-p-horizontal_medium slds-show_medium"
    >
      <div
        c-procalldocumentcertificatespanish_procalldocumentcertificatespanish=""
        class="slds-col slds-order_2 slds-medium-order_1 slds-size_12-of-12 slds-medium-size_6-of-12"
      >
        <div
          c-procalldocumentcertificatespanish_procalldocumentcertificatespanish=""
          class="omniscript-sfl-actions"
        >
          <vlocity_ins-navigate-action
            c-procalldocumentcertificatespanish_procalldocumentcertificatespanish=""
            data-omni-key="DEFAULT-CANCEL"
            ><slot></slot
          ></vlocity_ins-navigate-action>
        </div>
      </div>
      <div
        c-procalldocumentcertificatespanish_procalldocumentcertificatespanish=""
        class="slds-col slds-order_1 slds-medium-order_2 slds-size_12-of-12 slds-medium-size_6-of-12"
      >
        <div
          c-procalldocumentcertificatespanish_procalldocumentcertificatespanish=""
          class="slds-grid slds-wrap slds-grid_align-end omniscript-button-position"
        >
          <vlocity_ins-button
            c-procalldocumentcertificatespanish_procalldocumentcertificatespanish=""
            class="omniscript-btn-next slds-size_12-of-12 slds-m-bottom_x-small slds-medium-size_5-of-12"
            ><button
              class="vlocity-btn slds-button slds-button_brand slds-size_1-of-1 slds-p-horizontal_none slds-text-align_center"
              type="button"
              aria-label="Generar"
            >
              <span class="btnLabel">Generar</span>
            </button></vlocity_ins-button
          >
        </div>
      </div>
    </div>
    <div
      c-procalldocumentcertificatespanish_procalldocumentcertificatespanish=""
      class="slds-grid slds-wrap slds-gutters slds-p-horizontal_medium slds-hide_medium"
    >
      <div
        c-procalldocumentcertificatespanish_procalldocumentcertificatespanish=""
        class="slds-col slds-order_1 slds-medium-order_2 slds-size_12-of-12 slds-medium-size_6-of-12"
      >
        <div
          c-procalldocumentcertificatespanish_procalldocumentcertificatespanish=""
          class="slds-grid slds-wrap slds-grid_align-end"
        >
          <vlocity_ins-button
            c-procalldocumentcertificatespanish_procalldocumentcertificatespanish=""
            class="omniscript-btn-next slds-size_12-of-12 slds-m-bottom_x-small slds-medium-size_5-of-12"
            ><button
              class="vlocity-btn slds-button slds-button_brand slds-size_1-of-1 slds-p-horizontal_none slds-text-align_center"
              type="button"
              aria-label="Generar"
            >
              <span class="btnLabel">Generar</span>
            </button></vlocity_ins-button
          >
        </div>
      </div>
      <div
        c-procalldocumentcertificatespanish_procalldocumentcertificatespanish=""
        class="slds-col slds-order_2 slds-medium-order_1 slds-size_12-of-12 slds-medium-size_6-of-12"
      >
        <div
          c-procalldocumentcertificatespanish_procalldocumentcertificatespanish=""
          class="omniscript-sfl-actions"
        >
          <vlocity_ins-navigate-action
            c-procalldocumentcertificatespanish_procalldocumentcertificatespanish=""
            data-omni-key="DEFAULT-CANCEL"
            ><slot></slot
          ></vlocity_ins-navigate-action>
        </div>
      </div>
    </div>
  </div>
</article>
