<section id="rv_destacados" class="as__section as__rv_destacados">
  <div class="as__section_wrapper">
    <div class="as__section_content">
      <div class="as__rv_destacados_wrapper">
        <div class="as__rv_destacados_item as_rv_destacados_rent serv_renta">
          <div class="as__rv_destacados_image">
            <img
              src="/assets/images/img_ilus_renta_sob.webp"
              alt="Renta Vitalicia"
            />
          </div>
          <div class="as__rv_destacados_content">
            <h2><span>Renta Vitalicia</span> <b>por sobrevivencia</b></h2>
            <p>
              Si recibes una mesada pensional por el fallecimiento de un ser
              querido.
            </p>
          </div>
          <a href="/pension_sobreviviencia" class="as__button">
            <span>INGRESA AQUÍ PARA MÁS INFORMACIÓN</span>
            <i role="presentation" class="fa-light fa-arrow-right"></i>
          </a>
        </div>

        <div class="as__rv_destacados_item as_rv_destacados_prev serv_seguro">
          <div class="as__rv_destacados_image">
            <img
              src="/assets/images/img_ilus_renta_inv.webp"
              alt="Seguro Previsional"
            />
          </div>
          <div class="as__rv_destacados_content">
            <h2><span>Renta Vitalicia</span> <b>por invalidez</b></h2>
            <p>
              Si recibes una mesada pensional debido a una condición de
              invalidez.
            </p>
          </div>
          <a href="/pension_invalidez" class="as__button">
            <span>INGRESA AQUÍ PARA MÁS INFORMACIÓN</span>
            <i role="presentation" class="fa-light fa-arrow-right"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
