<section id="gestion" class="as__section as__gestion {{bg}}">
  <div class="as__section_wrapper">
    <div class="as__section_content">
      <div class="as__gestion_wrapper">
        <div class="as__gestion_ilustra">
          <h3>¿ Quién lo gestiona ?</h3>
          <div>
            <img
              src="/assets/images/img_gestion.webp"
              alt="¿ Quién lo gestiona ?"
            />
          </div>
        </div>

        <div class="as__gestion_content">
          <ul>
            <li class="prop_anim">
              <b>La Administradora de Fondos de Pensiones</b> mediante el
              monitoreo de las cuentas de sus pensionados y cuando las mesadas
              son cercanas al valor del Salario Mínimo Legal Mensual Vigente,
              tiene la obligación de cotizar y contratar la Renta Vitalicia con
              una aseguradora, con el fin de garantizar el beneficio pensional y
              la cobertura a futuro de tus mesadas.
            </li>
            <li class="prop_anim">
              <b>Los pensionados</b> en la modalidad de retiro programado en una
              AFP que soliciten su traslado hacia una aseguradora que
              comercialice dicho producto.
            </li>
            <li class="prop_anim">
               <b>Los afiliados a un Fondo de Pensiones</b> que cumplen las
              condiciones para comenzar a recibir el pago de su pensión por
              vejez o invalidez y/o los beneficiarios del afiliado fallecido que
              cumplen los requisitos de una pensión de sobrevivencia.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
