<section id="que_es" class="as__section as__que_es {{bg}}">
  <div class="as__section_wrapper">
    <div class="as__section_content">
      <h3 class="as__title_section">¿Qué es?</h3>
      <div class="as__que_es_wrapper">
        <div class="as__que_es_ilustra">
          <img
            src="/assets/images/quees_renta_vitalicia.webp"
            alt="Renta Vitalicia"
          />
        </div>

        <div class="as__que_es_content">
          <p class="prop_anim">
            Modalidad de pensión que se contrata con una Aseguradora de vida, en
            la cual
            <b
              >los pensionados reciben de forma periódica el pago de su renta
              pensional</b
            >
            siempre que cumplan con los requisitos establecidos en la
            normatividad vigente. Una Renta Vitalicia te ofrece tranquilidad y
            libertad.
          </p>

          <!-- <p class="prop_anim">
            La Renta Vitalicia
            <b>se ajusta anualmente de acuerdo al IPC o al SMMLV</b>
            según sea tu caso específico. Esta mesada personal te ofrece
            tranquilidad y libertad.
          </p> -->

          
          <p class="prop_anim">
            <b>Conoce las condiciones generales del producto</b>
          </p>
          <a
            href="/documentos/Condiciones-Generales-Renta-Vitalicia-Inmediata.pdf"
            target="_blank"
            class="as__button prop_anim"
          >
            <span>INGRESA AQUÍ</span>
            <i role="presentation" class="fa-light fa-arrow-right"></i>
          </a>
          <p class="prop_anim">
            *Consulta la
            <a
              href="https://fasecolda.com/ramos/seguridad-social/normatividad/"
              target="_blank"
              title="Normatividad aplicable al producto"
              >Normatividad aplicable al producto</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
