<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="preload"
      as="font"
      href="/assets/fonts/0a5eb17cd5d9a87b-s.p.woff"
      crossorigin=""
      type="font/woff"
    />
    <link
      rel="preload"
      as="font"
      href="/assets/fonts/33112a1a3babe854-s.p.woff"
      crossorigin=""
      type="font/woff"
    />
    <link
      rel="preload"
      as="font"
      href="/assets/fonts/60964256366d74f2-s.p.woff"
      crossorigin=""
      type="font/woff"
    />
    <link
      rel="preload"
      as="font"
      href="/assets/fonts/7d16627dbfbbee5d-s.p.woff"
      crossorigin=""
      type="font/woff"
    />
    <link
      rel="preload"
      as="font"
      href="/assets/fonts/87cbde00c95e8478-s.p.woff"
      crossorigin=""
      type="font/woff"
    />
    <link
      rel="preload"
      as="font"
      href="/assets/fonts/ce9abbd2222b7882-s.p.woff"
      crossorigin=""
      type="font/woff"
    />
    <link
      rel="preload"
      as="font"
      href="/assets/fonts/e86cc954d8c82a89-s.p.woff"
      crossorigin=""
      type="font/woff"
    />
    <link
      rel="preload"
      as="font"
      href="/assets/fonts/ee0063ed4c3236ca-s.p.woff"
      crossorigin=""
      type="font/woff"
    />
    <block name="head"> </block>

    <!-- FAVICON -->
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link
      rel="icon"
      type="image/x-icon"
      value="/assets/images/asu-favicon-alt.png"
    />
    <!-- STYLES -->
    <link href="/assets/css/app.css" rel="stylesheet" />
    <!-- SCRIPS -->
    <script
      src="https://kit.fontawesome.com/c43a2a9e8d.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body class="debug-screens" id="{{id}}">
    <include src="header.html" locals='{ "top": {{top}} }'></include>
    <div id="smooth-wrapper">
      <div id="smooth-content" class="as__wrapper">
        <block name="content"> </block>
      </div>
    </div>
    <div class="as__header_vigilado">
      <img src="/assets/images/vigilado_vert.png" alt="Vigilado" />
    </div>
    <include src="footer.html"></include>
    <script
      type="text/javascript"
      src="https://service.force.com/embeddedservice/5.0/esw.min.js"
    ></script>

    <script src="/assets/js/app.js"></script>
    <!-- CHAT  -->

    <!-- Accessibility Code for "cunning-goat-k2f2ym-dev-ed--c.trailblaze.vf.force.com" -->
    <script>
      window.interdeal = {
        sitekey: "c074ca6d2e877e9c8ed8da8d31a2f821",
        Position: "Right",
        Menulang: "ES",
        domains: {
          js: "https://cdn.equalweb.com/",
          acc: "https://access.equalweb.com/",
        },
        btnStyle: {
          vPosition: ["20%", null],
          scale: ["0.6", "0.6"],
          color: { main: "#273e82", second: "#ffffff" },
          icon: { type: 11, shape: "circle", outline: false },
        },
      };
      (function (doc, head, body) {
        var coreCall = doc.createElement("script");
        coreCall.src = interdeal.domains.js + "core/4.5.11/accessibility.js";
        coreCall.defer = true;
        coreCall.integrity =
          "sha512-ituk7fx8YI2pGzcu9bn3wbur6GvkBObBAGbpaq/9oRHAiODhgNxe7fstsL6nJJ8JmSwn3b6nH9i2Mtfr5tdkVw==";
        coreCall.crossOrigin = "anonymous";
        coreCall.setAttribute("data-cfasync", true);
        body ? body.appendChild(coreCall) : head.appendChild(coreCall);
      })(document, document.head, document.body);
    </script>
  </body>
</html>
