<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="preload"
      as="font"
      href="/assets/fonts/0a5eb17cd5d9a87b-s.p.woff"
      crossorigin=""
      type="font/woff"
    />
    <link
      rel="preload"
      as="font"
      href="/assets/fonts/33112a1a3babe854-s.p.woff"
      crossorigin=""
      type="font/woff"
    />
    <link
      rel="preload"
      as="font"
      href="/assets/fonts/60964256366d74f2-s.p.woff"
      crossorigin=""
      type="font/woff"
    />
    <link
      rel="preload"
      as="font"
      href="/assets/fonts/7d16627dbfbbee5d-s.p.woff"
      crossorigin=""
      type="font/woff"
    />
    <link
      rel="preload"
      as="font"
      href="/assets/fonts/87cbde00c95e8478-s.p.woff"
      crossorigin=""
      type="font/woff"
    />
    <link
      rel="preload"
      as="font"
      href="/assets/fonts/ce9abbd2222b7882-s.p.woff"
      crossorigin=""
      type="font/woff"
    />
    <link
      rel="preload"
      as="font"
      href="/assets/fonts/e86cc954d8c82a89-s.p.woff"
      crossorigin=""
      type="font/woff"
    />
    <link
      rel="preload"
      as="font"
      href="/assets/fonts/ee0063ed4c3236ca-s.p.woff"
      crossorigin=""
      type="font/woff"
    />

    <block name="head"> </block>
    <link rel="icon" href="favicon.ico" />
    <link href="/assets/css/app.css" rel="stylesheet" />

    <script
      src="https://kit.fontawesome.com/c43a2a9e8d.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <include src="header.html"></include>
    <div id="smooth-wrapper">
      <div id="smooth-content" class="as__wrapper">
        <block name="content"> </block>
      </div>
    </div>
    <div class="as__header_vigilado">
      <img src="/assets/images/vigilado_vert.png" alt="Vigilado" />
    </div>
    <include src="footer.html"></include>
    <script src="/assets/js/app.js"></script>
  </body>
</html>
