<div id="recomendaciones" class="ctab ctab1">
  <section id="as__ciber_t1" class="as__section as__ciber_t2 {{bg}}">
    <div class="as__section_wrapper">
      <div class="as__section_content">
        <p>
          En ASULADO, nuestra prioridad es asegurarnos de que tu experiencia con
          todos nuestros canales de comunicación sea segura y confiable para ti.
          Es fundamental que sigas las siguientes recomendaciones para cada uno
          de ellos, con el fin de mantener tus datos protegidos de posibles
          amenazas.
        </p>
      </div>
    </div>
  </section>

  <section
    class="bg-[#0f3c84] as__section bg-[url(/assets/images/ciber/2_1.svg)] bg-center bg-contain"
  >
    <div class="as__section_wrapper">
      <div class="as__section_content">
        <div
          class="py-16 w-full mx-auto max-w-3xl flex flex-col-reverse md:flex-row gap-8 md:justify-between md:items-center"
        >
          <div class="w-full md:w-1/2 flex flex-col gap-4">
            <h4 class="z-20 text-2xl md:text-5xl text-white font-je">
              <span class="inline-block rounded-full bg-azul-bright2 px-3 py-1"
                >WhatsApp</span
              >
            </h4>
            <div class="text-base text-white md:pr-12">
              <ul class="start-li">
                <li>
                  Asegúrate de que el número de contacto sea el mismo que
                  encuentras en nuestro sitio web oficial.
                </li>
                <li>
                  Si vas a descargar WhatsApp en tu dispositivo móvil, hazlo
                  desde las tiendas de aplicaciones oficiales (Play Store y App
                  Store).
                </li>
              </ul>
            </div>
          </div>
          <div class="w-full md:w-1/2">
            <img
              class="max-w-[300px] mx-auto"
              src="/assets/images/img_tab2_ciber.webp"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </section>

  <section
    class="bg-[#0f3c84] as__section bg-[url(/assets/images/ciber/2_1.svg)] bg-center bg-contain bg-no-repeat"
  >
    <div class="as__section_wrapper">
      <div class="as__section_content">
        <div
          class="py-16 w-full mx-auto max-w-3xl flex flex-col-reverse md:flex-row-reverse gap-8 md:justify-between md:items-center"
        >
          <div class="w-full md:w-1/2 flex flex-col gap-4">
            <h4 class="z-20 text-2xl md:text-5xl text-white font-je">
              <span class="inline-block rounded-full bg-azul-bright2 px-3 py-1"
                >WhatsApp</span
              >
            </h4>
            <div class="text-base text-white md:pl-12">
              <ul class="start-li">
                <li>
                  Asegúrate de que el número de contacto sea el mismo que
                  encuentras en nuestro sitio web oficial.
                </li>
                <li>
                  Si vas a descargar WhatsApp en tu dispositivo móvil, hazlo
                  desde las tiendas de aplicaciones oficiales (Play Store y App
                  Store).
                </li>
              </ul>
            </div>
          </div>
          <div class="w-full md:w-1/2">
            <img
              class="max-w-[300px] mx-auto"
              src="/assets/images/img_tab2_ciber.webp"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </section>

  <div id="" class="bg-BG-1 as__section">
    <div class="as__section_wrapper">
      <div class="compo">
        <div
          class="w-fullflex flex-col md:inline-grid md:grid-cols-5 md:grid-rows-5 gap-2 py-12 px-16 md:px-0 md:py-0 auto-rows-auto"
        >
          <div class="col-start-3 col-span-4 row-start-1 row-span-4">
            <img
              class="mt-8 max-w-sm z-10 self-center w-full mx-auto md:max-w-[400px]"
              src="/assets/images/img_tab2_ciber.webp"
              alt=""
            />
          </div>
          <h4
            class="-mt-10 z-20 text-3xl md:text-5xl text-white font-je col-start-1 col-span-4 row-start-1 row-span-3 self-end md:mt-0 md:ml-20"
          >
            <span class="inline-block rounded-full bg-azul-dark px-3 py-1"
              >WhatsApp</span
            >
          </h4>

          <div
            class="col-start-3 col-span-2 text-sm text-azul-dark row-start-5 row-span-1 ciber-int"
          >
            <ul>
              <li>
                Asegúrate de que el número de contacto sea el mismo que
                encuentras en nuestro sitio web oficial.
              </li>
              <li>
                Si vas a descargar WhatsApp en tu dispositivo móvil, hazlo desde
                las tiendas de aplicaciones oficiales (Play Store y App Store).
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section id="as__ciber_t1_slider" class="as__section as__ciber_t2_grid">
    <div class="as__section_wrapper">
      <div class="as__section_content as-ciber">
        <div class="itmes-ciber">
          <div class="ciber-int">
            <i
              class="fa-regular fa-square text-2xl absolute left-36 top-0.5 text-amarillo-light"
            ></i>
            <i
              class="fa-regular fa-square text-base absolute left-12 bottom-12 text-amarillo-light"
            ></i>

            <div class="ciber-int-top">
              <div>
                <img src="/assets/images/img-ciber-t1.png" alt="" />
              </div>
              <h3>Para el chat en nuestra <span>página web</span> (LUSA):</h3>
            </div>
            <ul>
              <li>
                Ingresa al chat con Lusa únicamente a través del sitio web
                oficial de ASULADO (www.asulado.com).
              </li>
              <li>
                Evita compartir información que pueda comprometer la seguridad
                de tus datos e información, como contraseñas, claves o datos
                bancarios.
              </li>
              <li>
                No accedas a enlaces sin estar 100% seguro de que son confiables
                y provengan de fuentes oficiales.
              </li>
            </ul>
          </div>
          <div class="ciber-int">
            <i
              class="fa-regular fa-square text-2xl absolute left-36 top-0.5 text-amarillo-light"
            ></i>
            <i
              class="fa-regular fa-square text-base absolute left-12 bottom-12 text-amarillo-light"
            ></i>
            <div class="ciber-int-top">
              <div>
                <img src="/assets/images/img-ciber-t2.png" alt="" />
              </div>
              <h3>Para nuestro canal de <span>WhatsApp:</span></h3>
            </div>
            <ul>
              <li>
                Asegúrate de que el número de contacto sea el mismo que
                encuentras en nuestro sitio web oficial.
              </li>
              <li>
                Si vas a descargar WhatsApp en tu dispositivo móvil, hazlo desde
                las tiendas de aplicaciones oficiales (Play Store y App Store).
              </li>
              <li>
                Evita compartir información que pueda comprometer la seguridad
                de tus datos e información, como contraseñas, claves o datos
                bancarios.
              </li>
              <li>
                No accedas a enlaces sin estar 100% seguro de que son confiables
                y provengan de fuentes oficiales.
              </li>
            </ul>
          </div>
        </div>
        <hr class="hidden md:block border-white" />

        <div class="itmes-ciber">
          <div class="ciber-int">
            <i
              class="fa-regular fa-square text-2xl absolute left-36 top-0.5 text-amarillo-light"
            ></i>
            <i
              class="fa-regular fa-square text-base absolute left-12 bottom-12 text-amarillo-light"
            ></i>
            <div class="ciber-int-top">
              <div>
                <img src="/assets/images/img-ciber-t3.png" alt="" />
              </div>
              <h3>Para nuestro <span>portal de contenidos:</span></h3>
            </div>
            <ul>
              <li>
                Evita compartir información que pueda comprometer la seguridad
                de tus datos e información, como contraseñas, claves o datos
                bancarios.
              </li>
              <li>
                No accedas a enlaces sin estar 100% seguro de que son confiables
                y provengan de fuentes oficiales.
              </li>
            </ul>
          </div>
          <div class="ciber-int">
            <i
              class="fa-regular fa-square text-2xl absolute left-36 top-0.5 text-amarillo-light"
            ></i>
            <i
              class="fa-regular fa-square text-base absolute left-12 bottom-12 text-amarillo-light"
            ></i>
            <div class="ciber-int-top">
              <div>
                <img src="/assets/images/img-ciber-t4.png" alt="" />
              </div>
              <h3>Para nuestro <span>portal transaccional:</span></h3>
            </div>
            <ul>
              <li>
                Asegúrate de que tu contraseña sea segura: que tenga mínimo 8
                caracteres y combine letras mayúsculas y minúsculas, números y
                caracteres especiales.
              </li>
              <li>
                Evita compartir información que pueda comprometer la seguridad
                de tus datos e información, como contraseñas, claves o datos
                bancarios.
              </li>
              <li>
                No accedas a enlaces sin estar 100% seguro de que son confiables
                y provengan de fuentes oficiales.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
