<div id="recomendaciones" class="ctab ctab1">
  <section id="as__ciber_t1" class="as__section as__ciber_t2 {{bg}}">
    <div class="as__section_wrapper">
      <div class="as__section_content">
        <p>
          En ASULADO, nuestra prioridad es asegurarnos de que tu experiencia con
          todos nuestros canales de comunicación sea segura y confiable para ti.
          Es fundamental que sigas las siguientes recomendaciones para cada uno
          de ellos, con el fin de mantener tus datos protegidos de posibles
          amenazas.
        </p>
      </div>
    </div>
  </section>

  <section id="as__ciber_t1_slider" class="as__section as__ciber_t2_grid">
    <div class="as__section_wrapper">
      <div class="as__section_content as-ciber">
        <div class="itmes-ciber">
          <div class="ciber-int">
            <i
              class="fa-regular fa-square text-2xl absolute left-36 top-0.5 text-amarillo-light"
            ></i>
            <i
              class="fa-regular fa-square text-base absolute left-12 bottom-12 text-amarillo-light"
            ></i>

            <div class="ciber-int-top">
              <div>
                <img src="/assets/images/img-ciber-t1.png" alt="" />
              </div>
              <h3>Para el chat en nuestra <span>página web</span> (LUSA):</h3>
            </div>
            <ul>
              <li>
                Ingresa al chat con Lusa únicamente a través del sitio web
                oficial de ASULADO (www.asulado.com).
              </li>
              <li>
                Evita compartir información que pueda comprometer la seguridad
                de tus datos e información, como contraseñas, claves o datos
                bancarios.
              </li>
              <li>
                No accedas a enlaces sin estar 100% seguro de que son confiables
                y provengan de fuentes oficiales.
              </li>
            </ul>
          </div>
          <div class="ciber-int">
            <i
              class="fa-regular fa-square text-2xl absolute left-36 top-0.5 text-amarillo-light"
            ></i>
            <i
              class="fa-regular fa-square text-base absolute left-12 bottom-12 text-amarillo-light"
            ></i>
            <div class="ciber-int-top">
              <div>
                <img src="/assets/images/img-ciber-t1.png" alt="" />
              </div>
              <h3>Para el chat en nuestra <span>página web</span> (LUSA):</h3>
            </div>
            <ul>
              <li>
                Ingresa al chat con Lusa únicamente a través del sitio web
                oficial de ASULADO (www.asulado.com).
              </li>
              <li>
                Evita compartir información que pueda comprometer la seguridad
                de tus datos e información, como contraseñas, claves o datos
                bancarios.
              </li>
              <li>
                No accedas a enlaces sin estar 100% seguro de que son confiables
                y provengan de fuentes oficiales.
              </li>
            </ul>
          </div>
        </div>
        <hr class="hidden md:block border-white" />

        <div class="itmes-ciber">
          <div class="ciber-int">
            <i
              class="fa-regular fa-square text-2xl absolute left-36 top-0.5 text-amarillo-light"
            ></i>
            <i
              class="fa-regular fa-square text-base absolute left-12 bottom-12 text-amarillo-light"
            ></i>
            <div class="ciber-int-top">
              <div>
                <img src="/assets/images/img-ciber-t1.png" alt="" />
              </div>
              <h3>Para el chat en nuestra <span>página web</span> (LUSA):</h3>
            </div>
            <ul>
              <li>
                Ingresa al chat con Lusa únicamente a través del sitio web
                oficial de ASULADO (www.asulado.com).
              </li>
              <li>
                Evita compartir información que pueda comprometer la seguridad
                de tus datos e información, como contraseñas, claves o datos
                bancarios.
              </li>
              <li>
                No accedas a enlaces sin estar 100% seguro de que son confiables
                y provengan de fuentes oficiales.
              </li>
            </ul>
          </div>
          <div class="ciber-int">
            <i
              class="fa-regular fa-square text-2xl absolute left-36 top-0.5 text-amarillo-light"
            ></i>
            <i
              class="fa-regular fa-square text-base absolute left-12 bottom-12 text-amarillo-light"
            ></i>
            <div class="ciber-int-top">
              <div>
                <img src="/assets/images/img-ciber-t1.png" alt="" />
              </div>
              <h3>Para el chat en nuestra <span>página web</span> (LUSA):</h3>
            </div>
            <ul>
              <li>
                Ingresa al chat con Lusa únicamente a través del sitio web
                oficial de ASULADO (www.asulado.com).
              </li>
              <li>
                Evita compartir información que pueda comprometer la seguridad
                de tus datos e información, como contraseñas, claves o datos
                bancarios.
              </li>
              <li>
                No accedas a enlaces sin estar 100% seguro de que son confiables
                y provengan de fuentes oficiales.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
